<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>게시글 상세정보</title>
</head>
<body>
<div th:fragment="admin-board-modal" class="background modal-custom">
	<div class="window">
		<div class="modal">
			<div class="modal-wrapper">
				<div id="modal-top">
					<div id="modal-title">
						게시글 상세정보
						<label>
							<img id="exit" src="/images/admin/exit.png">
							<button id="close"></button>
						</label>
					</div>
				</div>
				<div id="modal-main">
					<form>
						<div class="input-wrapper">
							<div class="input-text">글 제목</div>
							<input type="text" id="text-title" value="꿀팁 공유부탁드려요!" class="user-input" readonly>
						</div>
						<div class="input-wrapper">
							<div class="input-text">글 내용</div>
							<input type="text" id="text-content" value="눈길 운전은 어떻게 하나요?" class="user-input" readonly >
						</div>
						<div class="input-wrapper" style="margin-top: 30px;">
							<div class="input-text">사진</div>
							<img src="/images/main/review01.jpeg" class="board-image">
						</div>
					</form>
				</div>
				<div id="modal-bottom">
					<button id="edit-button1" onclick="">확인</button>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>