<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>관리자 홈</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
	<link rel="stylesheet" href="/css/admin/admin-common.css" />
	<link rel="stylesheet" href="/css/admin-components/admin-aside.css" />
	<link rel="stylesheet" href="/css/admin-components/admin-header.css" />
	<link rel="stylesheet" href="/css/admin/admin-home.css" />
	<link rel="shortcut icon" href="/images/components/favicon-logo-white.png">
</head>
<body>
<!-- -------------- header -------------- -->
<div th:insert="~{admin-components/admin-header:: admin-header}"></div>
<!-- -------------- header end --------------  -->
<!-- -------------- aside -------------- -->
<div th:insert="~{admin-components/admin-aside:: admin-aside}"></div>
<!-- -------------- aside end --------------  -->
<main class="module-container">
	<article class="module--welcome">
		<h2 class="welcome__text">안녕하세요!</h2>
		<h2 class="welcome__user-name">관리자님</h2>
	</article>
	<article class="module module--daily-summary">
		<p class="module__title">
			회원 정보
		</p>
		<div class="card-body border-top today-table">
			<div class="tt-list">
				전체 가입자
				<span class="text-danger" th:text="${members[0]}"></span>
				현재 회원
				<span class="text-danger" th:text="${members[1]}"></span>
				탈퇴 회원
				<span class="text-danger" th:text="${members[2]}"></span>
			</div>
		</div>
	</article>
	<article class="module module--monthly-statistics">
		<p class="module__title">연수 신청 현황
		</p>
		<div class="card-body border-top today-table">
			<div class="tt-list">
				전체
				<span class="text-danger" th:text="${applies[0]}">3</span>
				신청수
				<span class="text-danger" th:text="${applies[1]}">1</span>
			</div>
		</div>
	</article>
	<article class="module module--closed-qna">
		<p class="module__title">포인트 결제 현황
		</p>
		<div class="card-body border-top today-table">
			<div class="tt-list">
				포인트 결제
				<span class="text-danger" th:text="${points[0]}">3</span>
				포인트 환전
				<span class="text-danger" th:text="${points[1]}">1</span>
			</div>
		</div>
	</article>
	<article class="module module--new-articles">
		<p class="module__title">후기 관리</p>
		<div class="mBoardList notice">
			<ul><x></x>
				<li th:each="review: ${reviews}">
					<a data-gtm="DATA_notice_contents" th:href="@{/admin/review/list}" th:text="'[후기] ' + ${review.reviewTitle}"></a>
					<span class="date" th:text="${review.reviewRegisterDate}"></span>
				</li>
			</ul>
		</div>
	</article>
	<article class="module module--new-dispute">
		<p class="module__title">게시글 관리</p>
		<div class="mBoardList notice">
			<ul>
				<li th:each="board: ${boards}">
					<a data-gtm="DATA_notice_contents" href="@{/admin/board/list}" th:text="'[게시글] ' + ${board.boardTitle}"></a>
					<span class="date" th:text="${board.boardRegisterDate}"></span>
				</li>
			</ul>
		</div>
	</article>
	<article class="module module--todo-today">
		<p class="module__title">댓글 관리</p>
		<div class="mBoardList notice">
			<ul>
				<li th:each="reply: ${replies}">
					<a data-gtm="DATA_notice_contents" href="@{/admin/reply/list}" th:text="'[댓글] ' + ${reply.replyContent}"></a>
					<span class="date" th:text="${reply.replyRegisterDate}"></span>
				</li>
			</ul>
		</div>
	</article>
</main>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:inline="javascript">
	console.log([[${replies}]]);

	function changeDate(e) {
		var date = new Date(e);
		var year = date.getFullYear();
		var month = ("0" + (1 + date.getMonth())).slice(-2);
		var day = ("0" + date.getDate()).slice(-2);

		return year + "-" + month + "-" + day;
	}

	let $date = $(".date");

	$date.each((i, e) => {
		let newDate = changeDate($(e).text());
		$(e).text(newDate);
	});
</script>
</html>

