<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>관리자 홈</title>
<link rel="stylesheet" href="../../static/css/components/sanitize.css" />
<!-- 아레에 페이지별로 갈아 끼워야할 CSS -->
<link rel="stylesheet" href="../../static/css/admin/admin-home.css" />
<link rel="stylesheet" href="../../static/css/components/user-modal.css" />
<link rel="stylesheet" href="../../static/css/components/admin-aside.css" />
<link rel="stylesheet" href="../../static/css/components/admin-header.css" />
</head>
<body>
	<!-- header -->
	<header id="admin-header" class="page">
		<div class="page-info">
			<img src="../../static/images/admin/menubar.png" alt="icon" class="page-info__icon" />
			<ul>
				<a href="">
						<span>
							<li class="page-info__detail page-info--current">관리자 홈</li>
						</span>
				</a>
			</ul>
		</div>
		<div class="page-language">
			<button class="Button_button__1e2A2 Button_tertiaryGrey__3gRf4 Button_text__3KyLl Button_md__1FRMG" type="button" href="">
				<div class="AnnouncementButton_container__1p1gr" role="button">
					<a href="">
						<strong>홈페이지</strong>
					</a>
				</div>
				<!-- <span class="Badge_container__3mdFR AnnouncementButton_badge__2Jq25">
				</span> -->
			</button>
			<button class="Button_button__1e2A2 Button_tertiaryGrey__3gRf4 Button_text__3KyLl Button_md__1FRMG" type="button" href="">
					<span>
						<span class="Button_children__q9VCZ">
							<a href="">
								<strong>LOGOUT</strong>
							</a>
						</span>
					</span>
			</button>
		</div>
	</header>
	<!-- -------------- header end --------------  -->
	<!-- aside -->
	<aside id="admin-aside" class="sidebar">
		<header class="sidebar-header">
			<h1>교차로<br>관리자페이지</h1>
		</header>
		<nav>
			<ul>
				<label>
					<a href="">
						<li>
							<details>
								<summary class="nav-menu menu--current">
									<h2 class="menu__title">관리자 홈</h2>
								</summary>
							</details>
						</li>
					</a>
				</label>
				<li>
					<details>
						<summary class="nav-menu">
							<h2 class="menu__title">회원</h2>
							<img src="../../static/images/admin/dropdown.png" alt="icon" class="menu__icon--drop-down" />
						</summary>
						<ul class="nav-menu-submenu">
							<a href="">
									<span id="sidelist">
										<li class="submenu__item">회원정보</li>
									</span>
							</a>
							<!-- <li class="submenu__item"><a href="./user.html">
							<li class="submenu__item">
								<a href="${pageContext.request.contextPath}/admin/user.admin">
									<span id="sidelist">탈퇴회원</span>
								</a>
							</li> -->
						</ul>
					</details>
				</li>
				<li>
					<details>
						<summary class="nav-menu">
							<h2 class="menu__title">연수신청 관리</h2>
							<img src="../../static/images/admin/dropdown.png" alt="icon" class="menu__icon--drop-down" />
						</summary>
						<ul class="nav-menu-submenu">
							<a href="">
									<span id="sidelist">
										<li class="submenu__item">초보자 신청</li>
									</span>
							</a>
							<a href="">
									<span id="sidelist">
										<li class="submenu__item">베테랑 신청</li>
									</span>
							</a>
						</ul>
					</details>
				</li>
				<li>
					<details>
						<summary class="nav-menu">
							<h2 class="menu__title">포인트 결제 관리</h2>
							<img src="../../static/images/admin/dropdown.png" alt="icon" class="menu__icon--drop-down" />
						</summary>
						<ul class="nav-menu-submenu">
							<a href="">
									<span id="sidelist">
										<li class="submenu__item">결제</li>
									</span>
							</a>
							<a href="">
									<span id="sidelist">
										<li class="submenu__item">홍보</li>
									</span>
							</a>
							<a href="">
									<span id="sidelist">
										<li class="submenu__item">결제</li>
									</span>
							</a>
						</ul>
					</details>
				</li>
				<li><details>
					<summary class="nav-menu">
						<h2 class="menu__title">후기</h2>
						<img src="../../static/images/admin/dropdown.png" alt="icon" class="menu__icon--drop-down" />
					</summary>
					<ul class="nav-menu-submenu">
						<a href="">
									<span id="sidelist">
										<li class="submenu__item">후기 관리</li>
									</span>
						</a>
					</ul>
					<ul class="nav-menu-submenu">
						<a href="">
									<span id="sidelist">
										<li class="submenu__item">댓글 관리</li>
									</span>
						</a>
					</ul>
				</details>
				</li>
			</ul>
		</nav>
	</aside>
	<!-- -------------- header end --------------  -->
	<!-- 페이지별로 class 이름 기능에 맞게 재설정 -->
	<main class="module-container">
		<article class="module--welcome">
			<h2 class="welcome__text">안녕하세요!</h2>
			<h2 class="welcome__user-name">관리자님</h2>
		</article>
		<article class="module module--resolution">
			<p class="module__title">
				접속 정보 <span class="text-default-bright header-badge badge-danger">new</span>
			</p>
			<div class="card-body border-top today-table">
				<div class="tt-list">
					전체 접속자 
					<span class="text-danger">5</span> 
					오늘 접속자 
					<span class="text-danger">2</span> 
					어제 접속자 
					<span class="text-danger">3</span>
					현재 접속인원 
					<span class="text-danger">2</span>
				</div>
			</div>
		</article>
		<article class="module module--daily-summary">
			<p class="module__title">
				회원 정보<span class="text-default-bright header-badge badge-danger">new</span>
			</p>
			<div class="card-body border-top today-table">
				<div class="tt-list">
					전체 가입자 
					<span class="text-danger">6</span> 
					가입 회원 
					<span class="text-danger">7</span> 
					탈퇴 회원 
					<span class="text-danger">1</span>
				</div>
			</div>
		</article>
		<!-- <article class="module module--todo-today">
			<p class="module__title">홍보글 현황</p>
			<div class="mBoardList notice">
				<ul>
					<li><a data-gtm="DATA_notice_contents" href="#none"> <strong>[공지사항]
								이용 주의사항</strong></a> <span class="date">2023-01-31</span></li>
					<li><a data-gtm="DATA_notice_contents" href="#none">
							[홍보게시판] 자바의 신 윤민우가 추천하는 따즈아 강의!</a> <span class="date">2023-02-21</span>
					</li>
					<li><a data-gtm="DATA_notice_contents" href="#none">
							[홍보게시판] 김세윤이 좋아하는 부어치킨 8000원에서 7000원으로 할인중!! </a> <span class="date">2023-02-21</span>
					</li>
					<li><a data-gtm="DATA_notice_contents" href="#none">
							[홍보게시판] 스크롤 실험 </a> <span class="date">2023-02-21</span>
					</li>
					<li><a data-gtm="DATA_notice_contents" href="#none">
							[홍보게시판] 스크롤 실험 </a> <span class="date">2023-02-21</span>
					</li>
					<li><a data-gtm="DATA_notice_contents" href="#none">
							[홍보게시판] 스크롤 실험 </a> <span class="date">2023-02-21</span>
					</li>
					<li><a data-gtm="DATA_notice_contents" href="#none">
							[홍보게시판] 스크롤 실험 </a> <span class="date">2023-02-21</span>
					</li>
					

				</ul>
			</div>
		</article> -->
		<article class="module module--monthly-statistics">
			<p class="module__title">연수 신청 현황 <span class="text-default-bright header-badge badge-danger">new</span>
			</p>
			<div class="card-body border-top today-table">
				<div class="tt-list">
					전체 
					<span class="text-danger">3</span> 
					신청수 
					<span class="text-danger">1</span> 
				</div>
			</div>
		</article>
		<article class="module module--new-dispute">
			<p class="module__title">후기 게시판</p>
			<div class="mBoardList notice">
				<ul>
					<li><a data-gtm="DATA_notice_contents" href="#none"> <strong>[공지사항]
								이용 주의사항</strong></a> <span class="date">2023-01-31</span>
					</li>
					<li><a data-gtm="DATA_notice_contents" href="#none">
							[후기] test01</a> <span class="date">2023-03-17</span>
					</li>
					<li><a data-gtm="DATA_notice_contents" href="#none">
							[후기] test02 </a> <span class="date">2023-03-22</span>
					</li>
					<li><a data-gtm="DATA_notice_contents" href="#none">
							[후기] test03 </a> <span class="date">2023-03-22</span>
					</li>
					<li><a data-gtm="DATA_notice_contents" href="#none">
							[후기] test02 </a> <span class="date">2023-03-22</span>
					</li>
					<li><a data-gtm="DATA_notice_contents" href="#none">
							[후기] test03 </a> <span class="date">2023-03-22</span>
					</li>
				</ul>
			</div>
		</article>
		<article class="module module--closed-qna">
			<p class="module__title">추가하기</p>
		</article>
		<!-- <article class="module module--new-articles">
			<p class="module__title">가전기부 게시판</p>
			<div class="mBoardList notice">
				<ul>
					<li><a data-gtm="DATA_notice_contents" href="#none"> <strong>[공지사항]
								이용 주의사항</strong></a> <span class="date">2023-01-31</span>
					</li>
					<li><a data-gtm="DATA_notice_contents" href="#none">
							[가전] KoreaIT 컴퓨터 전부 기부합니다.</a> <span class="date">2023-02-17</span>
					</li>
					<li><a data-gtm="DATA_notice_contents" href="#none">
							[가전] 역삼역에서 노트북 5년 쓴거 기부합니다. </a> <span class="date">2023-02-22</span>
					</li>
					<li><a data-gtm="DATA_notice_contents" href="#none">
							[가전] 무선 마우스 기부합니다. </a> <span class="date">2023-02-22</span>
					</li>
					<li><a data-gtm="DATA_notice_contents" href="#none">
							[가전] IT코리아 컴퓨터 전부 기부합니다.</a> <span class="date">2023-02-17</span>
					</li>
					<li><a data-gtm="DATA_notice_contents" href="#none">
							[가전] test </a> <span class="date">2023-02-16</span>
					</li>
					<li><a data-gtm="DATA_notice_contents" href="#none">
							[가전] test </a> <span class="date">2023-02-15</span>
					</li>
					
					
				</ul>
			</div>
		</article> -->
	</main>
</body>
</html>
