<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>게시판 목록</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
	<link rel="stylesheet" href="/css/admin/admin-common.css" />
	<link rel="stylesheet" href="/css/admin/admin-review.css" />
	<link rel="stylesheet" href="/css/modal/admin/admin-review-modal.css" />
	<link rel="stylesheet" href="/css/admin-components/admin-aside.css" />
	<link rel="stylesheet" href="/css/admin-components/admin-header.css" />
	<link rel="shortcut icon" href="/images/components/favicon-logo-white.png">
</head>
<body>
<!-- -------------- header -------------- -->
<div th:insert="~{/admin-components/admin-header:: admin-header}"></div>
<!-- -------------- header end --------------  -->
<!-- -------------- aside -------------- -->
<div th:insert="~{/admin-components/admin-aside:: admin-aside}"></div>
<!-- -------------- aside end --------------  -->
<main class="module-container">
	<article class="module--search">
		<div class="search__searchbox">
			<form action="" class="search__searchbox__form">
				<input id="searchbox" type="text" placeholder="원하시는 키워드로 찾아보세요" />
				<button type="button" class="search__searchbox__button">
					<img src="/images/admin/search.png" alt="" />
				</button>
			</form>
		</div>
	</article>
	<article class="module module--content-summary">
		<button type="button" class="modal_test" style="margin: 0 0 0 -33px; font-size: 16px;">선택 삭제</button>
	</article>
	<article class="module module--content-list">
		<div class="content-list__title-container">
			<div class="content-list__title-unit">
				<input type="checkbox" id="title__checkbox" name="checkbox-all" />
				<ul class="content-list__title">
					<li class="title__id">번호</li>
					<li class="title__user">작성자</li>
					<li class="title__title">제목</li>
					<li class="title__contents">내용</li>
					<li class="title__date">등록일</li>
					<li class="title__reply">댓글</li>
					<li class="title__detail">상세</li>
				</ul>
			</div>
		</div>
		<div id="scroll">
			<div class="content-list__info-container">
				<!-- <ul class="user-list__info">
                        <li>등록된 가이드가 없습니다.</li>
                    </ul> -->
				<div class="content-list__info-unit">
					<input type="checkbox" class="content__checkbox" id="" name="checkbox" />
					<label for="" class="content__checkbox--label">
						<ul class="content-list__info">
							<li class="content__id">00030</li>
							<li class="content__user">정세인</li>
							<li class="content__title">꿀팁 공유부탁드려요!</li>
							<li class="content__contents">눈길 운전은 어떻게 하나요?</li>
							<li class="content__date">2023-03-23</li>
							<li class="content__reply">4</li>
							<li class="user__detail" name="userDetail">
								<button class="custom-btn btn-16 show" style="font-weight: 10px;" id="show">상세 정보</button>
							</li>
						</ul>
					</label>
				</div>
			</div>
			<div class="content-list__info-container">
				<!-- <ul class="user-list__info">
                        <li>등록된 가이드가 없습니다.</li>
                    </ul> -->
				<div class="content-list__info-unit">
					<input type="checkbox" class="content__checkbox" id="" name="checkbox" />
					<label for="" class="content__checkbox--label">
						<ul class="content-list__info">
							<li class="content__id">00029</li>
							<li class="content__user">정세인</li>
							<li class="content__title">강사님 최고</li>
							<li class="content__contents">한동석 강사님 너무 좋았어요</li>
							<li class="content__date">2023-03-20</li>
							<li class="content__reply">7</li>
							<li class="user__detail" name="userDetail">
								<button class="custom-btn btn-16 show" style="font-weight: 10px;">상세 정보</button>
							</li>
						</ul>
					</label>
				</div>
			</div>
			<div class="content-list__info-container">
				<div class="content-list__info-unit">
					<input type="checkbox" class="content__checkbox" id="" name="checkbox"/>
					<label for="" class="content__checkbox--label">
						<ul class="content-list__info">
							<li class="content__id">00028</li>
							<li class="content__user">윤민우</li>
							<li class="content__title">너무 좋아요</li>
							<li class="content__contents">평생 운전 못할줄 알았는데 제가 운전을 하다니...!</li>
							<li class="content__date">2023-01-23</li>
							<li class="content__reply">7</li>
							<li class="user__detail" name="userDetail">
								<button class="custom-btn btn-16 show" style="font-weight: 10px;">상세 정보</button>
							</li>
						</ul>
					</label>
				</div>
			</div>
			<div class="content-list__info-container">
				<div class="content-list__info-unit">
					<input type="checkbox" class="content__checkbox" id="" name="checkbox"/>
					<label for="" class="content__checkbox--label">
						<ul class="content-list__info">
							<li class="content__id">00027</li>
							<li class="content__user">김세윤</li>
							<li class="content__title">이제 속초로 떠날게요</li>
							<li class="content__contents">교통편이 불편했는데 운전해서 갈 수 있을 것 같아요!</li>
							<li class="content__date">2023-01-23</li>
							<li class="content__reply">7</li>
							<li class="user__detail" name="userDetail">
								<button class="custom-btn btn-16 show" style="font-weight: 10px;">상세 정보</button>
							</li>
						</ul>
					</label>
				</div>
			</div>
			<div class="content-list__info-container">
				<div class="content-list__info-unit">
					<input type="checkbox" class="content__checkbox" id="" name="checkbox"/>
					<label for="" class="content__checkbox--label">
						<ul class="content-list__info">
							<li class="content__id">00026</li>
							<li class="content__user">박다예</li>
							<li class="content__title">아빠한테 배우다가 안되겠어서 추천받았는데...</li>
							<li class="content__contents">만족합니다. 가족들한테는 되도록 연수받지 맙시다.</li>
							<li class="content__date">2023-01-23</li>
							<li class="content__reply">7</li>
							<li class="user__detail" name="userDetail">
								<button class="custom-btn btn-16 show" style="font-weight: 10px;">상세 정보</button>
							</li>
						</ul>
					</label>
				</div>
			</div>
			<div class="content-list__info-container">
				<div class="content-list__info-unit">
					<input type="checkbox" class="content__checkbox" id="" name="checkbox"/>
					<label for="" class="content__checkbox--label">
						<ul class="content-list__info">
							<li class="content__id">00025</li>
							<li class="content__user">김욱성</li>
							<li class="content__title">브레이크랑 엑셀이랑 헷갈려요ㅠ</li>
							<li class="content__contents">강사님이 무서워하셨지만 연수 잘 마쳤습니다</li>
							<li class="content__date">2023-01-23</li>
							<li class="content__reply">7</li>
							<li class="user__detail" name="userDetail">
								<button class="custom-btn btn-16 show" style="font-weight: 10px;">상세 정보</button>
							</li>
						</ul>
					</label>
				</div>
			</div>
			<!-- 목록 테스트 추가  -->
		</div>
		<div class="desktop-only">
			<!-- 데스크탑용 버튼 -->
			<button class="prev-page icon-chevron-left" onclick="movePage(0)" disabled="">
				<span class="text-hidden">이전</span>
			</button>
			<!-- 데스크탑용 페이지 리스트 -->
			<a class="current" href="#" onclick="movePage(1)">1</a>
			<a href="#" onclick="movePage(2)">2</a>
			<a href="#" onclick="movePage(3)">3</a>
			<a href="#" onclick="movePage(4)">4</a>
			<a href="#" onclick="movePage(5)">5</a>
			<a href="#" onclick="movePage(6)"></a>
			<!-- 데스크탑용 버튼 -->
			<button class="next-page icon-chevron-right" onclick="movePage(7)">
				<span class="text-hidden">다음</span>
			</button>
		</div>
	</article>
</main>
<!-- 후기작성 상세 modal -->
<div th:insert="~{modal/admin/admin-board-modal:: admin-board-modal}"></div>
<!-- modal fin. -->
</body>
<script src="/js/admin/admin-checkbox.js"></script>
<script src="/js/admin/admin-modal.js"></script>
</html>
