<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>포인트 내역</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
	<link rel="stylesheet" href="/css/admin/admin-common.css" />
	<link rel="stylesheet" href="/css/admin-components/admin-aside.css" />
	<link rel="stylesheet" href="/css/admin-components/admin-header.css" />
	<link rel="stylesheet" href="/css/admin/admin.css" />
	<link rel="shortcut icon" href="/images/components/favicon-logo-white.png">
</head>
<body>
<!-- -------------- header -------------- -->
<div th:insert="~{/admin-components/admin-header:: admin-header}"></div>
<!-- -------------- header end --------------  -->
<!-- -------------- aside -------------- -->
<div th:insert="~{/admin-components/admin-aside:: admin-aside}"></div>
<!-- -------------- aside end --------------  -->
<main class="module-container">
	<article class="module--search">
		<div class="search__searchbox">
			<form action="" class="search__searchbox__form">
				<input id="searchbox" type="text" placeholder="원하시는 키워드로 찾아보세요" />
				<button type="button" class="search__searchbox__button">
					<img src="/images/admin/search.png" alt="" />
				</button>
			</form>
		</div>
	</article>
	<article class="module module--support-controller">
		<button type="button" style="margin: 0 0 0 -33px; font-size: 16px;">선택 삭제</button>
	</article>
	<article class="module module--support-list">
		<div class="support-list__title-container">
			<div class="support-list__title-unit">
				<input type="checkbox" id="title__checkbox" name="checkbox-all" />
				<ul class="support-list__title">
					<li class="title__id">번호</li>
					<li class="title__type">회원타입</li>
					<li class="title__user-id">회원ID</li>
					<li class="title__user-name">회원이름</li>
					<li class="title__money">이용 금액</li>
					<li class="title__status">상태</li>
					<li class="title__date-post">결제일</li>
					<!-- <li class="title__detail">상세</li> -->
				</ul>
			</div>
		</div>
		<div id="scroll">
			<div class="support-list__info-container">
				<div class="support-list__info-unit">
					<input type="checkbox" class="support__checkbox" id="" name="checkbox" />
					<label for="kus" class="support__checkbox--label">
						<ul class="support-list__info">
							<li class="support__id">00001</li>
							<li class="support__type">초보자</li>
							<li class="support__user-id">jsi</li>
							<li class="support__user-name">정세인</li>
							<li class="support__money">50000</li>
							<li class="support__status">결제</li>
							<li class="support__date-post">2023.03.22</li>
							<!-- <li class="user__detail" name="userDetail">
                                <button class="custom-btn btn-16" style="font-weight: 10px;"  id="show">상세 정보</button>
                            </li> -->
						</ul>
					</label>
				</div>
			</div>
		</div>
		<div class="support-list__info-container">
			<div class="support-list__info-unit">
				<input type="checkbox" class="support__checkbox" id="" name="checkbox" />
				<label for="kus" class="support__checkbox--label">
					<ul class="support-list__info">
						<li class="support__id">00001</li>
						<li class="support__type">초보자</li>
						<li class="support__user-id">jsi</li>
						<li class="support__user-name">정세인</li>
						<li class="support__money">50000</li>
						<li class="support__status">결제</li>
						<li class="support__date-post">2023.03.22</li>
						<!-- <li class="user__detail" name="userDetail">
                            <button class="custom-btn btn-16" style="font-weight: 10px;"  id="show">상세 정보</button>
                        </li> -->
					</ul>
				</label>
			</div>
		</div>
		<div class="support-list__info-container">
			<div class="support-list__info-unit">
				<input type="checkbox" class="support__checkbox" id="" name="checkbox" />
				<label for="kus" class="support__checkbox--label">
					<ul class="support-list__info">
						<li class="support__id">00001</li>
						<li class="support__type">초보자</li>
						<li class="support__user-id">jsi</li>
						<li class="support__user-name">정세인</li>
						<li class="support__money">50000</li>
						<li class="support__status">결제</li>
						<li class="support__date-post">2023.03.22</li>
						<!-- <li class="user__detail" name="userDetail">
                            <button class="custom-btn btn-16" style="font-weight: 10px;"  id="show">상세 정보</button>
                        </li> -->
					</ul>
				</label>
			</div>
		</div>
		<div class="support-list__info-container">
			<div class="support-list__info-unit">
				<input type="checkbox" class="support__checkbox" id="" name="checkbox" />
				<label for="kus" class="support__checkbox--label">
					<ul class="support-list__info">
						<li class="support__id">00001</li>
						<li class="support__type">초보자</li>
						<li class="support__user-id">jsi</li>
						<li class="support__user-name">정세인</li>
						<li class="support__money">50000</li>
						<li class="support__status">결제</li>
						<li class="support__date-post">2023.03.22</li>
						<!-- <li class="user__detail" name="userDetail">
                            <button class="custom-btn btn-16" style="font-weight: 10px;"  id="show">상세 정보</button>
                        </li> -->
					</ul>
				</label>
			</div>
		</div>
		<div class="support-list__info-container">
			<div class="support-list__info-unit">
				<input type="checkbox" class="support__checkbox" id="" name="checkbox" />
				<label for="kus" class="support__checkbox--label">
					<ul class="support-list__info">
						<li class="support__id">00001</li>
						<li class="support__type">베테랑</li>
						<li class="support__user-id">hds</li>
						<li class="support__user-name">한동석</li>
						<li class="support__money">50000</li>
						<li class="support__status">환전</li>
						<li class="support__date-post">2023.03.22</li>
						<!-- <li class="user__detail" name="userDetail">
                            <button class="custom-btn btn-16" style="font-weight: 10px;"  id="show">상세 정보</button>
                        </li> -->
					</ul>
				</label>
			</div>
		</div>
		<div class="support-list__info-container">
			<div class="support-list__info-unit">
				<input type="checkbox" class="support__checkbox" id="" name="checkbox" />
				<label for="kus" class="support__checkbox--label">
					<ul class="support-list__info">
						<li class="support__id">00001</li>
						<li class="support__type">초보자</li>
						<li class="support__user-id">jsi</li>
						<li class="support__user-name">정세인</li>
						<li class="support__money">50000</li>
						<li class="support__status">환전</li>
						<li class="support__date-post">2023.03.22</li>
						<!-- <li class="user__detail" name="userDetail">
                            <button class="custom-btn btn-16" style="font-weight: 10px;"  id="show">상세 정보</button>
                        </li> -->
					</ul>
				</label>
			</div>
		</div>
		<div class="desktop-only">
			<!-- 데스크탑용 버튼 -->
			<button class="prev-page icon-chevron-left" onclick="movePage(0)" disabled="">
				<span class="text-hidden">이전</span>
			</button>
			<!-- 데스크탑용 페이지 리스트 -->
			<a class="current" href="#" onclick="movePage(1)">1</a>
			<a href="#" onclick="movePage(2)">2</a>
			<a href="#" onclick="movePage(3)">3</a>
			<a href="#" onclick="movePage(4)">4</a>
			<a href="#" onclick="movePage(5)">5</a>
			<!-- 데스크탑용 버튼 -->
			<button class="next-page icon-chevron-right" onclick="movePage(7)">
				<span class="text-hidden">다음</span>
			</button>
		</div>
	</article>
</main>
</body>
<script src="/js/admin/admin-checkbox.js"></script>
</html>