<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>회원관리</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
	<link rel="stylesheet" href="/css/components/admin-common.css" />
	<link rel="stylesheet" href="/css/components/admin-aside.css" />
	<link rel="stylesheet" href="/css/components/admin-header.css" />
	<link rel="stylesheet" href="/css/components/admin-member-modal.css" />
	<link rel="stylesheet" href="/css/admin/admin-member.css" />
	<link rel="shortcut icon" href="/images/components/favicon-logo-white.png">
</head>
<body>
	<!-- -------------- header -------------- -->

	<!-- -------------- header end --------------  -->
	<!-- -------------- aside -------------- -->

	<!-- -------------- aside end --------------  -->
<main class="module-container">
	<article class="module--search">
		<div class="search__searchbox">
			<form action="" class="search__searchbox__form">
				<input id="searchbox" type="text" placeholder="이름, 전화번호, 이메일로 검색해보세요" />
				<button type="button" class="search__searchbox__button">
					<img src="/images/admin/search.png" alt="" />
				</button>
			</form>
		</div>
	</article>
	<article class="module module--user-controller" style="text-align: center; padding: 0;">
		<button type="button" style="margin: 0 auto; font-size: 16px;">선택 삭제</button>
	</article>
	<article class="module module--user-list">
		<div class="user-list__title-container">
			<div class="user-list__title-unit">
				<input type="checkbox" id="title__checkbox" name="checkbox-all"/>
				<ul class="user-list__title">
					<li class="title__id">고객번호</li>
					<li class="title__type">회원 타입</li>
					<li class="title__user-id">회원 ID</li>
					<li class="title__name">이름</li>
					<li class="title__email">이메일</li>
					<li class="title__phone">핸드폰 번호</li>
					<li class="title__point">포인트</li>
					<li class="title__join">가입일</li>
					<li class="title__detail">상세</li>
				</ul>
			</div>
		</div>
		<div id="scroll">
			<div class="user-list__info-container">
				<div class="user-list__info-unit">
					<input type="checkbox" class="user__checkbox" id="kus" name="checkbox" /> 
						   <label for="kus" class="user__checkbox--label">
					<ul class="user-list__info">
						<!-- <li>등록된 회원이 없습니다.</li> -->
						<li class="user__id" name="userId">00005</li>
						<li class="user__type" name="userType">초보자</li>
						<li class="user__user-id" name="userNickname">dev_luk</li>
						<li class="user__name" name="userName">김욱성</li>
						<li class="user__email" name="userEmail">kus1234@naver.com</li>
						<li class="user__phone" name="userPhoneNumber">010-1234-1234</li>
						<li class="user__point" name="userPoint">500,000</li>
						<li class="user__join" name="userDateJoin">2023.02.22</li>
						<li class="user__detail" name="userDetail">
							<button class="custom-btn btn-16" style="font-weight: 10px;" id="show">상세 정보</button>
						</li>
					</ul>
				</label>
				</div>
			</div>
			<!-- 회원 추가 -->
			<div class="user-list__info-container">
				<div class="user-list__info-unit">
					<input type="checkbox" class="user__checkbox" id="kus" name="checkbox" />
					<label for="kus" class="user__checkbox--label">
					<ul class="user-list__info">
						<!-- <li>등록된 회원이 없습니다.</li> -->
						<li class="user__id" name="userId">00004</li>
						<li class="user__type" name="userType">초보자</li>
						<li class="user__user-id" name="userNickname">dev_wmin</li>
						<li class="user__name" name="userName">윤민우</li>
						<li class="user__email" name="userEmail">ymw1234@naver.com</li>
						<li class="user__phone" name="userPhoneNumber">010-1234-1234</li>
						<li class="user__point" name="userPoint">100,000</li>
						<li class="user__join" name="userDateJoin">2023.02.22</li>
						<li class="user__detail" name="userDetail">
							<button class="custom-btn btn-16" style="font-weight: 10px;">상세 정보</button>
						</li>
					</ul>
				</label>
				</div>
			</div>
			<div class="user-list__info-container">
				<div class="user-list__info-unit">
					<input type="checkbox" class="user__checkbox" id="kus" name="checkbox" />
					<label for="kus" class="user__checkbox--label">
					<ul class="user-list__info">
						<!-- <li>등록된 회원이 없습니다.</li> -->
						<li class="user__id" name="userId">00003</li>
						<li class="user__type" name="userType">초보자</li>
						<li class="user__user-id" name="userNickname">dev_ksy</li>
						<li class="user__name" name="userName">김세윤</li>
						<li class="user__email" name="userEmail">ksy1234@naver.com</li>
						<li class="user__phone" name="userPhoneNumber">010-1234-1234</li>
						<li class="user__point" name="userPoint">50,000</li>
						<li class="user__join" name="userDateJoin">2023.02.22</li>
						<li class="user__detail" name="userDetail">
							<button class="custom-btn btn-16" style="font-weight: 10px;">상세 정보</button>
						</li>
					</ul>
				</label>
				</div>
			</div>
			<div class="user-list__info-container">
				<div class="user-list__info-unit">
					<input type="checkbox" class="user__checkbox" id="kus" name="checkbox" />
					<label for="kus" class="user__checkbox--label">
					<ul class="user-list__info">
						<!-- <li>등록된 회원이 없습니다.</li> -->
						<li class="user__id" name="userId">00002</li>
						<li class="user__type" name="userType">초보자</li>
						<li class="user__user-id" name="userNickname">dev_pdy</li>
						<li class="user__name" name="userName">박다예</li>
						<li class="user__email" name="userEmail">pdy1234@naver.com</li>
						<li class="user__phone" name="userPhoneNumber">010-1234-1234</li>
						<li class="user__point" name="userPoint">0</li>
						<li class="user__join" name="userDateJoin">2023.02.22</li>
						<li class="user__detail" name="userDetail">
							<button class="custom-btn btn-16" style="font-weight: 10px;">상세 정보</button>
						</li>
					</ul>
				</label>
				</div>
			</div>
			<div class="user-list__info-container">
				<div class="user-list__info-unit">
					<input type="checkbox" class="user__checkbox" id="kus" name="checkbox"/>
					<label for="kus" class="user__checkbox--label">
						<ul class="user-list__info">
							<!-- <li>등록된 회원이 없습니다.</li> -->
							<li class="user__id" name="userId">00001</li>
							<li class="user__type" name="userType">초보자</li>
							<li class="user__user-id" name="userNickname">dev_jsi</li>
							<li class="user__name" name="userName">정세인</li>
							<li class="user__email" name="userEmail">jsi1234@naver.com</li>
							<li class="user__phone" name="userPhoneNumber">010-1234-1234</li>
							<li class="user__point" name="userPoint">150,000</li>
							<li class="user__join" name="userDateJoin">2023.02.22</li>
							<li class="user__detail" name="userDetail">
								<button class="custom-btn btn-16" style="font-weight: 10px;">상세 정보</button>
							</li>
						</ul>
					</label>
				</div>
			</div>
			<div class="user-list__info-container">
				<div class="user-list__info-unit">
					<input type="checkbox" class="user__checkbox" id="kus" name="checkbox"/>
					<label for="kus" class="user__checkbox--label">
						<ul class="user-list__info">
							<!-- <li>등록된 회원이 없습니다.</li> -->
							<li class="user__id" name="userId">00000</li>
							<li class="user__type" name="userType">베테랑</li>
							<li class="user__user-id" name="userNickname">dev-tedhan</li>
							<li class="user__name" name="userName">한동석</li>
							<li class="user__email" name="userEmail">tedhan4@gmail.com</li>
							<li class="user__phone" name="userPhoneNumber">010-1234-1234</li>
							<li class="user__point" name="userPoint">5,000,000</li>
							<li class="user__join" name="userDateJoin">2023.02.22</li>
							<li class="user__detail" name="userDetail">
								<button class="custom-btn btn-16" style="font-weight: 10px;">상세 정보</button>
							</li>
						</ul>
					</label>
				</div>
			</div>
			<!-- 회원 추가 끝 -->
		</div>
		<div class="desktop-only">
			<!-- 데스크탑용 버튼 -->
			<button class="prev-page icon-chevron-left" onclick="movePage(0)" disabled="">
				<span class="text-hidden">이전</span>
			</button>
			<!-- 데스크탑용 페이지 리스트 -->
			<a class="current" href="#" onclick="movePage(1)">1</a>
			<a href="#" onclick="movePage(2)">2</a>
			<a href="#" onclick="movePage(3)">3</a>
			<a href="#" onclick="movePage(4)">4</a>
			<a href="#" onclick="movePage(5)">5</a>
			<!-- 데스크탑용 버튼 -->
			<button class="next-page icon-chevron-right" onclick="movePage(7)">
				<span class="text-hidden">다음</span>
			</button>
		</div>
	</article>
</main>
<!-- 상세페이지 modal -->
<div id="admin-user-modal" class="background modal-custom">
	<div class="window">
		<div class="modal">
			<div class="modal-wrapper">
				<div id="modal-top">
					<div id="modal-title">
						사용자 정보
						<label>
							<img id="exit" src="/images/admin/exit.png">
							<button id="close"></button>
						</label>
					</div>
				</div>
				<div id="modal-main">
					<form>
						<div class="input-wrapper">
							<div class="input-text">회원 타입</div>
							<input type="text" id="user-type" value="초보자" class="user-input user-input2" readonly>
						</div>
						<div class="input-wrapper">
							<div class="input-text">이름</div>
							<input type="text" id="user-name" value="김욱성" class="user-input" readonly>
						</div>
						<div class="input-wrapper">
							<div class="input-text">아이디</div>
							<input type="text" id="user-name" value="rladnrtjdsla" class="user-input" readonly>
						</div>
						<div class="input-wrapper">
							<div class="input-text">이메일</div>
							<input type="text" id="user-email" value="kus1234@google.com" class="user-input" readonly>
						</div>
						<div class="input-wrapper">
							<div class="input-text">비밀번호</div>
							<input type="text" id="user-password" value="Asdf1234@" class="user-input user-input2" readonly>
						</div>
						<div class="input-wrapper">
							<div class="input-text">핸드폰번호</div>
							<input type="text" id="user-phone-number" value="01012345678" class="user-input" readonly>
						</div>
						<div class="input-wrapper">
							<div class="input-text">운전면허취득일자</div>
							<input type="text" id="driver-license" value="11111111111" class="user-input" readonly>
						</div>
						<div id="image">
							<div class="input-wrapper detail-img">
								<div class="input-text">프로필</div>
								<span> 이미지가 없습니다.</span>
							</div>
						</div>
					</form>
				</div>
				<div id="modal-bottom">
					<button id="edit-button1" onclick="changeButton()">확인</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- modal fin. -->
</body>
<script src="/js/admin/admin-member.js"></script>
<script src="/js/components/admin-modal.js"></script>
</html>
