<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>후기 목록</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/board/boardList.css">
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <link rel="shortcut icon" href="/images/components/favicon-logo-white.png">
</head>
<body>
<div th:insert="~{/components/header-client :: header-client}"></div>
<!-- 모달 -->
<div class="modal" style="visibility: hidden;" onclick="closeModal()">
    <div class="modal-wrapper">
        <div class="modal-image-wrapper">
            <div class="inner-wrapper">
                <img class="modal-image" >
                <!-- <img src="/img/close.png" id="close-button" onclick="closeModal()"> -->
            </div>
        </div>
    </div>
</div>
<!-- 모달 -->

<main>
    <!-- 추가 -->
    <div class="write-button-top" onclick="location.href='/review-write'">후기 작성하기</div>
    <!-- 추가 -->
    <div class="whole-contents-wrapper">
        <div class="contents-inner-wrapper">
            <div class="contents-inner">
                <div class="sub-title">
                    후기
                </div>
                <!-- 후기 작성 버튼 -->
                <div class="boardList-count" th:text="${reviews.size()} +'개'"></div>
                <!-- 후기 작성 버튼 -->
                <div id="scrollable-content">
                    <div id="review-list" th:each="review : ${reviews}" class="review">

                        <div class="board-box-wrapper">
                            <div class="board-box">
                                <div class="board-box-top">
                                    <img th:src="@{/img/} + ${review.memberFileSystemName}"
                                         class="user-profile-image">
                                    <div class="user-detail-wrapper">
                                        <div class="user-detail-top">
                                            <div class="user-type">
                                                수강생
                                            </div>
                                            <span th:text="${review.memberName}"></span><!-- userName여기에 써야함 -->
                                        </div>
                                        <div class="user-detail-bottom">
                                            <div class="star-score-box">
                                                <div class="review-star" th:attr="data-review-grade=${review.reviewGrade}">
                                                </div>
                                                <span class="review-score" th:text="${review.reviewGrade}">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 수정 삭제 버튼 -->
                                    <div class="update-buttons-wrapper">
                                        <a href="#" class="buttons-wrapper">
                                            <div class="update-button">수정</div>
                                        </a>
                                        <a href="#" class="buttons-wrapper">
                                            <div class="delete-button">삭제</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="board-box-middle">
                                    <div class="box-middle-inner">
                                        <a href="" class="middle-title">
                                            연수 정보
                                        </a>
                                        <div class="middle-middle">
                                            <span class="category-first">연수 지역</span>
                                            <div class="seperator"></div>
                                            <span class="category-second" th:text="${review.applyLocation}"></span>
                                        </div>
                                        <div class="middle-bottom">
                                            <span class="detail-title">수강 코스</span>
                                            <span class="detail-second-value"
                                                  th:text="${review.applyCourse}">코스</span>
                                            <div class="seperator"></div>
                                            <span class="detail-title">수강일</span>
                                            <span class="detail-third-value" th:text="${review.applyDate}"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="board-box-bottom">
                                    <div class="bottom-inner">
                                        <div class="bottom-title" th:text="${review.reviewTitle}">
                                            함께 해본 소감
                                            <span class="date" th:text="${review.reviewRegisterDate}"></span>
                                        </div>
                                        <div class="bottom-content" th:text="${review.reviewContent}">
                                        </div>
                                    </div>
                                    <div class="image-wrapper">
                                        <img class="review-image" th:src="@{/img/} + ${review.reviewFileSystemName}"
                                             onclick="showModal()">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--후기 목록 th:each문-->
            </div>
        </div>
    </div>
    <input type="hidden" id="page" value="1" />
</main>
<div th:insert="~{/components/footer :: footer}"></div>
</body>
<script src="/js/board/boardList.js"></script>
<script src="/js/components/header-client.js"></script>

</html>