<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>후기 목록</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/board/boardList.css">
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <link rel="shortcut icon" href="/images/components/favicon-logo-white.png">
</head>
<body>
<div th:insert="~{/components/header-client :: header-client}"></div>


<main>
    <!-- 추가 -->
    <div class="write-button-top" onclick="location.href='/review/review-write'">후기 작성하기</div>
    <!-- 추가 -->
    <div class="whole-contents-wrapper">
        <div class="contents-inner-wrapper">
            <div class="contents-inner">
                <div class="sub-title">
                    후기
                </div>
                <!-- 후기 작성 버튼 -->
                <div class="boardList-count" th:text="${totalCount} + 개"></div>
                <!-- 후기 작성 버튼 -->
                <div id="scrollable-content">
                    <div id="review-list">
                    </div>

                </div>
                <!--후기 목록 th:each문-->

            </div>
        </div>
    </div>
    <input type="hidden" id="page" value="1"/>
</main>
<div th:insert="~{/components/footer :: footer}"></div>
<!-- 모달 -->
<div class="modal" style="visibility: hidden;" onclick="closeModal()">
    <div class="modal-wrapper">
        <div class="modal-image-wrapper">
            <div class="inner-wrapper">
                <img class="modal-image">
                <!-- <img src="/img/close.png" id="close-button" onclick="closeModal()"> -->
            </div>
        </div>
    </div>
</div>
<!-- 모달 -->
<!--삭제확인 모달-->
<!-- 삭제 확인 모달 -->
<div id="delete-modal" class="delete-modal" style="visibility: hidden;">
    <div class="delete-modal-wrapper">
        <div class="delete-modal-content">
            <p>이 후기를 삭제하시겠습니까?</p>
            <div class="delete-modal-buttons">
                <button class="delete-btn" data-review-id="1">확인</button>
                <button onclick="closeDeleteModal()">취소</button>
            </div>
        </div>
    </div>
</div>
<!--삭제확인 모달끝-->
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/components/header-client.js"></script>
<script src="/js/board/boardList.js"></script>
<script th:inline="javascript">
    let memberId = [[${session.memberId}]];

    $(document).ready(function () {
        let page = 1;
        const size = 10;
        let isLoading = false;

        function loadMoreReviews() {
            if (isLoading) {
                return;
            }
            isLoading = true;
            $.ajax({
                url: '/review/api/reviews',
                type: 'GET',
                data: {
                    page: page,
                    size: size
                },
                success: function (reviews) {
                    if (reviews.length > 0) {
                        appendReviews(reviews);
                        page += 1;
                    } else {
                        isLoading = false;
                    }
                },
                error: function (error) {
                    console.error("Error fetching reviews:", error);
                    isLoading = false;
                },
                complete: function () {
                    isLoading = false;
                }
            });
        }

        function renderStars(reviewGrade) {
            let starString = '';
            for (let i = 1; i <= 5; i++) {
                starString += i <= reviewGrade ?
                    '<img src="https://www.wishket.com/static/renewal/img/partner/profile/icon_dashboard_star@2x.png" style="width:20px;">' :
                    '<img src="https://www.wishket.com/static/renewal/img/partner/profile/icon_dashboard_star_empty@2x.png" style="width:20px;">';
            }
            return starString;
        }


        function appendReviews(reviews) {
            console.log(memberId);
            let $reviewList = $("#review-list");

            reviews.forEach(review => {
                let imageUrl = review.reviewFileSystemName ? '/upload/' + review.reviewFileSystemName : null;
                let imageElement = imageUrl ? `<img class="review-image" src="${imageUrl}" onclick="showModal()" />` : '';
                let formattedDate = timeSince(new Date(review.reviewRegisterDate));
                // 여기에서 각 리뷰를 HTML 요소로 추가하십시오.
                let reviewElement = `
    <div class="review">
        <div class="board-box-wrapper">
            <div class="board-box">
                <div class="board-box-top">
                // <img th:src="@{/upload/{filename}(filename=${review.memberFileSystemName})}" class="user-profile-image">
<!--                    <img src="/mypage/display(fileName=${review.memberFilePath + '/' + review.memberFileUuid + '_' + review.memberFileOriginalName})" class="user-profile-image">-->
                    <div class="user-detail-wrapper">
                        <div class="user-detail-top">
                            <div class="user-type">수강생</div>
                            <span>${review.memberName}</span>
                        </div>
                        <div class="user-detail-bottom">
                            <div class="star-score-box">
                                <div class="review-star" data-review-grade="${review.reviewGrade}" >${renderStars(review.reviewGrade)}</div>
                                <span class="review-score">${review.reviewGrade}</span>
                            </div>
                        </div>
                    </div>`;
                if (memberId == `${review.memberId}`) {
                    reviewElement += `
                    <!--수정 삭제 버튼-->
                    <div class="update-buttons-wrapper">
                    <a href="http://localhost:10000/review/review-update?reviewId=${review.reviewId}"  class="buttons-wrapper">
                    <div class="update-button">수정</div>
                    </a>
                    <a href="#" class="buttons-wrapper">
                    <div class="delete-button" onclick="showDeleteModal(event, ${review.reviewId})">삭제</div>
                    </a>
                    </div>
                    `
                ;
                                    }
                                    reviewElement +=
                    `
                        <!--수정 삭제 버튼 끝-->
                    </div>

                    <div class="board-box-middle">
                    <div class="box-middle-inner">
                    <a href="" class="middle-title">연수 정보</a>
                    <div class="middle-middle">
                    <span class="category-first">연수 지역</span>
                    <div class="seperator"></div>
                    <span class="category-second">${review.applyLocation}</span>
                    </div>
                    <div class="middle-bottom">
                    <span class="detail-title">수강 코스</span>
                    <span class="detail-second-value">${review.applyCourse}</span>
                    <div class="seperator"></div>
                    <span class="detail-title">수강일</span>
                    <span class="detail-third-value">${review.applyDate}</span>
                    </div>
                    </div>
                    </div>
                    <div class="board-box-bottom">
                    <div class="bottom-inner">
                    <div class="bottom-title">${review.reviewTitle}<span class="date">${formattedDate}</span></div>
                    <div class="bottom-content">${review.reviewContent}</div>
                    </div>
                    <div class="image-wrapper">
                        ${imageElement}
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>`;
                    $reviewList.append(reviewElement);
                    }
            );
        }

        // 초기 로드
        loadMoreReviews();
        // 스크롤 이벤트 핸들러
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() > $(document).height() - 300) {
                loadMoreReviews();
            }
        });
    });

    function timeSince(date) {
        const now = new Date();
        const secondsPast = (now.getTime() - date.getTime()) / 1000;

        if (secondsPast < 60) {
            return parseInt(secondsPast) + ' 초 전';
        }
        if (secondsPast < 3600) {
            return parseInt(secondsPast / 60) + ' 분 전';
        }
        if (secondsPast <= 86400) {
            return parseInt(secondsPast / 3600) + ' 시간 전';
        }
        if (secondsPast > 86400) {
            const day = parseInt(secondsPast / 86400);
            return day + ' 일 전';
        }
    }

    // 이벤트 위임을 사용한 클릭 이벤트 바인딩
    $(document).on('click', '.review-image', function () {
        $('.modal-image').attr('src', $(this).attr('src'));
    });
</script>
</html>