<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사업소개</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/introduce/introduce.css">
</head>
<body>
    <main>
        <div class="whole-wrapper">
            <div id="inner-header-wrapper">
                <div class="inner-header">
                    <div class="header-title">클라이언트 이용방법</div>
                        <nav>
                            <img src="https://www.wishket.com/static/renewal/img/acquisition/cs/faq-icon-home@2x.png" alt="" class="home-img">
                            <ul class="nav-ul">
                                <li class="ul-list">
                                    <a href="#">고객센터</a>
                                    <!-- ::after -->
                                </li>
                                <li><a href="#">클라이언트 이용방법</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="inner-wrapper">
                <div class="inner">
                    <div class="inner-top-wrapper">
                        <div class="inner-top">
                            <p class="inner-top-title">
                                의뢰하고 싶은 프로젝트를 무료로 등록해보세요.
                            </p>
                            <p class="inner-top-subtitle">
                                프로젝트는 위시켓 매니저와 상담 후 공개됩니다.
                                <br>
                                위시켓 매니저와 상담하며 내용을 수정 및 보완할 수 있으니 편하게 작성하세요.
                            </p>
                            <p class="inner-top-link">
                                <a href="#">프로젝트 등록하러 가기</a>
                                <!-- ::after -->
                            </p>
                            <div class="guide-wrapper">
                                <img src="https://www.wishket.com/static/renewal/img/acquisition/cs/use-icon-estimate-c@2x.png" alt="">
                                <div class="guide-contents">
                                    <p class="contents-question">
                                        의뢰하려는 프로젝트의 견적이 궁금하신가요?
                                    </p>
                                    <p class="contents-answer">
                                        프로젝트를 등록하면 위시켓 매니저가 업무범위에 맞는 적정 금액 및 기간을 무료로 상담해드립니다.
                                    </p>
                                </div>
                            </div>
                            <div class="guide-wrapper guide-wrapper2">
                                <img src="https://www.wishket.com/static/renewal/img/acquisition/cs/use-icon-idea-c@2x.png" alt="">
                                <div class="guide-contents">
                                    <p class="contents-question">
                                        의뢰하려는 프로젝트의 견적이 궁금하신가요?
                                    </p>
                                    <p class="contents-answer">
                                        프로젝트를 등록하면 위시켓 매니저가 업무범위에 맞는 적정 금액 및 기간을 무료로 상담해드립니다.
                                    </p>
                                </div>
                            </div>
                            <div class="guide-wrapper guide-wrapper2">
                                <img src="https://www.wishket.com/static/renewal/img/acquisition/cs/use-icon-info-c@2x.png" alt="">
                                <div class="guide-contents">
                                    <p class="contents-question">
                                        의뢰하려는 프로젝트의 견적이 궁금하신가요?
                                    </p>
                                    <p class="contents-answer">
                                        프로젝트를 등록하면 위시켓 매니저가 업무범위에 맞는 적정 금액 및 기간을 무료로 상담해드립니다.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 중간 -->
                    <div class="inner-middle-wrapper">
                        <div class="inner-middle">
                            <p class="middle-title">
                                프로젝트 내용을 입력하면 위시켓에서 맞춤 상담해드립니다.
                            </p>
                            <p class="middle-subtitle">
                                입력한 내용을 위시켓 매니저가 파악한 후 현재 상태와 예산, 기한 등 클라이언트님의 상황에 맞춰 상담해드립니다.
                            </p>
                            <div class="middle-guide">
                                <div class="guide-item">
                                    <img src="https://www.wishket.com/static/renewal/img/acquisition/cs/use-icon-manager-c@2x.png" alt="" class="guide-item-img">
                                    <p class="guide-item-title">
                                        요구사항 구체화
                                    </p>
                                    <p class="guide-item-contents">
                                        위시켓 매니저가 클라이언트와 상담을 통해 요구사항 정리를 도와드립니다.
                                    </p>
                                </div>
                                <div class="guide-item">
                                    <img src="https://www.wishket.com/static/renewal/img/acquisition/cs/use-icon-estimate-c-2@2x.png" alt="" class="guide-item-img">
                                    <p class="guide-item-title">
                                        요구사항 구체화
                                    </p>
                                    <p class="guide-item-contents">
                                        위시켓 매니저가 클라이언트와 상담을 통해 요구사항 정리를 도와드립니다.
                                    </p>
                                </div>
                                <div class="guide-item">
                                    <img src="https://www.wishket.com/static/renewal/img/acquisition/cs/use-icon-repair-c@2x.png" alt="" class="guide-item-img">
                                    <p class="guide-item-title">
                                        요구사항 구체화
                                    </p>
                                    <p class="guide-item-contents">
                                        위시켓 매니저가 클라이언트와 상담을 통해 요구사항 정리를 도와드립니다.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 밑 -->
                    <div class="inner-bottom-wrapper">
                        <div class="inner-bottom">
                            <p class="inner-bottom-title">
                                프로젝트를 함께 할 실력 있는 파트너인지 확인해보세요.
                            </p>
                            <p class="inner-bottom-subtitle">
                                위시켓 매니저와 함께 온/오프라인 미팅을 진행하면서 파트너와 업무를 논의하고 이슈 사항을 체크합니다.
                            </p>
                            <div class="inner-bottom-guide">
                                <div class="bottom-guide-item">
                                    <img src="https://www.wishket.com/static/renewal/img/acquisition/cs/use-icon-meeting-c@2x.png" alt="" class="bottom-guide-img">
                                    <p class="bottom-guide-contents">
                                        미팅 일정 및 방식을 파트너와 조율해드립니다.
                                    </p>
                                </div>
                                <div class="bottom-guide-item">
                                    <img src="https://www.wishket.com/static/renewal/img/acquisition/cs/use-icon-calander-c@2x.png" alt="" class="bottom-guide-img">
                                    <p class="bottom-guide-contents">
                                        미팅 일정 및 방식을 파트너와 조율해드립니다.
                                    </p>
                                </div>
                                <div class="bottom-guide-item">
                                    <img src="https://www.wishket.com/static/renewal/img/acquisition/cs/use-icon-manager-check-c@2x.png" alt="" class="bottom-guide-img">
                                    <p class="bottom-guide-contents">
                                        미팅 일정 및 방식을 파트너와 조율해드립니다.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>
</html>