<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>자주 묻는 질문</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/introduce/notice.css">
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <link rel="shortcut icon" href="/images/components/favicon-logo-white.png">
</head>
<body>
<!-- header 시작 -->
<div th:insert="~{/components/header-client :: header-client}"></div>
<!-- header 끝 -->
<main>
    <div class="whole-wrapper">
        <div id="inner-header-wrapper">
            <div class="inner-header">
                <div class="header-title">자주 묻는 질문</div>
                <nav>
                    <img src="https://www.wishket.com/static/renewal/img/acquisition/cs/faq-icon-home@2x.png" alt="" class="home-img">
                    <ul class="nav-ul">
                        <li class="ul-list">
                            <a href="#">교차로</a>
                            <!-- ::after -->
                        </li>
                        <li><a href="#">자주 묻는 질문</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="inner-wrapper">
        <div class="inner">
            <div class="faq-box faq-box-first">
                <!-- ::before -->
                <div class="faq-contents">
                    <div class="faq-wrapper">
                        <p class="question">
                            <!-- ::before -->
                            위시켓에서 정부지원사업도 진행이 가능한가요?
                            <!-- ::after -->
                        </p>
                        <p class="answer">
                            가능합니다. 프로젝트 등록하실 때 ‘6. 모집 요건’의 ‘지원사업 여부’에서 ‘네, 정부지원사업 또는 연구 과제입니다.’를 체크해주세요.
                            <br>
                            지원사업 요건에 맞는 파트너를 구하고 원활하게 계약할 수 있도록 도와드립니다.
                        </p>
                    </div>
                    <div class="faq-wrapper">
                        <p class="question">
                            <!-- ::before -->
                            상주 프리랜서나 기간 단위로도 인력을 구인할 수 있나요?
                            <!-- ::after -->
                        </p>
                        <p class="answer">
                            네. 프로젝트를 등록할 때 프로젝트 진행 방식을 ‘인력을 기간 단위로 구인’을 선택하시면, 그에 맞는 파트너를 구인하실 수 있습니다.
                        </p>
                    </div>
                </div>
            </div>
            <!-- 수정 해야할 부분 -->
            <div class="faq-box faq-box-next">
                <!-- ::before -->
                <div class="faq-contents">
                    <div class="faq-wrapper">
                        <p class="question">
                            <!-- ::before -->
                            위시켓에서 정부지원사업도 진행이 가능한가요?
                            <!-- ::after -->
                        </p>
                        <p class="answer">
                            가능합니다. 프로젝트 등록하실 때 ‘6. 모집 요건’의 ‘지원사업 여부’에서 ‘네, 정부지원사업 또는 연구 과제입니다.’를 체크해주세요.
                            <br>
                            지원사업 요건에 맞는 파트너를 구하고 원활하게 계약할 수 있도록 도와드립니다.
                        </p>
                    </div>
                    <div class="faq-wrapper">
                        <p class="question">
                            <!-- ::before -->
                            상주 프리랜서나 기간 단위로도 인력을 구인할 수 있나요?
                            <!-- ::after -->
                        </p>
                        <p class="answer">
                            네. 프로젝트를 등록할 때 프로젝트 진행 방식을 ‘인력을 기간 단위로 구인’을 선택하시면, 그에 맞는 파트너를 구인하실 수 있습니다.
                        </p>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="faq-box faq-box-next">
                <!-- ::before -->
                <div class="faq-contents">
                    <div class="faq-wrapper">
                        <p class="question">
                            <!-- ::before -->
                            위시켓에서 정부지원사업도 진행이 가능한가요?
                            <!-- ::after -->
                        </p>
                        <p class="answer">
                            가능합니다. 프로젝트 등록하실 때 ‘6. 모집 요건’의 ‘지원사업 여부’에서 ‘네, 정부지원사업 또는 연구 과제입니다.’를 체크해주세요.
                            <br>
                            지원사업 요건에 맞는 파트너를 구하고 원활하게 계약할 수 있도록 도와드립니다.
                        </p>
                    </div>
                    <div class="faq-wrapper">
                        <p class="question">
                            <!-- ::before -->
                            상주 프리랜서나 기간 단위로도 인력을 구인할 수 있나요?
                            <!-- ::after -->
                        </p>
                        <p class="answer">
                            네. 프로젝트를 등록할 때 프로젝트 진행 방식을 ‘인력을 기간 단위로 구인’을 선택하시면, 그에 맞는 파트너를 구인하실 수 있습니다.
                        </p>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="faq-box faq-box-next">
                <!-- ::before -->
                <div class="faq-contents">
                    <div class="faq-wrapper">
                        <p class="question">
                            <!-- ::before -->
                            위시켓에서 정부지원사업도 진행이 가능한가요?
                            <!-- ::after -->
                        </p>
                        <p class="answer">
                            가능합니다. 프로젝트 등록하실 때 ‘6. 모집 요건’의 ‘지원사업 여부’에서 ‘네, 정부지원사업 또는 연구 과제입니다.’를 체크해주세요.
                            <br>
                            지원사업 요건에 맞는 파트너를 구하고 원활하게 계약할 수 있도록 도와드립니다.
                        </p>
                    </div>
                    <div class="faq-wrapper">
                        <p class="question">
                            <!-- ::before -->
                            상주 프리랜서나 기간 단위로도 인력을 구인할 수 있나요?
                            <!-- ::after -->
                        </p>
                        <p class="answer">
                            네. 프로젝트를 등록할 때 프로젝트 진행 방식을 ‘인력을 기간 단위로 구인’을 선택하시면, 그에 맞는 파트너를 구인하실 수 있습니다.
                        </p>
                    </div>
                </div>
            </div>
            <!-- 수정 해야할 부분 -->
        </div>
    </div>
    </div>
</main>
<!-- footer 시작 -->
<div th:insert="~{/components/footer :: footer}"></div>
<!-- footer 끝 -->
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/components/header-client.js"></script>
</html>
