<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>교차로</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="../../static/css/main/main.css">
    <link rel="stylesheet" href="../../static/css/components/header.css">
    <link rel="stylesheet" href="../../static/css/components/footer.css">
    <link rel="shortcut icon" href="../../static/images/favicon-logo-white.png">
</head>
<body class="main">
    <!-- header 시작-->
    <header class="header">
        <section class="header-section">
            <div class="container">
                <a class="main-logo" href="" style="font-size:24px; font-weight:700; font-color:#2099bb;">
                    교차로
                </a>
                <div class="left-nav">
                    <a class="menu element" href="">사업소개</a>
                    <a class="menu element" href="">FAQ</a>
                    <a class="menu element" href="">연수신청</a>
                    <a class="menu element" href="">포인트충천</a>
                    <a class="menu element" href="">이용후기</a>
                    <div class="nav-divider"></div>
                    <a class="menu element alert" href=""></a>
                </div>
                <div class="right-nav">
                    <a class="btn btn-gray element" href="">로그인</a>
                    <a class="btn btn-mint element" href="">회원가입</a>
                </div>
            </div>
        </section>
    </header>
    <!-- header 끝 -->
    <div class="main-container">
        <!-- 메인배너 -->
        <div class="introduction">
            <section class="container">
                <div class="introduction-guide">
                    <p class="guide-title title-style">
                        운전연수 필요할때?
                        <br>
                        든든하고 안전한
                        <br>
                        교차로와 함께!
                    </p>
                    <p class="guide-body body-style">
                        수도권 전지역, 실제 수강생 후기
                        <br>
                        여자강사님 최다보유, 평균 만족도 4.9점
                    </p>
                    <a class="btn-btn btn-style btn-color" href="">연수 신청하기</a>
                </div>
                <div class="introduction-img">
                    <img class="img-size" src="https://www.wishket.com/static/renewal/img/landing/introduction-img.png" alt="">
                </div>
            </section>
        </div>
        <!-- 메인배너 끝 -->
        <!-- 회원가입 배너 -->
        <div class="signup-banner">
            <section class="container">
                <div class="signup-guide">
                    <p class="guide-text">운전연수 프로그램을 찾고 있으신가요?</p>
                    <a class="btn-btn guide-btn" href="">회원가입하기</a>
                </div>
            </section>
        </div>
        <!-- 회원가입 끝 -->
        <!-- 후기 리스트 시작 -->
        <div class="main-review">
            <section class="container">
                <p class="review-title">교차로 수강생 실제후기</p>
                <div class="review-nav">
                    <p class="review-nav-detail">후기글</p>
                </div>
                <div class="review-list">
                    <div class="review-card">
                        <div class="review-info">
                            <a class="card-title text-button" href="">후기 타이틀</a>
                            <div class="card-info">
                                <svg class="user-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z"/>
                                </svg>
                                <span class="info-name">유저명</span>
                                <span class="info-divider">|</span>
                                <svg class="clock-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/>
                                </svg>
                                <span class="info-date">날짜</span>
                                <span class="info-divider">|</span>
                                <span class="user-detail-bottom">
                                    <div class="star-score-box">
                                        <div class="review-star">
                                            <div class="stars star0"></div>
                                            <div class="stars star1"></div>
                                            <div class="stars star2"></div>
                                            <div class="stars star3"></div>
                                            <div class="stars star4"></div>
                                        </div>
                                        <span class="review-score"></span>
                                    </div>
                                </span>
                            </div>
                            <p class="card-contents">후기글 : 프로젝트의 현재 상황 : - 현 올라핀테크와 유사한 사업 구상 중 "오픈마켓선정산시스템" / 사용자 + 관리자(대리점 또는 관련 지사 포함) 시스템 구축</p>
                        </div>
                        <div class="card-img">
                            <img src="../../static/images/review01.jpeg" class="review-image">
                        </div>
                    </div>
                    <div class="review-card">
                        <div class="review-info">
                            <a class="card-title text-button" href="">후기 타이틀</a>
                            <div class="card-info">
                                <svg class="user-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z"/>
                                </svg>
                                <span class="info-name">유저명</span>
                                <span class="info-divider">|</span>
                                <svg class="clock-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/>
                                </svg>
                                <span class="info-date">날짜</span>
                                <span class="info-divider">|</span>
                                <span class="user-detail-bottom">
                                    <div class="star-score-box">
                                        <div class="review-star">
                                            <div class="stars star0"></div>
                                            <div class="stars star1"></div>
                                            <div class="stars star2"></div>
                                            <div class="stars star3"></div>
                                            <div class="stars star4"></div>
                                        </div>
                                        <span class="review-score"></span>
                                    </div>
                                </span>
                            </div>
                            <p class="card-contents">후기글 : 프로젝트의 현재 상황 : - 현 올라핀테크와 유사한 사업 구상 중 "오픈마켓선정산시스템" / 사용자 + 관리자(대리점 또는 관련 지사 포함) 시스템 구축</p>
                        </div>
                        <div class="card-img">
                            <img src="../../static/images/review01.jpeg" class="review-image">
                        </div>
                    </div>
                    <div class="review-card">
                        <div class="review-info">
                            <a class="card-title text-button" href="">후기 타이틀</a>
                            <div class="card-info">
                                <svg class="user-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z"/>
                                </svg>
                                <span class="info-name">유저명</span>
                                <span class="info-divider">|</span>
                                <svg class="clock-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/>
                                </svg>
                                <span class="info-date">날짜</span>
                                <span class="info-divider">|</span>
                                <span class="user-detail-bottom">
                                    <div class="star-score-box">
                                        <div class="review-star">
                                            <div class="stars star0"></div>
                                            <div class="stars star1"></div>
                                            <div class="stars star2"></div>
                                            <div class="stars star3"></div>
                                            <div class="stars star4"></div>
                                        </div>
                                        <span class="review-score"></span>
                                    </div>
                                </span>
                            </div>
                            <p class="card-contents">후기글 : 프로젝트의 현재 상황 : - 현 올라핀테크와 유사한 사업 구상 중 "오픈마켓선정산시스템" / 사용자 + 관리자(대리점 또는 관련 지사 포함) 시스템 구축</p>
                        </div>
                        <div class="card-img">
                            <img src="../../static/images/review01.jpeg" class="review-image">
                        </div>
                    </div>
                    <div class="review-card">
                        <div class="review-info">
                            <a class="card-title text-button" href="">후기 타이틀</a>
                            <div class="card-info">
                                <svg class="user-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z"/>
                                </svg>
                                <span class="info-name">유저명</span>
                                <span class="info-divider">|</span>
                                <svg class="clock-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/>
                                </svg>
                                <span class="info-date">날짜</span>
                                <span class="info-divider">|</span>
                                <span class="user-detail-bottom">
                                    <div class="star-score-box">
                                        <div class="review-star">
                                            <div class="stars star0"></div>
                                            <div class="stars star1"></div>
                                            <div class="stars star2"></div>
                                            <div class="stars star3"></div>
                                            <div class="stars star4"></div>
                                        </div>
                                        <span class="review-score"></span>
                                    </div>
                                </span>
                            </div>
                            <p class="card-contents">후기글 : 프로젝트의 현재 상황 : - 현 올라핀테크와 유사한 사업 구상 중 "오픈마켓선정산시스템" / 사용자 + 관리자(대리점 또는 관련 지사 포함) 시스템 구축</p>
                        </div>
                        <div class="card-img">
                            <img src="../../static/images/review01.jpeg" class="review-image">
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- 후기 리스트 끝 -->
        <!-- 연수신청 진행사항 -->
        <div class="process-guide">
            <section class="container">
                <p class="process-guide-title">교차로의 안전하고 친절한 프로세스를 경험해 보세요.</p>
                <div class="process-guide-box" style="width: 1400px;">
                    <div class="process-opacity-box" style="display: block;"></div>
                    <div class="process-guide-content-list">
                        <div class="process-guide-nav">
                            <div class="process-line-group">
                                <div class="process-line line-0 active"></div>
                                <div class="process-line line-1"></div>
                                <div class="process-line line-2"></div>
                                <div class="process-line line-3"></div>
                                <div class="process-line line-4" style="width: 420px;"></div>
                            </div>
                        </div>
                        <div class="process-guide-nav">
                            <div class="process-text-group">
                                <div class="process-text element text-0 active" targetitem="0">연수신청 및 상담</div>
                                <div class="process-text element text-1" targetitem="1">정보입력 및 코스선택</div>
                                <div class="process-text element text-2" targetitem="2">연수시간 및 지역</div>
                                <div class="process-text element text-3" targetitem="3">완료</div>
                            </div>
                        </div>
                        <div class="process-guide-nav">
                            <div class="process-btn-group">
                                <div class="process-btn element btn-0 active" targetitem="0">1</div>
                                <div class="process-btn element btn-1" targetitem="1">2</div>
                                <div class="process-btn element btn-2" targetitem="2">3</div>
                                <div class="process-btn element btn-3" targetitem="3">4</div>
                            </div>
                        </div>
                        <div class="process-guide-content">
                            <div class="process-guide-content-box">
                                <div class="process-guide-content-text-box">
                                    <p class="process-title">
                                        <span class="process-title-step">Step 1</span>
                                        연수신청 및 상담
                                    </p>
                                    <p class="process-title-text">
                                        자신의 실력에 딱 맞는 맞춤 상담을 받아보세요.
                                        <br>
                                        연수를 신청해 주시면
                                        <br>
                                        전화상담 후 내용 작성을 도와드립니다.
                                    </p>
                                    <ul class="process-guide-content-text-list">
                                        <li>
                                            <img class="process-guide-content-text-bullet" src="https://www.wishket.com/static/renewal/img/landing/process_card_bullet.png" alt="">
                                            <p class="element process-guide-content-text-detail">
                                                교차로에서는 72,000여 건을 상담한 경험을 가진 교차로 매니저가
                                                <br>
                                                요구사항 구체화를 도와드리고, 그에 맞는 코스를 안내해드립니다.
                                            </p>
                                        </li>
                                        <li>
                                            <img class="process-guide-content-text-bullet" src="https://www.wishket.com/static/renewal/img/landing/process_card_bullet.png" alt="">
                                            <p class="process-guide-content-text-detail">
                                                추가사항2
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <img class="process-guide-content-img" src="https://www.wishket.com/static/renewal/img/landing/process_1.png" alt="">
                            </div>
                            <div class="process-guide-footer-nav">
                                <p class="process-paginate">
                                    <svg class="arrow-left-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
                                    </svg>
                                    1/4
                                </p>
                                <p class="next-page active">
                                    지원자 모집 및 선택
                                    <svg class="arrow-right-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/>
                                    </svg>
                                </p>
                            </div>
                        </div>
                        <div class="process-guide-content">
                            <div class="process-guide-content-box">
                                <div class="process-guide-content-text-box">
                                    <p class="process-title">
                                        <span class="process-title-step">Step 2</span>
                                        정보입력 및 코스선택
                                    </p>
                                    <p class="process-title-text">
                                        마음에 드는 믿을만한 파트너를 만나보세요.
                                        <br>
                                        오랜 경력을 가진 무사고 베테랑 강사님에게
                                        <br>
                                        친절하고 안전한 연수를 받을 수 있습니다.
                                    </p>
                                    <ul class="process-guide-content-text-list">
                                        <li>
                                            <img class="process-guide-content-text-bullet" src="https://www.wishket.com/static/renewal/img/landing/process_card_bullet.png" alt="">
                                            <p class="process-guide-content-text-detail">
                                                교차로에서는 24시간 내에 평균 5.2명의 지원자가 빠르게 발생합니다.
                                            </p>
                                        </li>
                                        <li>
                                            <img class="process-guide-content-text-bullet" src="https://www.wishket.com/static/renewal/img/landing/process_card_bullet.png" alt="">
                                            <p class="element process-guide-content-text-detail">
                                                추가사항2
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <img class="process-guide-content-img" src="https://www.wishket.com/static/renewal/img/landing/process_2.png" alt="">
                            </div>
                            <div class="process-guide-footer-nav">
                                <p class="process-paginate">
                                    <svg class="arrow-left-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
                                    </svg>
                                    2/4
                                </p>
                                <p class="next-page active">
                                    연수시간 및 지역
                                    <svg class="arrow-right-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/>
                                    </svg>
                                </p>
                            </div>
                        </div>
                        <div class="process-guide-content">
                            <div class="process-guide-content-box">
                                <div class="process-guide-content-text-box">
                                    <p class="process-title">
                                        <span class="process-title-step">Step 1</span>
                                        연수신청 및 상담
                                    </p>
                                    <p class="process-title-text">
                                        자신의 실력에 딱 맞는 맞춤 상담을 받아보세요.
                                        <br>
                                        연수를 신청해 주시면
                                        <br>
                                        전화상담 후 내용 작성을 도와드립니다.
                                    </p>
                                    <ul class="process-guide-content-text-list">
                                        <li>
                                            <img class="process-guide-content-text-bullet" src="https://www.wishket.com/static/renewal/img/landing/process_card_bullet.png" alt="">
                                            <p class="element process-guide-content-text-detail">
                                                교차로에서는 72,000여 건을 상담한 경험을 가진 교차로 매니저가
                                                <br>
                                                요구사항 구체화를 도와드리고, 그에 맞는 코스를 안내해드립니다.
                                            </p>
                                        </li>
                                        <li>
                                            <img class="process-guide-content-text-bullet" src="https://www.wishket.com/static/renewal/img/landing/process_card_bullet.png" alt="">
                                            <p class="element process-guide-content-text-detail">
                                                추가사항2
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <img class="process-guide-content-img" src="https://www.wishket.com/static/renewal/img/landing/process_1.png" alt="">
                            </div>
                            <div class="process-guide-footer-nav">
                                <p class="process-paginate">
                                    <svg class="arrow-left-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
                                    </svg>
                                    1/4
                                </p>
                                <p class="next-page active">
                                    지원자 모집 및 선택
                                    <svg class="arrow-right-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/>
                                    </svg>
                                </p>
                            </div>
                        </div>
                        <div class="process-guide-content">
                            <div class="process-guide-content-box">
                                <div class="process-guide-content-text-box">
                                    <p class="process-title">
                                        <span class="process-title-step">Step 1</span>
                                        연수신청 및 상담
                                    </p>
                                    <p class="process-title-text">
                                        자신의 실력에 딱 맞는 맞춤 상담을 받아보세요.
                                        <br>
                                        연수를 신청해 주시면
                                        <br>
                                        전화상담 후 내용 작성을 도와드립니다.
                                    </p>
                                    <ul class="process-guide-content-text-list">
                                        <li>
                                            <img class="process-guide-content-text-bullet" src="https://www.wishket.com/static/renewal/img/landing/process_card_bullet.png" alt="">
                                            <p class="element process-guide-content-text-detail">
                                                교차로에서는 72,000여 건을 상담한 경험을 가진 교차로 매니저가
                                                <br>
                                                요구사항 구체화를 도와드리고, 그에 맞는 코스를 안내해드립니다.
                                            </p>
                                        </li>
                                        <li>
                                            <img class="process-guide-content-text-bullet" src="https://www.wishket.com/static/renewal/img/landing/process_card_bullet.png" alt="">
                                            <p class="element process-guide-content-text-detail">
                                                추가사항2
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <img class="process-guide-content-img" src="https://www.wishket.com/static/renewal/img/landing/process_1.png" alt="">
                            </div>
                            <div class="process-guide-footer-nav">
                                <p class="process-paginate">
                                    <svg class="arrow-left-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
                                    </svg>
                                    1/4
                                </p>
                                <p class="next-page active">
                                    지원자 모집 및 선택
                                    <svg class="arrow-right-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/>
                                    </svg>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="appeal-point">
            <section class="container">
                <p class="appeal-point-title">교차로는 편리하고 안전합니다.</p>
                <div class="appeal-box-group">
                    <div class="appeal-box with-mb">
                        <img class="appeal-image" src="	https://www.wishket.com/static/renewal/img/landing/appeal_img_1.png" alt="">
                        <p class="appeal-text">
                            빠르고 편리하게,
                            <br>
                            연수신청
                        </p>
                    </div>
                    <div class="appeal-box with-mb">
                        <img class="appeal-image" src="https://www.wishket.com/static/renewal/img/landing/appeal_img_2.png" alt="">
                        <p class="appeal-text">
                            인증된 강사진,
                            <br>
                            합법적으로 안전하게
                        </p>
                    </div>
                    <div class="appeal-box with-mb">
                        <img class="appeal-image" src="https://www.wishket.com/static/renewal/img/landing/appeal_img_3.png" alt="">
                        <p class="appeal-text">
                            안전한 대금보호,
                            <br>
                            간편한 신청 시스템
                        </p>
                    </div>
                    <div class="appeal-box">
                        <img class="appeal-image" src="https://www.wishket.com/static/renewal/img/landing/appeal_img_4.png" alt="">
                        <p class="appeal-text">
                            보호받을 수 있는
                            <br>
                            보험처리 문제까지
                        </p>
                    </div>
                    <div class="appeal-box">
                        <img class="appeal-image" src="https://www.wishket.com/static/renewal/img/landing/appeal_img_5.png" alt="">
                        <p class="appeal-text">
                            신뢰할 수 있는
                            <br>
                            교차로 표준 신청서
                        </p>
                    </div>
                    <div class="appeal-box">
                        <img class="appeal-image" src="	https://www.wishket.com/static/renewal/img/landing/appeal_img_6.png" alt="">
                        <p class="appeal-text">
                            시작부터 끝까지
                            <br>
                            함께하는 교차로
                        </p>
                    </div>
                </div>
            </section>
        </div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
    </div>
    <!-- footer 시작 -->
    <div class="footer-margin-remover"></div>
    <footer class="footer">
        <div class="container">
            <div class="footer-main">
                <div class="footer-menu-list">
                    <p class="footer-menu-title">교차로</p>
                    <a class="footer-menu-item" href="">교차로 소개</a>
                    <a class="footer-menu-item" href="">신뢰와 안전</a>
                    <a class="footer-menu-item" href="">이용약관</a>
                    <a class="footer-menu-item" href="">개인정보 처리방침</a>
                </div>
                <div class="footer-menu-list" style="width: 200px">
                    <a class="footer-menu-title" href="">고객센터</a>
                    <a class="footer-menu-item" href="">클라이언트 고객센터</a>
                    <a class="footer-menu-item" href=""></a>
                    <a class="footer-menu-item" href="">이용요금</a>
                    <a class="footer-menu-item" href="">클라이언트 이용방법</a>
                    <a class="footer-menu-item" href="">파트너스 이용방법</a>
                </div>
                <div class="footer-menu-list">
                    <a class="footer-menu-title" href="">뉴스센터</a>
                    <a class="footer-menu-item" href="">공지사항</a>
                    <a class="footer-menu-item" href="">교차로 소식</a>
                    <a class="footer-menu-item" href="">교차로 이용 팁</a>
                    <a class="footer-menu-item" href="">프로젝트 성공사례</a>
                    <a class="footer-menu-item" href="">언론보도</a>
                </div>
                <div class="footer-menu-list">
                    <a class="footer-menu-title" href="">이용후기</a>
                    <a class="footer-menu-title" href="">교차로 스토어</a>
                    <a class="footer-menu-title" href="">요즘IT</a>
                    <a class="footer-menu-title" href="">통합빌링 서비스</a>
                </div>
                <div class="footer-menu-list footer-contact">
                    <p class="footer-menu-title">CONTACT US</p>
                    <a class="footer-menu-item" href="">02-1234-1234(10:00-18:00, 공휴일 제외)</a>
                    <a class="footer-menu-item" href="">help@crossroads.com</a>
                </div>
            </div>
            <div class="footer-company-info">
                <div class="footer-company-info-logo-wrapper">
                    <!-- wishket logo -->
                    <a href="">
                        <img src="https://www.wishket.com/static/img/partials/wishket_footer_logo.png" alt="">
                    </a>
                </div>
                <div class="footer-company-info-detail">
                    <p class="footer-company-info-description">
                        주식회사 교차로 (대표이사: 한동석) / 서울특별시 강남구 테헤란로 211 한국고등교육재단빌딩 3층 (주)교차로<br>
                        사업자등록번호: 123-12-34567 / 통신판매업신고: 제2018-서울강남-02337 호 / 직업정보제공사업 신고번호: J1200020180019
                    </p>
                    <p class="footer-company-info-copyright">© 2013 Wishket Corp.</p>
                </div>
                <div class="footer-company-info-sns">
                    <!-- facebook icon -->
                    <a href="">
                        <img src="https://www.wishket.com/static/renewal/img/global/footer_sns_facebook.png" alt="">
                    </a>
                    <!-- blog icon -->
                    <a href="">
                        <img src="https://www.wishket.com/static/renewal/img/global/footer_sns_blog.png" alt="">
                    </a>
                    <!-- naver icon -->
                    <a href="">
                        <img src="	https://www.wishket.com/static/renewal/img/global/footer_sns_naver.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer 끝-->
</body>
<script src="../../static/js/main/main.js"></script>
</html>