<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>교차로</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/css/main/main.css">
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <link rel="shortcut icon" href="/images/components/favicon-logo-white.png">
</head>
<body class="main">
<!-- header 시작-->
<div th:if="${session.memberId == null}" th:insert="~{/components/header-main :: header-main}"></div>
<div th:unless="${session.memberId == null}" th:insert="~{/components/header-client :: header-client}"></div>
<!-- header 끝 -->
<div class="main-container">
    <!-- 메인배너 -->
    <div class="introduction">
        <section class="container">
            <div class="introduction-guide">
                <p class="guide-title title-style">
                    운전연수 필요할때?
                    <br>
                    든든하고 안전한
                    <br>
                    교차로와 함께!
                </p>
                <p class="guide-body body-style">
                    수도권 전지역, 실제 수강생 후기
                    <br>
                    여자강사님 최다보유, 평균 만족도 4.9점
                </p>
                <a class="btn-btn btn-style btn-color" href="/forms/formFirst">연수 신청하기</a>
            </div>
            <div class="introduction-img">
                <img class="img-size" src="/images/main/introduction-img.png" alt="">
            </div>
        </section>
    </div>
    <!-- 메인배너 끝 -->
    <!-- 회원가입 배너 -->
    <div class="signup-banner">
        <section class="container">
            <div class="signup-guide">
                <p class="guide-text">운전연수 프로그램을 찾고 있으신가요?</p>
                <a class="btn-btn guide-btn" th:href="@{/member/join}">회원가입하기</a>
            </div>
        </section>
    </div>
    <!-- 회원가입 끝 -->
    <!-- 후기 리스트 시작 -->
    <div class="main-review">
        <section class="container">
            <p class="review-title">교차로 수강생 실제후기</p>
            <div class="review-nav">
                <p class="review-nav-detail">후기글</p>
            </div>

            <div class="review-list">
                <div class="review-card">
                    <div class="review-info">
                        <a class="card-title text-button" href="/review-list" th:text="${reviews[0].reviewTitle}">후기
                            타이틀</a>
                        <div class="card-info">
                            <span class="info-name" th:text="${reviews[0].memberName}">유저명</span>
                            <span class="info-divider">|</span>
                            <span class="info-date" data-th-inline="javascript" th:data-review-date="${reviews[0].reviewRegisterDate}">날짜</span>
                            <span class="info-divider">|</span>
                            <span class="user-detail-bottom">
                                    <div class="star-score-box">
                                        <div class="star-score-box">
                                                 <div class="review-star" data-th-inline="javascript"
                                                      th:data-review-grade="${reviews[0].reviewGrade}">
                                                 </div>
                                                <div class="review-score" th:text="${reviews[0].reviewGrade} + '개'"
                                                     style="margin-left: 109px;margin-top: -24px;">
                                                </div>
                                            </div>
                                        <span class="review-score"></span>
                                    </div>
                                </span>
                        </div>
                        <p class="card-contents" th:text="${reviews[0].reviewContent}"></p>
                    </div>
                    <div class="card-img">
                        <img th:src="@{/uploads/{filename}(filename=${reviews[0].reviewFileSystemName})}"
                             class="review-image">
                    </div>
                </div>
                <!--2번째-->
                <div class="review-card">
                    <div class="review-info">
                        <a class="card-title text-button" href="/review-list" th:text="${reviews[1].reviewTitle}">후기
                            타이틀</a>
                        <div class="card-info">
                            <span class="info-name" th:text="${reviews[1].memberName}">유저명</span>
                            <span class="info-divider">|</span>
                            <span class="info-date" data-th-inline="javascript" th:data-review-date="${reviews[1].reviewRegisterDate}">날짜</span>
                            <span class="info-divider">|</span>
                            <span class="user-detail-bottom">
                                    <div class="star-score-box">
                                        <div class="star-score-box">
                                               <div class="review-star" data-th-inline="javascript"
                                                    th:data-review-grade="${reviews[1].reviewGrade}">
                                                 </div>
                                                <div class="review-score" th:text="${reviews[1].reviewGrade} + '개'"
                                                     style="margin-left: 109px;margin-top: -24px;">
                                                </div>
                                            </div>
                                        <span class="review-score"></span>
                                    </div>
                                </span>
                        </div>
                        <p class="card-contents" th:text="  ${reviews[1].reviewContent}"></p>
                    </div>
                    <div class="card-img">
                        <img th:src="@{/uploads/{filename}(filename=${reviews[1].reviewFileSystemName})}"
                             class="review-image">
                    </div>
                </div>
                <div class="review-card">
                    <div class="review-info">
                        <a class="card-title text-button" href="/review-list" th:text="${reviews[2].reviewTitle}">후기
                            타이틀</a>
                        <div class="card-info">
                            <span class="info-name" th:text="${reviews[2].memberName}">유저명</span>
                            <span class="info-divider">|</span>
                            <span class="info-date" data-th-inline="javascript" th:data-review-date="${reviews[2].reviewRegisterDate}">날짜</span>
                            <span class="info-divider">|</span>
                            <span class="user-detail-bottom">
                                    <div class="star-score-box">
                                        <div class="star-score-box">
                                                 <div class="review-star" data-th-inline="javascript"
                                                      th:data-review-grade="${reviews[2].reviewGrade}">
                                                 </div>
                                                <div class="review-score" th:text="${reviews[2].reviewGrade} + '개'"
                                                     style="margin-left: 109px;margin-top: -24px;">
                                                </div>
                                            </div>
                                        <span class="review-score"></span>
                                    </div>
                                </span>
                        </div>
                        <p class="card-contents" th:text="  ${reviews[2].reviewContent}"></p>
                    </div>
                    <div class="card-img">
                        <img th:src="@{/uploads/{filename}(filename=${reviews[2].reviewFileSystemName})}"
                             class="review-image">
                    </div>
                </div>
                <div class="review-card">
                    <div class="review-info">
                        <a class="card-title text-button" href="/review-list" th:text="${reviews[3].reviewTitle}">후기
                            타이틀</a>
                        <div class="card-info">
                            <span class="info-name" th:text="${reviews[3].memberName}">유저명</span>
                            <span class="info-divider">|</span>
                            <span class="info-date" data-th-inline="javascript" th:data-review-date="${reviews[3].reviewRegisterDate}">날짜</span>
                            <span class="info-divider">|</span>
                            <span class="user-detail-bottom">
                                    <div class="star-score-box">
                                        <div class="star-score-box">
                                                 <div class="review-star" data-th-inline="javascript"
                                                      th:data-review-grade="${reviews[3].reviewGrade}">
                                                 </div>
                                                <div class="review-score" th:text="${reviews[3].reviewGrade} + '개'"
                                                     style="margin-left: 109px;margin-top: -24px;">
                                                </div>
                                            </div>
                                        <span class="review-score"></span>
                                    </div>
                                </span>
                        </div>
                        <p class="card-contents" th:text="  ${reviews[3].reviewContent}"></p>
                    </div>
                    <div class="card-img">
                        <img th:src="@{/uploads/{filename}(filename=${reviews[3].reviewFileSystemName})}"
                             class="review-image">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- 후기 리스트 끝 -->
    <!-- 연수신청 진행사항 -->
    <div class="process-guide">
        <section class="container">
            <p class="process-guide-title">교차로의 안전하고 친절한 프로세스를 경험해 보세요.</p>
            <div class="process-guide-box" style="width: 1400px;">
                <div class="process-opacity-box" style="display: block;"></div>
                <div class="process-guide-content-list">
                    <div class="process-guide-nav">
                        <div class="process-line-group">
                            <div class="process-line line-0 active"></div>
                            <div class="process-line line-1"></div>
                            <div class="process-line line-2"></div>
                            <div class="process-line line-3"></div>
                            <div class="process-line line-4" style="width: 420px;"></div>
                        </div>
                    </div>
                    <div class="process-guide-nav">
                        <div class="process-text-group">
                            <div class="process-text element text-0 active">연수신청 및 상담</div>
                            <div class="process-text element text-1">정보입력 및 코스선택</div>
                            <div class="process-text element text-2">연수시간 및 지역</div>
                            <div class="process-text element text-3">완료</div>
                        </div>
                    </div>
                    <div class="process-guide-nav">
                        <div class="process-btn-group">
                            <div class="process-btn element btn-0 active">1</div>
                            <div class="process-btn element btn-1">2</div>
                            <div class="process-btn element btn-2">3</div>
                            <div class="process-btn element btn-3">4</div>
                        </div>
                    </div>
                    <div class="content-list">
                        <div class="process-guide-content">
                            <div class="process-guide-content-box">
                                <div class="process-guide-content-text-box">
                                    <p class="process-title">
                                        <span class="process-title-step">Step 1</span>
                                        연수신청
                                    </p>
                                    <p class="process-title-text">
                                        자신의 실력에 딱 맞는 운전연수를 받아보세요.
                                        <br>
                                        운전실력에 관계없이 누구나 신청 가능합니다.
                                    </p>
                                    <ul class="process-guide-content-text-list">
                                        <li>
                                            <img class="process-guide-content-text-bullet"
                                                 src="/images/main/process_card_bullet.png" alt="">
                                            <p class="element process-guide-content-text-detail">
                                                초보자가 가장 많이 실수하는 3가지
                                                <br>
                                                1. 시선이 왼쪽으로 치우침
                                                <br>
                                                2. 핸들링이 과하거나 부족함
                                                <br>
                                                3. 갑작스러운 차선 변경
                                                <br>
                                                <br>
                                                확실하게 알려드립니다!
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <img class="process-guide-content-img" src="/images/main/process_1.png" alt="">
                            </div>
                            <div class="process-guide-footer-nav">
                                <div class="process-paginate">
                                    <svg class="arrow-left-icon" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 448 512">
                                        <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
                                    </svg>
                                    1/4
                                </div>
                                <div class="next-page active">
                                    정보입력 및 코스선택
                                    <svg class="arrow-right-icon" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 448 512">
                                        <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="process-guide-content">
                            <div class="process-guide-content-box">
                                <div class="process-guide-content-text-box">
                                    <p class="process-title">
                                        <span class="process-title-step">Step 2</span>
                                        정보입력 및 코스선택
                                    </p>
                                    <p class="process-title-text">
                                        코스별로 수업을 선택할 수 있으며,
                                        <br>
                                        원하는 지역을 강사님과 상의 후
                                        <br>
                                        운전할 수 있습니다.
                                    </p>
                                    <ul class="process-guide-content-text-list">
                                        <li>
                                            <img class="process-guide-content-text-bullet"
                                                 src="/images/main/process_card_bullet.png" alt="">
                                            <p class="process-guide-content-text-detail">
                                                교차로에서는 24시간 내에 평균 5.2명의 수강자가 빠르게 발생합니다.
                                            </p>
                                        </li>
                                        <li>
                                            <img class="process-guide-content-text-bullet"
                                                 src="/images/main/process_card_bullet.png" alt="">
                                            <p class="element process-guide-content-text-detail">
                                                동네 운전부터 시작하고 싶으신 분 또는 출퇴근길 운전하고 싶으신 분
                                                <br>
                                                자신의 목표에 맞게 코스를 선택할 수 있습니다.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <img class="process-guide-content-img" src="/images/main/process_2.png" alt="">
                            </div>
                            <div class="process-guide-footer-nav">
                                <p class="process-paginate">
                                    <svg class="arrow-left-icon" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 448 512">
                                        <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
                                    </svg>
                                    2/4
                                </p>
                                <p class="next-page active">
                                    연수지역 및 날짜
                                    <svg class="arrow-right-icon" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 448 512">
                                        <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/>
                                    </svg>
                                </p>
                            </div>
                        </div>
                        <div class="process-guide-content">
                            <div class="process-guide-content-box">
                                <div class="process-guide-content-text-box">
                                    <p class="process-title">
                                        <span class="process-title-step">Step 3</span>
                                        연수지역 및 날짜
                                    </p>
                                    <p class="process-title-text">
                                        시간을 맞추기 어려웠던 분들
                                        <br>
                                        원하는 지역과 날짜를
                                        <br>
                                        자유롭게 선택할 수 있습니다.
                                    </p>
                                    <ul class="process-guide-content-text-list">
                                        <li>
                                            <img class="process-guide-content-text-bullet"
                                                 src="/images/main/process_card_bullet.png" alt="">
                                            <p class="element process-guide-content-text-detail">
                                                교차로에서는 검증된 강사님과 함꼐하고 있습니다.
                                                <br>
                                                오랜 경력을 가진 베테랑 강사님께 안전하고 올바른 운전법을 배워보세요.
                                            </p>
                                        </li>
                                        <li>
                                            <img class="process-guide-content-text-bullet"
                                                 src="/images/main/process_card_bullet.png" alt="">
                                            <p class="element process-guide-content-text-detail">
                                                강사님 수업에 불만족하거나 스케줄 조율이 어려우신 분은
                                                <br>
                                                전화상담으로 교체 가능합니다.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <img class="process-guide-content-img" src="/images/main/process_3.png" alt="">
                            </div>
                            <div class="process-guide-footer-nav">
                                <p class="process-paginate">
                                    <svg class="arrow-left-icon" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 448 512">
                                        <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
                                    </svg>
                                    3/4
                                </p>
                                <p class="next-page active">
                                    지원자 모집 및 선택
                                    <svg class="arrow-right-icon" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 448 512">
                                        <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/>
                                    </svg>
                                </p>
                            </div>
                        </div>
                        <div class="process-guide-content">
                            <div class="process-guide-content-box">
                                <div class="process-guide-content-text-box">
                                    <p class="process-title">
                                        <span class="process-title-step">Step 4</span>
                                        연수진행 및 완료
                                    </p>
                                    <p class="process-title-text">
                                        교차로에서 약속합니다!
                                        <br>
                                        사고시 보험처리,
                                        <br>
                                        강사님 또는 업체측 과실인 경우 수강료 환불
                                    </p>
                                    <ul class="process-guide-content-text-list">
                                        <li>
                                            <img class="process-guide-content-text-bullet"
                                                 src="/images/main/process_card_bullet.png" alt="">
                                            <p class="element process-guide-content-text-detail">
                                                모든 연수차량이 보험 가입되어 있으며,
                                                <br>
                                                연수차 사고 발생 시 연수자의 자부담금은 없습니다.
                                            </p>
                                        </li>
                                        <li>
                                            <img class="process-guide-content-text-bullet"
                                                 src="/images/main/process_card_bullet.png" alt="">
                                            <p class="element process-guide-content-text-detail">
                                                강사님 수업에 불만족하신 경우는 전화 상담 후 교체 가능합니다.
                                                <br>

                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <img class="process-guide-content-img" src="/images/main/process_4.png" alt="">
                            </div>
                            <div class="process-guide-footer-nav">
                                <p class="process-paginate">
                                    <svg class="arrow-left-icon" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 448 512">
                                        <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
                                    </svg>
                                    4/4
                                </p>
                                <a class="apply-btn" href="/forms/formFirst">연수 신청하기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="appeal-point">
        <section class="container">
            <p class="appeal-point-title">교차로는 편리하고 안전합니다.</p>
            <div class="appeal-box-group">
                <div class="appeal-box with-mb">
                    <img class="appeal-image" src="/images/main/appeal_img_1.png" alt="">
                    <p class="appeal-text">
                        빠르고 편리하게,
                        <br>
                        연수신청
                    </p>
                </div>
                <div class="appeal-box with-mb">
                    <img class="appeal-image" src="/images/main/appeal_img_2.png" alt="">
                    <p class="appeal-text">
                        검증된 강사진,
                        <br>
                        합법적으로 안전하게
                    </p>
                </div>
                <div class="appeal-box with-mb">
                    <img class="appeal-image" src="/images/main/appeal_img_3.png" alt="">
                    <p class="appeal-text">
                        안전한 대금보호,
                        <br>
                        간편한 신청 시스템
                    </p>
                </div>
                <div class="appeal-box">
                    <img class="appeal-image" src="/images/main/appeal_img_4.png" alt="">
                    <p class="appeal-text">
                        보호받을 수 있는
                        <br>
                        보험처리 문제까지
                    </p>
                </div>
                <div class="appeal-box">
                    <img class="appeal-image" src="/images/main/appeal_img_5.png" alt="">
                    <p class="appeal-text">
                        신뢰할 수 있는
                        <br>
                        교차로 표준 신청서
                    </p>
                </div>
                <div class="appeal-box">
                    <img class="appeal-image" src="/images/main/appeal_img_6.png" alt="">
                    <p class="appeal-text">
                        시작부터 끝까지
                        <br>
                        함께하는 교차로
                    </p>
                </div>
            </div>
        </section>
    </div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
</div>
<!-- footer 시작 -->
<div th:insert="~{/components/footer :: footer}"></div>
<!-- footer 끝-->
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/main/main.js"></script>
<script src="/js/components/header-client.js"></script>
<script src="/js/components/header-main.js"></script>
<script src="/js/board/boardList.js"></script>
</html>