<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>마이 페이지 메인</title>
    <link rel="stylesheet" href="/css/mypage/withdrawPoint.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/components/favicon-logo-white.png">
</head>
<body class="whisket-member">
     <!-- 헤더 -->
     <header class="header">
        <section class="base-nav">
            <div class="container">
                <a class="nav-logo" th:href="@{/member/my-main}">교차로 회원 계정 설정</a>
                <div class="right-nav">
                    <div class="service-nav">
                        <a class="service-nav-title" th:href="@{/member/logout}">로그아웃</a>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <!-- 메인뷰 -->
    <div class="body-container">
        <div class="container">
            <div class="main-view">
                <div class="main-view-header"><div>
                <div class="subtitle welcome title"><span th:text="${member.memberIdentification}"></span><span> 님, 안녕하세요</span></div>
                <div class="body-2 welcome2 description">교차로 회원의 정보를 안전하게 설정할 수 있습니다.</div>
            </div>
        </div>
        <div class="menu-box-list">
            <a class="menu-box" th:href="@{/mypage/my-info}">
                <img src="/images/mypage/icon_account_setting.png">
                <div class="body-1-medium welcome title">계정 정보</div>
                <div class="body-2 welcome2 description2">계정의 기본 정보들을 확인할 수 있습니다.</div>
            </a>
            <a class="menu-box" th:href="@{/mypage/my-password-check}">
                <img src="/images/mypage/icon_account_pw.png">
                <div class="body-1-medium welcome title">비밀번호 변경</div>
                <div class="body-2 welcome2 description2">비밀번호를 변경하고 계정을 안전하게 보호하세요.</div>
            </a>
            <a class="menu-box" th:href="@{/mypage/my-withdraw}">
                <img src="/images/mypage/icon_account_out.png">
                <div class="body-1-medium welcome title">회원 탈퇴</div>
                <div class="body-2 welcome2 description2">회원 탈퇴를 신청할 수 있습니다.</div>
            </a>
        </div> <!-- menu-box-list -->
    </div><!-- menu-view -->
    </div><!-- container -->
    </div>
<div th:insert="~{/components/footer :: footer}"></div>
</body>
<script src="/js/components/header-client.js"></script>
</html>
