<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>내가 쓴 댓글</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <link rel="stylesheet" href="/css/mypage/point.css">
    <link rel="shortcut icon" href="/images/components/favicon-logo-white.png">
</head>
<body>
<div th:insert="~{/components/header-client :: header-client}"></div>
<div id="wrap">
    <div class="page">
        <div class="page-inner">
            <!--  좌측 사이드바-->
            <div class="sidebar">
                <div class="user-name-tag">
                    <h3 class="user-name-tag-heading">초보자</h3>
                    <a class="profile-setting"><!-- 클라이언트 정보 --></a>
                    <div class="user-name-tag-body">
                        <div class="user-img-box">

                            <img id="modal-back" class="img-circle user-img" th:src="@{/mypage/display(fileName=${member.memberFilePath} + '/' + ${member.memberFileUuid} + '_' + ${member.memberFileOriginalName})}">
                            <!--                            <img alt="seinee114 사진" id="modal-back" class="img-circle user-img"-->
                            <!--                                 src="/images/mypage/main-logo.png">-->

                            <img class="user-img-edit-icon off" src="/images/mypage/icon_edit_s.png">
                            <img class="user-img-edit-icon on" src="/images/mypage/icon_edit_s_hover.png"></div>
                        <div class="userid">
                            <div th:text="${member.memberIdentification}" class="username"><br></div>
                        </div>
                    </div>
                </div>
                <!--모달-->
                <div class="profile-container modal fade" id="modal-background">
                    <div id="cropper-img-box">
                        <img class="cropper-img" hidden="">
                    </div>
                    <div class="profile-image-edit-modal-wrapper">
                        <form enctype="multipart/form-data" id="profile_image_edit_form">
                            <div class="modal__title">프로필 사진 등록
                                <div class="close_modal">
                                    <img class="modal-close-image-button" src="/images/mypage/icon_modal_close.png">
                                </div>
                            </div>
                            <div class="modal__body">
                                <div class="modal-body-wrapper" id="profile_image_edit_modal_body">
                                    <div class="modal-content">
                                        나를 표현하는 사진을 등록해주세요
                                    </div>
                                    <img class="user-profile-img upload" id="modal_user_img"
                                         src="/images/mypage/main-logo.png">
                                    <div class="loading-circle user-profile-img">
                                        <div class="sk-fading-circle theme-client">
                                            <div class="sk-circle1 sk-circle"></div>
                                            <div class="sk-circle2 sk-circle"></div>
                                            <div class="sk-circle3 sk-circle"></div>
                                            <div class="sk-circle4 sk-circle"></div>
                                            <div class="sk-circle5 sk-circle"></div>
                                            <div class="sk-circle6 sk-circle"></div>
                                            <div class="sk-circle7 sk-circle"></div>
                                            <div class="sk-circle8 sk-circle"></div>
                                            <div class="sk-circle9 sk-circle"></div>
                                            <div class="sk-circle10 sk-circle"></div>
                                            <div class="sk-circle11 sk-circle"></div>
                                            <div class="sk-circle12 sk-circle"></div>
                                        </div>
                                    </div>
                                    <div class="body-btn-group">
                                        <input accept=".jpg, .jpeg, .png, .gif" id="fileupload"
                                               class="img-temp-file" hidden="" type="file" onchange="readURL(this);">
                                        <input hidden="" id="profile_remove_image_file" name="remove_image_file"
                                               type="checkbox">
                                        <button class="body-btn upload" onclick="upload_image()" type="button">
                                            <img src="/images/mypage/icon_profile_upload.png">사진 올리기
                                        </button>
                                        <button class="body-btn" id="remove-button" type="button">
                                            <img src="/images/mypage/icon_profile_delete.png">사진 지우기
                                        </button>
                                    </div>
                                    <div class="modal-info-body">
                                        <div class="base-dot-list">
                                            <div class="dot-line">
                                                <div class="dot">·</div>
                                                프로필 사진은 교차로 서비스에 표시됩니다.
                                            </div>
                                            <div class="dot-line">
                                                <div class="dot">·</div>
                                                .jpg, .jpeg, .png, .gif 파일만 업로드 가능합니다.
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- modal body-->
                            </div>   <!--modal-body-wrapper-->
                            <div class="modal__footer">
                                <div class="modal__button group-block-button">
                                    <button class="button theme-indigo close__modal" id="btn_modal_close"
                                            type="button">
                                        닫기
                                    </button>
                                    <button class="button theme-client" id="btn_profile_img_modal_submit"
                                            onclick="submit_form('/profile/api/profile-image/')" type="button">등록 완료
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--   사이드바 메뉴-->
                <div class="sidebar-nav">
                    <ul>
                        <li class="sidemenu"><a th:href="@{/mypage/my-info}">프로필 정보 설정</a></li>
                        <li><a th:href="@{/mypage/my-board}"><span>나의 게시글 보기</span></a></li>
                        <li class="activeblue"><a class="active-text" th:href="@{/mypage/my-reply}"><span>나의 댓글 보기</span></a></li>
                        <li><a  th:href="@{/mypage/my-point}"><span>포인트 조회</span></a></li>
                        <li><a  th:href="@{/mypage/my-apply}"><span>연수 내역</span></a></li>
                        <li class="sidemenu2"><a th:href="@{/mypage/my-review}"><span>나의 후기</span></a></li>
                        <a class="advertisement" id="left_sidebar_advertisement"></a>
                    </ul>
                </div>
            </div>
        </div> <!-- sidebar 끝-->
        <div class="gaia">
            <div class="content-header action">
                <h3 class="header-text">내가 쓴 댓글<br>
                    <small class="small-text">내가 작성한 댓글을 확인할 수 있습니다.</small>
                </h3>
            </div>
            <div class="content-inner">
                <div class="process-guide-box" style="margin-bottom: 10px;">
                    <div class="process-guide-up">
                        <div class="process-guide-up-content" style="padding-top: 10px;">
                            <div style="clear:both;"></div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="review-box" th:each="reply:${reply}" >
                        <div class="review-list">
                            <div class="review-content-box">
                                <p class="pcontent">
                                    <span class="review-location" th:text="${reply.boardTitle}" >게시글 제목</span>
                                    <span class="base-info-splitter">|</span>
                                    <span class="review-date" th:text="${reply.replyRegisterDate}" >댓글 작성 날짜</span>
                                <p class="review-description-text" th:text="${reply.replyContent}" >댓글 내용</p>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <section>
                        <a class="change-page" th:href="@{/mypage/my-reply(page=${standards.startPage - 1})}" th:if="${standards.prev}">[이전]</a>
                        <ul id="paging">
                            <th:block th:each="page : ${#numbers.sequence(standards.startPage, standards.endPage)}">
                                <a class="change-page" th:if="${standards.page != page}" th:href="@{/mypage/my-reply(page=${page})}"><li th:text="${page}"></li></a>
                                <li class="paging-list" th:unless="${standards.page != page}" th:text="${page}"></li>
                            </th:block>
                        </ul>
                        <a class="change-page" th:href="@{/mypage/my-reply(page=${standards.endPage + 1})}" th:if="${standards.next}">[다음]</a>
                    </section>
                </div>
            </div>
        </div>
    </div> <!-- content -->
</div> <!-- page inner -->
</div> <!-- page -->
</div>
<div th:insert="~{/components/footer :: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/mypage/mypage-select.js"></script>
<script src="/js/components/header-client.js"></script>
</html>