<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원 탈퇴 동의</title>
    <link rel="stylesheet" href="/css/mypage/withdrawPoint.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
        <link rel="shortcut icon" href="/images/components/favicon-logo-white.png">
</head>

<body class="whisket-member">

    <!-- 헤더 -->
    <header class="header">
        <section class="base-nav">
            <div class="container">
                <a class="nav-logo" th:href="@{/mypage/my-main}">교차로 회원 계정 설정</a>
                <div class="right-nav">
                    <div class="service-nav">
                        <a class="service-nav-title" th:href="@{/member/logout}">로그아웃</a>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <div class="body-container">
        <div class="container">
            <div class="menu-view">
                <div class="nav-header">
                    <a th:href="@{/mypage/my-main}"><span>계정 설정</span></a>
                    <img src="/images/mypage/icon_go.png">
                    <a th:href="@{/member/login}"><span>회원 탈퇴</span></a>
                </div>

                <div class="menu-view-wrapper">
                    <div class="content-view">
                        <div class="menu-content">
                            <div class="menu-title margin">회원 탈퇴</div>
                            <!-- 여기부터 수정 -->
                            <div class="menu-name">탈퇴 시 유의사항</div>
                        </div>

                        <div class="list-group">
                            <div class="list-phase">교차로 계정은 탈퇴 시 계정 정보 및 모든 정보가 삭제되며, 추후 재가입하더라도 복구되지 않습니다.</div>
                            <div class="list-phase">관련 법령에 따라 아래의 종류에 해당하는 기록이 있는 경우, 회원 정보 및 관련 기록을 정해진 기간 동안 보관합니다.
                            </div>
                            <div class="list-phase">보관기간 내에는 동일한 아이디 및 이메일로 재가입이 불가능하며,<br>이후 보관기간이 종료되었을 시 회원 정보 및 관련
                                기록은 지체 없이 파기됩니다.</div>
                        </div>

                        <!-- 표 -->
                        <div class="table">
                            <div class="row row-header">
                                <div class="col left-col">보관정보 종류</div>
                                <div class="col">보관기간</div>
                            </div>
                            <div class="row">
                                <div class="col left-col">소비자의 불만 또는 분쟁처리에 관한 기록</div>
                                <div class="col">3년</div>
                            </div>
                            <div class="row">
                                <div class="col left-col">신용정보의 수집/처리 및 이용 등에 관한 기록</div>
                                <div class="col">3년</div>
                            </div>
                            <div class="row">
                                <div class="col left-col">대금결제 및 재화 등의 공급에 관한 기록</div>
                                <div class="col">5년</div>
                            </div>
                            <div class="row">
                                <div class="col left-col">계약 또는 청약철회 등에 관한 기록</div>
                                <div class="col">5년</div>
                            </div>
                            <div class="row">
                                <div class="col left-col">표시/광고에 관한 기록</div>
                                <div class="col">6개월</div>
                            </div>
                        </div>

                        <div class="list-phase">회원 탈퇴 신청이 접수되면 위시켓 관리자가 확인 후 탈퇴를 처리할 예정입니다.
                            <br>영업일 기준 최대 24시간 이내로 탈퇴가 완료되었음을 이메일로 알려드립니다.
                        </div>


                        <div class="input-box">
                            <label class="checkbox-crossroads">
                                <span class="input-first">
                                    <input class="crossroads-checkbox theme-crossroads" id="agreeCheck"
                                        name="agree_check" type="checkbox" value="agreeCheck">
                                    <span class="arrow"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                            <g fill="none" fill-rule="evenodd">
                                                <path class="checked-icon" stroke="#FFF" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="1.6" d="M4 7.8L7 11l5-6">
                                                </path>
                                            </g>
                                        </svg></span></span>
                                <span>탈퇴 시 유의 사항을 모두 확인하였습니다.</span></label>
                            <div class="error-text-custom">탈퇴 동의에 체크해 주세요.</div>
                        </div>


                        <form th:action="@{/mypage/my-withdraw-confirm}" method="post">
                            <a class="btn btn-gray button1 cancel" href="/wishket-member/">취소</a>
                            <button class="btn btn-wishket" id="withdraw" onclick="submitForm()" type="button">회원 탈퇴</button>
                        </form>
                    </div>
                    <!-- 우측 사이드 메뉴 -->
                    <div class="right-side">
                        <div class="message-info-box">

                            <div class="message-info-box-wrapper">
                                <img class="icon-info"
                                    src="/images/mypage/icon_account_service.png">
                                <div class="title">
                                    교차로를 이용하시는데
                                    <br>
                                    아래와 같은 불편함이 있으신가요?
                                </div>
                            </div>
                            <div class="message-info-box-wrapper">
                                <a class="help-link" href="https://www.wishket.com/customer-support/10/40/314">
                                    포인트 환전이 필요하신가요?
                                    <img class="icon"
                                        src="/images/mypage/icon_go.png"></a>

                                <a class="help-link-second"
                                    href="https://www.wishket.com/customer-support/10/42/144">이메일 변경이 필요하신가요?
                                    <img class="icon-second"
                                        src="/images/mypage/icon_go.png"></a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    </div>
    <div th:insert="~{/components/footer :: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/mypage/password.js"></script>
<script src="/js/components/header-client.js"></script>
</html>