<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원 탈퇴 신청 완료</title>
    <link rel="stylesheet" href="/css/mypage/withdrawPoint.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/components/favicon-logo-white.png">
</head>
<body class="whisket-member">

    <!-- 헤더 -->
    <header class="header">
        <section class="base-nav">
            <div class="container">
                <a class="nav-logo" href="/wishket-member/">교차로 회원 계정 설정</a> 
                <div class="right-nav">
                    <div class="service-nav">
                        <a class="service-nav-title" href="/wishket-member/logout/">로그아웃</a>
                    </div>
                </div>
            </div>
        </section>
    </header>

<div class="body-container">
    <div class="container">
        <div class="menu-view">
            <div class="nav-header">
                <a href="/wishket-member/"><span>계정 설정</span></a>
                <img src="/images/mypage/icon_go.png">
                <a href="/wishket-member/withdrawl/"><span>회원 탈퇴</span></a>
            </div>

            <div class="menu-view-wrapper">
                <div class="content-view">
                    <div class="menu-content">
                        <div class="menu-title">회원 탈퇴가 완료되었습니다.</div>
                        <img class="content-img" src="/images/mypage/img_account_leave.png"></div>
                        <div class="withdraw-notice">
                            계정 탈퇴 처리가 완료되었습니다.<br>
                            이 계정으로는 서비스 이용이 불가합니다.
                        </div>
                        <form method="post">
                            <a class="btn btn-gray button1 cancel" href="/main">메인으로</a>
                        </form>
                    </div>

                <!-- 우측 사이드 메뉴 -->
                <div class="right-side">
                    <div class="message-info-box">

                        <div class="message-info-box-wrapper">
                            <img class="icon-info" src="/images/mypage/icon_account_service.png">
                            <div class="title">
                                문의사항은
                                <br>
                                고객센터로 문의 부탁드립니다.
<!--                                <a class="help-link-withdraw" href="https://www.wishket.com/customer-support/10/40/314">고객센터로 문의 부탁드립니다.-->
                            </div>
                        </div>
                        <!-- <div class="message-info-box-wrapper">
                        </div> -->
                        </div>

                </div>
            </div>
        </div>

    </div>
</div>
    <div th:insert="~{/components/footer :: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/mypage/password.js"></script>
<script src="/js/components/header-client.js"></script>
</html>