<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필 정보 수정</title>
    <link rel="stylesheet" href="../../static/mypage/review.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="wrap">
        <div class="container">
        <div id="message"></div>
        </div><a class="advertisement no_message" id="message_advertisement"></a>

        <div class="page">
            <div class="page-ineer">

                <!-- 좌측 사이드바 시작 -->
                <div class="sidebar">
                    <div class="user-name-tag">
                        <h3 class="user-name-tag-heading">클라이언트</h3>
                        <a class="profile-setting" href="/accounts/settings/profile/">클라이언트 정보</a>
                        <div class="user-name-tag-body">
                            <div class="user-img-box">
                                <img alt="seinee114 사진" class="img-circle user-img" onclick="show_img_edit_modal()" src="https://www.wishket.com/static/img/default_avatar_c.png">
                                <img class="user-img-edit-icon off" src="https://www.wishket.com/static/renewal/img/profile/icon_edit_s.png">
                                <img class="user-img-edit-icon on" src="https://www.wishket.com/static/renewal/img/profile/icon_edit_s_hover.png"></div>
                                <div class="username">seinee114</div><div class="email">seinee114@gmail.com</div></div>
                                </div>

                                <!-- 사이드바 메뉴 -->
                                <div class="sidebar-nav">
                                    <ul>
                                        <li class="active"><a href="/accounts/settings/profile/"><span>프로필 정보 설정</span></a></li>
                                        <li><a class="active-text" href="/client/project-history/"><span>나의 후기</span></a></li>
                                        <li><a href="/accounts/settings/verify_identity/">포인트 조회</a></li>
                                        <li><a href="/accounts/settings/manage_seal/active/">연수 내역</a></li>
                                        <a class="advertisement" id="left_sidebar_advertisement"></a>   
                                        <!-- <li><a href="/accounts/settings/bank_account/">계좌 관리</a></li></ul></div>  -->          

                      <!--   <div class="profile-container modal fade" id="profile_image_edit_modal"></div>
                        <div id="cropper-img-box">
                            <img class="cropper-img" hidden=""></div>
                            <div class="profile-image-edit-modal-wrapper">
                                <form enctype="multipart/form-data" id="profile_image_edit_form">
                                    <div class="modal_title">프로필 사진 등록
                                    <div class="close_modal">
                                        <img class="modal-close-image-button" src="https://www.wishket.com/static/renewal/img/profile/icon_modal_close.png">
                                    </div>
                                </div>

                                <div class="modal_body">
                                    <div class="modal-body-wrapper" id="profile_image_edit_modal_body">
                                        <div class="modal-content">
                                            파트너가 신뢰감을 느낄 수 있도록 사진을
                                            <br>
                                            등록해주세요
                                            <img class="user-profile-img" id="modal_user_img" src="	https://www.wishket.com/static/img/default_avatar_c.png">
                                            <img class="temp-user-img user-profile-img">

                                        </div>
                                         모달 로딩 
                                        <div class="loading-circle user-profile-img">
                                            <div class="sk-fading-circle theme-client">
                                                <div class="sk-circle1 sk-circle"></div>
                                                <div class="sk-circle2 sk-circle"></div>
                                                <div class="sk-circle3 sk-circle"></div>
                                                <div class="sk-circle4 sk-circle"></div>
                                                <div class="sk-circle5 sk-circle"></div>
                                                <div class="sk-circle6 sk-circle"></div>
                                                <div class="sk-circle7 sk-circle"></div>
                                                <div class="sk-circle8 sk-circle"></div>
                                                <div class="sk-circle9 sk-circle"></div>
                                                <div class="sk-circle10 sk-circle"></div>
                                                <div class="sk-circle11 sk-circle"></div>
                                                <div class="sk-circle12 sk-circle"></div></div></div>
                                    </div>
                                </form>
                                </div> -->
                </div> <!-- sidebar 끝 -->
            </div>

        <!-- 본문 -->
            <div class="content">
                <div class="content-header action">
                    <h3 class="header-text">프로필 정보 설정
                        <br>
                <small class="small-text">프로필 정보를 수정할 수 있습니다.</small></h3></div>

                <div class="content-inner">

                    <!-- 본문 1번 -->
                    <section class="review-summary">
                        <section class="history-summary">
                            <div class="history-summary-body-fix history-summary-body">
                                <div class="client-history-body">
                                    <div class="project">
                                        <div class="history-body-title">운전연수 신청</div>
                                        <div class="pull-right history-body-data more-size">0 건</div></div>
                                        
                                        <div class="contract">
                                            <div class="contract-title">
                                                <div class="history-body-title">진행한 운전연수</div>
                                                <div class="pull-right history-body-data more-size">0 건</div></div>
                                                <div class="contract-data">
                                                    <div class="contract-data-box">
                                                        <div class="history-body-subtitle">진행중</div>
                                                        <div class="pull-right history-body-data"><span>0</span> 건</div></div>
                                                        <div class="contract-data-box">
                                                           <!--  <div class="history-body-subtitle">진행중인 프로젝트</div> -->
                                                            <!-- <div class="pull-right history-body-data"><span>0</span> 건</div> --></div>
                                                            <div class="contract-data-box">
                                                                <div class="history-body-subtitle">완료한 운전연수</div>
                                                                <div class="pull-right history-body-data"><span>0</span> 건</div></div></div></div>
                                                                
                                                                
                                                                <div class="client-history-budget-body">
                                                                    <div class="budget-body-title">누적 완료 연수</div>
                                                                    <div class="pull-right budget-body-data">0 
                                                                        <span class="budget-body-clo">건</span></div></div></div></div></section>
                                                                        
                                                                        <!-- 본문 2번 -->
                                                                        <section class="total-review-summary">
                                                                            <div class="total-review-summary-body">
                                                                                <div class="total-average-rating">
                                                                                    <div class="rating-wrapper">
                                                                                        <div class="data-column">
                                                                            <span class="avg-star-title">평균 평점</span><div class="avg-star-box">
                                                                                <img src="https://www.wishket.com/static/img/review/review-empty-star.svg">
                                                                                <img src="https://www.wishket.com/static/img/review/review-empty-star.svg">
                                                                                <img src="https://www.wishket.com/static/img/review/review-empty-star.svg">
                                                                                <img src="https://www.wishket.com/static/img/review/review-empty-star.svg">
                                                                                <img src="https://www.wishket.com/static/img/review/review-empty-star.svg"></div>
                                                                                <div class="avg-value"><span>0.00</span> <span class="num-total-review">/ 평가 0개</span></div></div></div></div></div></section>
                                                                                
                                                                                
                                                                                
                                                                                <section class="chart-section" id="chart-section">
                                                                                    <div class="history-chart-radar">
                                                                                        <div class="radar-score-set client" style="vertical-align: top;"><ul><li><span>전문성</span> <span style="padding-left: 29px;">0.00점</span></li>
                                                                                            <li><span>사전 준비</span>
                                                                                                <span style="padding-left: 10px;">0.00점</span></li>
                                                                                                <li><span>의사소통</span>
                                                                                                    <span style="padding-left: 14px;">0.00점</span></li>
                                                                                                    <li><span>일정 준수</span><span style="padding-left: 15px;">0.00점</span></li>
                                                                                                    <li><span>적극성</span> <span style="padding-left: 29px;">0.00점</span></li></ul></div>
                                                                                                    </section>
                                                                                                   
                                                                                                    <!-- 본문 3번 -->
                                                                                                        <div class="empty-component" style="padding-bottom: 30px;padding-top: 40px;">
                                                                                                            <img id="star" src="https://www.wishket.com/static/img/profile_evaluation.png">
                                                                                                            <p class="p5-no-partners-info-text" style="margin-bottom: 0;">등록된<span class="text-center p5-bold">'평가'</span>가 없습니다.</p></div></div> 
            
                                                                                                        </div>
                                                                                                    </section></div>
            </div> <!-- content -->
            </div>
        </div><!--page  -->
    </div> <!-- wrap -->
</body>
</html>
