<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원 탈퇴</title>
    <link rel="stylesheet" href="/css/mypage/withdrawPoint.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/components/favicon-logo-white.png">
</head>
<body class="whisket-member">

    <!-- 헤더 -->
    <header class="header">
        <section class="base-nav">
            <div class="container">
                <a class="nav-logo" href="/wishket-member/">교차로 회원 계정 설정</a> 
                <div class="right-nav">
                    <div class="service-nav">
                        <a class="service-nav-title" href="/wishket-member/logout/">로그아웃</a>
                    </div>
                </div>
            </div>
        </section>
    </header>

<div class="body-container">
    <div class="container">
        <div class="menu-view">
            <div class="nav-header">
                <a href="/wishket-member/"><span>계정 설정</span></a>
                <img src="/images/mypage/icon_go.png">
                <a href="/wishket-member/withdrawl/"><span>회원 탈퇴</span></a>
            </div>

            <div class="menu-view-wrapper">
                <div class="content-view">
                    <div class="menu-content">
                        <div class="menu-title">회원 탈퇴</div>
                        <div class="menu-title-detail">소중한 개인정보를 안전하게 보호하기 위해 다시 한번 인증해 주세요.</div>
                        <form id="passwordForm" method="post">
                            <input class="input-box-group pw">
                                <div class="input-box" style="width:400px;">
                                    <div class="title">비밀번호</div>
                                    <div class="default-input-whisket icon-right">
                                    <input id="password-input" maxlength="32" name="password" placeholder="8자 이상 32자 이하로 입력해 주세요." type="password" style="padding-right: 40px;">
                                    <i>
                                        <img class="icon icon-eyes-on" id="passwordeye" src="/images/mypage/eye_on.png">
                                        <img class="icon icon-eyes-off" id="texteye" src="/images/mypage/eye_off.png">
                                    </i>
                                </div>
                                <span class="error-text" id="error">비밀번호를 잘못 입력했습니다. 입력하신 내용을 다시 확인해 주세요.</span>
                                <span class="error-text" id="blank">비밀번호를 입력해 주세요.</span>
                                <span class="error-text" id="length">8글자 이상 입력해 주세요.</span>


                                </div>
                                <button class="btn btn-01 btn-wishket" id="submit" style="width: 120px;" type="button">인증하기</button>
                        </form>
                    </div>
                </div>

                <!-- 우측 사이드 메뉴 -->
                <div class="right-side">
                    <div class="message-info-box">
                        
                        <div class="message-info-box-wrapper">
                            <img class="icon-info" src="/images/mypage/icon_account_service.png">
                            <div class="title">
                                교차로를 이용하시는데
                                <br>
                                아래와 같은 불편함이 있으신가요?
                            </div>
                        </div>
                        <div class="message-info-box-wrapper">
                            <a class="help-link" href="https://www.wishket.com/customer-support/10/40/314">포인트 환전이 필요하신가요? 
                            <img class="icon" src="/images/mypage/icon_go.png"></a>
                        
                        <a class="help-link-second" href="https://www.wishket.com/customer-support/10/42/144">이메일 변경이 필요하신가요?   
                            <img class="icon-second" src="/images/mypage/icon_go.png"></a>
                        </div>
                        </div>

                </div>
            </div>
        </div>

    </div>
</div>
    <div th:insert="~{/components/footer :: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/mypage/password.js"></script>
<script src="/js/components/header-client.js"></script>
</html>