<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" href="withdrawPoint.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body class="whisket-member">

    <!-- 헤더 -->
    <header class="header">
        <section class="base-nav">
            <div class="container">
                <a class="nav-logo" href="/wishket-member/">교차로 회원 계정 설정</a> 
                <div class="right-nav">
                    <div class="service-nav">
                        <a class="service-nav-title" href="/wishket-member/logout/">로그아웃</a>
                    </div>
                </div>
            </div>
        </section>
    </header>

<div class="body-container">
    <div class="container">
        <div class="menu-view">
            <div class="nav-header">
                <a href="/wishket-member/"><span>계정 설정</span></a>
                <img src="https://account.wishket.com/static/renewal/img/wishket-member/icon_go.png">
                <a href="/wishket-member/withdrawl/"><span>계정 정보</span></a>
            </div>

            <div class="menu-view-wrapper">
                <div class="content-view">
                    <div class="menu-content">
                        <div class="menu-title">포인트 정보</div>
                       <!--  <div class="menu-title-detail">소중한 개인정보를 안전하게 보호하기 위해 다시 한번 인증해 주세요.</div>
                        <form id="passwordForm" method="post">
                            <input class="input-box-group pw">
                                <div class="input-box" style="width:400px;">
                                    <div class="title">비밀번호</div>
                                    <div class="default-input-whisket icon-right">
                                    <input id="password-input" maxlength="100" name="password" placeholder="8자 이상 32자 이하로 입력해 주세요." type="password" style="padding-right: 40px;">
                                    <i>
                                        <img class="icon icon-eyes-on" src="https://account.wishket.com/static/renewal/img/news/icon_input_eye.png">
                                        <img class="icon icon-eyes-off" src="https://account.wishket.com/static/renewal/img/news/icon_input_slash.png">
                                    </i>
                                </div>
                                <span class="error-text">에러상세 메시지</span>

                                </div>
                                <button class="btn btn-01 btn-wishket" onclick="submitForm()" style="width: 120px;" type="button">인증하기</button>
                        </form> -->
                        <div class="menu-row">
                            <div class="menu-name">잔여 포인트</div>
                            <div class="content">50000점</div>
                        </div>
                       
                        </div>
                        <div id="menu-content">
                            <div class="menu-title mb32">소셜 연동</div>
                            <div class="menu-row row">
                                <div class="title-in-menu-row">
                                    <div class="menu-name">페이스북 연동
                                        <div class="menu-action" onclick="facebookPopup(true)">연동하기</div></div>
                                        <div class="menu-name info">연동된 페이스북 계정이 없습니다.</div></div></div>
                    </div>
                    </div>


                <!-- 우측 사이드 메뉴 -->
                <div class="right-side">
                    <div class="message-info-box">
                        
                        <div class="message-info-box-wrapper">
                            <img class="icon-info" src="https://account.wishket.com/static/renewal/img/wishket-member/icon_account_service.png">
                            <div class="title">
                                교차로 충전 포인트로
                                <br>
                                어떤 서비스를 이용할 수 있나요?
                            </div>
                        </div>
                        <div class="message-info-box-wrapper">
                            <a class="help-link" href="https://www.wishket.com/customer-support/10/40/314">원하는 코스를 선택하여 <br>포인트 결제 후 운전 연수 교육을 받을 수 있어요
                            <img class="icon" src="https://account.wishket.com/static/renewal/img/wishket-member/icon_go.png"></a>
                        
                        <!-- <a class="help-link-second" href="https://www.wishket.com/customer-support/10/42/144">이메일 변경이 필요하신가요?   
                            <img class="icon-second" src="https://account.wishket.com/static/renewal/img/wishket-member/icon_go.png"></a> -->
                        </div>
                        </div>

                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>