<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>관리자 홈</title>
	<link rel="stylesheet" href="../../static/css/components/sanitize.css" />
	<link rel="stylesheet" href="../../static/css/components/admin-aside.css" />
</head>
<body>
	<!-- aside -->
	<aside id="admin-aside" class="sidebar">
		<header class="sidebar-header">
			<h1>교차로</h1>
		</header>
		<nav>
			<ul>
				<label>
					<a href="">
						<li>
							<details>
								<summary class="nav-menu menu--current">
									<h2 class="menu__title">관리자 홈</h2>
								</summary>
							</details>
						</li>
					</a>
				</label>
				<li>
					<details>
						<summary class="nav-menu">
							<h2 class="menu__title">회원</h2>
							<img src="../../static/images/admin/dropdown.png" alt="icon" class="menu__icon--drop-down" />
						</summary>
						<ul class="nav-menu-submenu">
							<a href="">
								<span id="sidelist">
									<li class="submenu__item">회원 정보</li>
								</span>
							</a>
						</ul>
					</details>
				</li>
				<li>
					<details>
						<summary class="nav-menu">
							<h2 class="menu__title">연수신청 관리</h2>
							<img src="../../static/images/admin/dropdown.png" alt="icon" class="menu__icon--drop-down" />
						</summary>
						<ul class="nav-menu-submenu">
							<a href="">
								<span id="sidelist">
									<li class="submenu__item">신청 내역</li>
								</span>
							</a>
						</ul>
					</details>
				</li>
				<li>
					<details>
						<summary class="nav-menu">
							<h2 class="menu__title">포인트 결제</h2>
							<img src="../../static/images/admin/dropdown.png" alt="icon" class="menu__icon--drop-down" />
						</summary>
						<ul class="nav-menu-submenu">
							<a href="">
								<span id="sidelist">
									<li class="submenu__item">결제 내역</li>
								</span>
							</a>
						</ul>
					</details>
				</li>
				<li>
					<details>
						<summary class="nav-menu">
							<h2 class="menu__title">후기</h2>
							<img src="../../static/images/admin/dropdown.png" alt="icon" class="menu__icon--drop-down" />
						</summary>
						<ul class="nav-menu-submenu">
							<a href="">
								<span id="sidelist">
									<li class="submenu__item">후기 관리</li>
								</span>
							</a>
						</ul>
					</details>
				</li>
				<li>
					<details>
						<summary class="nav-menu">
							<h2 class="menu__title">게시판</h2>
							<img src="../../static/images/admin/dropdown.png" alt="icon" class="menu__icon--drop-down" />
						</summary>
						<ul class="nav-menu-submenu">
							<a href="">
								<span id="sidelist">
									<li class="submenu__item">게시글 관리</li>
								</span>
							</a>
							<a href="">
								<span id="sidelist">
									<li class="submenu__item">댓글 관리</li>
								</span>
							</a>
						</ul>
					</details>
				</li>
			</ul>
		</nav>
	</aside>
</body>
</html>

