<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>관리자 홈</title>
	<link rel="stylesheet" href="/css/admin/admin-common.css" />
	<link rel="stylesheet" href="/css/admin-components/admin-aside.css" />
</head>
<body>
<!-- aside -->
<aside th:fragment="admin-aside" class="sidebar">
	<header class="sidebar-header">
		<h1>교차로</h1>
	</header>
	<nav>
		<ul>
			<label>
				<a th:href="@{/admin/home}">
					<li>
						<details>
							<summary class="nav-menu menu--current">
								<h2 class="menu__title">관리자 홈</h2>
							</summary>
						</details>
					</li>
				</a>
			</label>
			<li>
				<details>
					<summary class="nav-menu">
						<h2 class="menu__title">회원</h2>
						<img src="/images/admin/dropdown.png" alt="icon" class="menu__icon--drop-down" />
					</summary>
					<ul class="nav-menu-submenu">
						<a th:href="@{/admin/member/list}">
							<span id="sidelist">
								<li class="submenu__item">회원 정보</li>
							</span>
						</a>
					</ul>
				</details>
			</li>
			<li>
				<details>
					<summary class="nav-menu">
						<h2 class="menu__title">연수신청 관리</h2>
						<img src="/images/admin/dropdown.png" alt="icon" class="menu__icon--drop-down" />
					</summary>
					<ul class="nav-menu-submenu">
						<a th:href="@{/admin/apply/list}">
							<span id="side-apply-list">
								<li class="submenu__item">신청 내역</li>
							</span>
						</a>
					</ul>
				</details>
			</li>
			<li>
				<details>
					<summary class="nav-menu">
						<h2 class="menu__title">포인트 결제</h2>
						<img src="/images/admin/dropdown.png" alt="icon" class="menu__icon--drop-down" />
					</summary>
					<ul class="nav-menu-submenu">
						<a th:href="@{/admin/point/list}">
							<span id="side-payment-list">
								<li class="submenu__item">결제 내역</li>
							</span>
						</a>
					</ul>
				</details>
			</li>
			<li>
				<details>
					<summary class="nav-menu">
						<h2 class="menu__title">후기</h2>
						<img src="/images/admin/dropdown.png" alt="icon" class="menu__icon--drop-down" />
					</summary>
					<ul class="nav-menu-submenu">
						<a th:href="@{/admin/review/list}">
							<span id="side-review-list">
								<li class="submenu__item">후기 관리</li>
							</span>
						</a>
					</ul>
				</details>
			</li>
			<li>
				<details>
					<summary class="nav-menu">
						<h2 class="menu__title">게시판</h2>
						<img src="/images/admin/dropdown.png" alt="icon" class="menu__icon--drop-down" />
					</summary>
					<ul class="nav-menu-submenu">
						<a th:href="@{/admin/board/list}">
							<span id="side-board-list">
								<li class="submenu__item">게시글 관리</li>
							</span>
						</a>
						<a th:href="@{/admin/reply/list}">
							<span id="side-reply-list">
								<li class="submenu__item">댓글 관리</li>
							</span>
						</a>
					</ul>
				</details>
			</li>
		</ul>
	</nav>
</aside>
</body>
</html>

