<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>관리자 홈</title>
	<link rel="stylesheet" href="/css/admin/admin-common.css" />
	<link rel="stylesheet" href="/css/admin-commponents/admin-header.css" />
</head>
<body>
<header id="admin-header" class="page">
	<div class="page-info">
		<img src="/images/admin/menubar.png" alt="icon" class="page-info__icon" />
		<ul>
			<a href="">
				<span>
					<li class="page-info__detail page-info--current">관리자 홈</li>
				</span>
			</a>
		</ul>
	</div>
	<div class="page-language">
		<button class="Button_button__1e2A2 Button_tertiaryGrey__3gRf4 Button_text__3KyLl Button_md__1FRMG" type="button" href="">
			<div class="AnnouncementButton_container__1p1gr" role="button">
				<a href="">
					<strong>홈페이지</strong>
				</a>
			</div>
		</button>
		<button class="Button_button__1e2A2 Button_tertiaryGrey__3gRf4 Button_text__3KyLl Button_md__1FRMG" type="button" href="">
				<span>
					<span class="Button_children__q9VCZ">
						<a href="">
							<strong>LOGOUT</strong>
						</a>
					</span>
				</span>
		</button>
	</div>
</header>
</body>
</html>
