<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>리뷰 작성</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/board/boardWrite.css">
</head>
<body>
    <header th:replace="/components/header-main.html :: .header-container"></header>
        <main>
            <div class="whole-contents-wrapper">
                <div class="contents-inner-wrapper">
                    <div class="contents-inner">
                        <div class="sub-title">
                            리뷰 작성
                        </div>
                        <div class="boardList-count"><!-- 작성할 것 있으면 할 것 ex) 작성자? --></div>
                        <div class="board-box-wrapper">
                            <!-- 리뷰 작성 란 -->
                            <div class="board-box">
                                <form action="" name="boardForm" class="boardForm">
                                    <div class="board-title-wrapper">
                                        <div class="board-title-text">제목</div>
                                        <input type="text" name="" id="title" class="inputs" placeholder="제목을 입력해주세요.">
                                    </div>
                                    <div class="board-contents-wrapper">
                                        <div class="board-contents-text">내용</div>
                                        <textarea name="" id="contents" cols="30" rows="10" class="board-contents" placeholder="리뷰를 작성해주세요." style="resize: none;"></textarea>
                                    </div>
                                    <!-- 테스트 -->
                                                                   <!-- 사진 등록  -->   
                               <section>
                                <div class="photo_submit_section"></div>
                                <section class="Section_container__photo">
                                    <div style="max-width: 600px;">
                                        <div class="Section_photo_header">
                                            <div class="Section_title">사진 등록</div>
                                            <div class="Section_guide"></div>
                                        </div>
                                        <div class="Section_description"></div>
                                        <div class="Section_content">
                                            <div class="ImageField">
                                                <div class="ImageFormField">
                                                    <div class="ImageFormField_buttonWrapper">
                                                        <label class="ImageFileButton_label" id="button-label">
                                                            <button type="button" class="ImageFileButton" id="photosubmit">
                                                                <i class="icon-camera-o" aria-hidden="true"></i>등록하기
                                                            </button>
                                                            <div class="ImageFileButton_input">
                                                                <input type="file" id="image" name="upload1" onchange="setThumbnail(event);">
                                                            </div>
                                                        </label> <em class="helper error"></em>
                                                        <em class="helper_ImageFormField">이미지는 1개만 등록 가능합니다. <br>(이미지를 클릭하거나 재등록하면 기존 이미지가 삭제됩니다.)</em>
                                                        <div class="image_space"></div>
                                                        <div id="image_container"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <!-- 테스트 -->
                                    <div class="board-box-bottom">
                                        <div class="button-wrapper">
                                            <button type="button" class="submit-button">작성 완료</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- 리뷰 작성 란 -->
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
    <script src="../../static/js/board/boardWrite.js"></script>
</html>