<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>자유게시판</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/css/mypage/point.css">
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <link rel="stylesheet" href="/css/components/error.css">
    <link rel="shortcut icon" href="/images/components/favicon-logo-white.png">
</head>
<body>
<div class="header">
    <!-- header 시작-->
        <div th:insert="~{components/header-client :: header-client}"></div>
<!--    <div th:insert="~{/components/header-main :: header-main}"></div>-->
    <!-- header 끝 --></div>
<a class="advertisement" id="nav_advertisement"></a>
<div id="wrap">
    <div class="page">
        <div class="page-inner">
            <!-- 본문 -->
            <div class="content-error container-mobile">
                <div class="content-header">
                    <div class="header-mobile error-econtainer-mobile">
                        <h3 class="header-text">자유게시판<br>
                            <small class="small-text">준비중입니다.</small>
                        </h3>
                    </div>
                </div>
                <div class="content-inner">
                    <section class="error-body">
                        <aside section="error-aside error-aside-mobile">
                            <div class="error-text">
                                <h1 class="error-title">자유게시판</h1>
                                <p class="sorry">죄송합니다. 현재 자유게시판은 준비중입니다.</p>
                                <p class="error-margin error-margin-mobile">
                                    <a class="btn btn-primary btn-large" onclick="javascript:history.go(-1);" style="margin-right: 10px;">이전 화면으로 돌아가기</a>
                                    <a class="btn btn-primary btn-large" th:href="@{main}">초기 화면으로 돌아가기</a>
                                </p>
                            </div>
                    </section>
                    <aside section="error-aside">
                        <img class="aside-img" src="/images/board/sorry.png">
                    </aside>
                </div>
            </div> <!-- content -->
        </div>
    </div><!--page  -->
</div> <!-- wrap -->
<!-- footer 시작 -->
<div th:insert="~{components/footer :: footer}"></div>
<!-- footer 끝-->
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/mypage/mypage-select.js"></script>
</html>