<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 목록 페이지</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <link rel="stylesheet" href="/css/board/boardList.css">
    <link rel="stylesheet" href="/css/board/board-list-test.css">
    <link rel="shortcut icon" href="/images/components/favicon-logo-white.png">
</head>
<body>
<!-- header 시작 -->
<div th:insert="~{/components/header-client :: header-client}"></div>
<!-- header 끝 -->
    <!-- 모달 -->
    <div class="modal" style="visibility: hidden;" onclick="closeModal()">
        <div class="modal-wrapper">
            <div class="modal-image-wrapper">
                <div class="inner-wrapper">
                    <img src="http://www.headlinejeju.co.kr/news/photo/202112/471732_364576_1042.jpg" class="modal-image">
                    <!-- <img src="/img/close.png" id="close-button" onclick="closeModal()"> -->
                </div>
            </div>
        </div>
    </div>
    <!-- 모달 -->
    <main>
        <!-- 추가 -->
        <div class="write-button-top" style="left: -15.5%; width: 45%;" id="board-write-button">게시글 작성하기</div>
        <!-- 추가 -->
        <div class="whole-wrapper">
            <div class="whole-contents-wrapper" style="position: relative; left: 12%; margin: 0 !important; width: 45% !important; max-width: 55% !important;">
                <div class="contents-inner-wrapper">
                    <div class="contents-inner">
                        <div class="sub-title">
                            자유 게시판
                        </div>
                        <!-- 후기 작성 버튼 -->
                        <div class="boardList-count">5개</div>
                        <!-- 후기 작성 버튼 -->
                        <!-- 시작 -->
                        <div class="board-box">
                            <div class="board-inner-info">
                                <a href="" class="inner-info-top">
                                    게시글 제목
                                </a>
                                <p class="inner-info-middle">
                                    <span class="middle-span1">
                                        작성자 이름
                                    </span>
                                    <span class="span-between">|</span>
                                    <span class="middle-span2">
                                        2023.03.05
                                    </span>
                                </p>
                                <p class="inner-info-bottom">
                                    아임포트를 통해 원하는 결제 환경을 쉽고 빠르게 구현하세요.
                                </p>
                            </div>
                            <div class="board-inner-image">
                                <!-- 첨부파일 개수 표시 -->
                                <div class="board-inner-image-count">
                                    <span>+ 4</span>
                                </div>
                                <a href="" class="image-wrapper">
                                    <img class="board-images" src="/images/board/003.jpg">
                                </a>
                            </div>
                        </div>
                        <!-- 끝 -->
                        <!-- 시작 -->
                        <div class="board-box">
                            <div class="board-inner-info">
                                <a href="" class="inner-info-top">
                                    게시글 제목
                                </a>
                                <p class="inner-info-middle">
                                    <span class="middle-span1">
                                        작성자 이름
                                    </span>
                                    <span class="span-between">|</span>
                                    <span class="middle-span2">
                                        2023.03.05
                                    </span>
                                </p>
                                <p class="inner-info-bottom">
                                    아임포트를 통해 원하는 결제 환경을 쉽고 빠르게 구현하세요.
                                </p>
                            </div>
                        </div>
                        <!-- 끝 -->
                        <!-- 시작 -->
                        <div class="board-box">
                            <div class="board-inner-info">
                                <a href="" class="inner-info-top">
                                    게시글 제목
                                </a>
                                <p class="inner-info-middle">
                                    <span class="middle-span1">
                                        작성자 이름
                                    </span>
                                    <span class="span-between">|</span>
                                    <span class="middle-span2">
                                        2023.03.05
                                    </span>
                                </p>
                                <p class="inner-info-bottom">
                                    아임포트를 통해 원하는 결제 환경을 쉽고 빠르게 구현하세요.
                                </p>
                            </div>
                            <div class="board-inner-image">
                                <!-- 첨부파일 개수 표시 -->
                                <div class="board-inner-image-count">
                                    <span>+ 2</span>
                                </div>
                                <a href="" class="image-wrapper">
                                    <img class="board-images" src="http://www.headlinejeju.co.kr/news/photo/202112/471732_364576_1042.jpg">
                                </a>
                            </div>
                        </div>
                        <!-- 끝 -->
                        <!-- 시작 -->
                        <div class="board-box">
                            <div class="board-inner-info">
                                <a href="" class="inner-info-top">
                                    게시글 제목
                                </a>
                                <p class="inner-info-middle">
                                    <span class="middle-span1">
                                        작성자 이름
                                    </span>
                                    <span class="span-between">|</span>
                                    <span class="middle-span2">
                                        2023.03.05
                                    </span>
                                </p>
                                <p class="inner-info-bottom">
                                    아임포트를 통해 원하는 결제 환경을 쉽고 빠르게 구현하세요.
                                </p>
                            </div>
                        </div>
                        <!-- 끝 -->
                        <!-- 시작 -->
                        <div class="board-box">
                            <div class="board-inner-info">
                                <a href="" class="inner-info-top">
                                    게시글 제목
                                </a>
                                <p class="inner-info-middle">
                                    <span class="middle-span1">
                                        작성자 이름
                                    </span>
                                    <span class="span-between">|</span>
                                    <span class="middle-span2">
                                        2023.03.05
                                    </span>
                                </p>
                                <p class="inner-info-bottom">
                                    아임포트를 통해 원하는 결제 환경을 쉽고 빠르게 구현하세요.
                                </p>
                            </div>
                            <div class="board-inner-image">
                                <!-- 첨부파일 개수 표시 -->
                                <div class="board-inner-image-count">
                                    <span>+ 4</span>
                                </div>
                                <a href="" class="image-wrapper">
                                    <img class="board-images" src="/images/board/002.jpg">
                                </a>
                            </div>
                        </div>
                        <!-- 끝 -->
                        <!-- 시작 -->
                        <div class="board-box">
                            <div class="board-inner-info">
                                <a href="" class="inner-info-top">
                                    게시글 제목
                                </a>
                                <p class="inner-info-middle">
                                    <span class="middle-span1">
                                        작성자 이름
                                    </span>
                                    <span class="span-between">|</span>
                                    <span class="middle-span2">
                                        2023.03.05
                                    </span>
                                </p>
                                <p class="inner-info-bottom">
                                    아임포트를 통해 원하는 결제 환경을 쉽고 빠르게 구현하세요.
                                </p>
                            </div>
                            <div class="board-inner-image">
                                <!-- 첨부파일 개수 표시 -->
                                <div class="board-inner-image-count">
                                    <span>+ 4</span>
                                </div>
                                <a href="" class="image-wrapper">
                                    <img class="board-images" src="/images/board/001.jpg">
                                </a>
                            </div>
                        </div>
                        <!-- 끝 -->
                        <!-- 시작 -->
                        <div class="board-box">
                            <div class="board-inner-info">
                                <a href="" class="inner-info-top">
                                    게시글 제목
                                </a>
                                <p class="inner-info-middle">
                                    <span class="middle-span1">
                                        작성자 이름
                                    </span>
                                    <span class="span-between">|</span>
                                    <span class="middle-span2">
                                        2023.03.05
                                    </span>
                                </p>
                                <p class="inner-info-bottom">
                                    아임포트를 통해 원하는 결제 환경을 쉽고 빠르게 구현하세요.
                                </p>
                            </div>
                            <div class="board-inner-image">
                                <!-- 첨부파일 개수 표시 -->
                                <div class="board-inner-image-count">
                                    <span>+ 4</span>
                                </div>
                                <a href="" class="image-wrapper">
                                    <img class="board-images" src="/images/board/003.jpg">
                                </a>
                            </div>
                        </div>
                        <!-- 끝 -->
                        <!-- 시작 -->
                        <div class="board-box">
                            <div class="board-inner-info">
                                <a href="" class="inner-info-top">
                                    게시글 제목
                                </a>
                                <p class="inner-info-middle">
                                    <span class="middle-span1">
                                        작성자 이름
                                    </span>
                                    <span class="span-between">|</span>
                                    <span class="middle-span2">
                                        2023.03.05
                                    </span>
                                </p>
                                <p class="inner-info-bottom">
                                    아임포트를 통해 원하는 결제 환경을 쉽고 빠르게 구현하세요.
                                </p>
                            </div>
                            <div class="board-inner-image">
                                <!-- 첨부파일 개수 표시 -->
                                <div class="board-inner-image-count">
                                    <span>+ 4</span>
                                </div>
                                <a href="" class="image-wrapper">
                                    <img class="board-images" src="/images/board/003.jpg">
                                </a>
                            </div>
                        </div>
                        <!-- 끝 -->
                        <!-- 시작 -->
                        <div class="board-box">
                            <div class="board-inner-info">
                                <a href="" class="inner-info-top">
                                    게시글 제목
                                </a>
                                <p class="inner-info-middle">
                                    <span class="middle-span1">
                                        작성자 이름
                                    </span>
                                    <span class="span-between">|</span>
                                    <span class="middle-span2">
                                        2023.03.05
                                    </span>
                                </p>
                                <p class="inner-info-bottom">
                                    아임포트를 통해 원하는 결제 환경을 쉽고 빠르게 구현하세요.
                                </p>
                            </div>
                            <div class="board-inner-image">
                                <!-- 첨부파일 개수 표시 -->
                                <div class="board-inner-image-count">
                                    <span>+ 4</span>
                                </div>
                                <a href="" class="image-wrapper">
                                    <img class="board-images" src="/images/board/003.jpg">
                                </a>
                            </div>
                        </div>
                        <!-- 끝 -->
                        
                    </div>
                </div>
            </div>

            <!-- 인기 게시글 목록 -->
            <div class="whole-contents-wrapper" id="contents-wrapper2" style="margin: 0 0 0 30px !important; width: 20% !important; max-width: 20% !important; height: fit-content !important; position: fixed; right: 12%; top: 9.4%;">
                <div class="contents-inner-wrapper">
                    <div class="contents-inner" style="margin: 0; padding-bottom: 13px;">
                        <div class="sub-title">
                            인기 게시글
                        </div>
                        <!-- 후기 작성 버튼 -->
                        <div class="board-box-wrapper">
                            <!-- 시작 -->
                            <div class="board-box" style="height: fit-content !important; margin-bottom: 15px !important; padding: 12px 15px;">
                                <div class="board-box-inner">
                                    <div class="board-inner-info" style="width: 230px !important; padding: 0;">
                                        <a href="" class="inner-info-top" style="font-size: 17px;">
                                            1. 게시글 제목
                                        </a>
                                        <p class="inner-info-middle" style="margin: 5px 0 5px;">
                                            <span class="middle-span1" style="font-size: 13px !important;">
                                                작성자 이름
                                            </span>
                                            <span class="span-between" style="font-size: 13px !important;">|</span>
                                            <span class="middle-span2" style="font-size: 13px !important;">
                                                조회수 97
                                            </span>
                                        </p>
                                        <p class="inner-info-bottom" style="font-size: 13px;">
                                            아임포트를 통해 원하는 결제 환경을 쉽고 빠르게 구현하세요.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- 끝 -->
                            <!-- 시작 -->
                            <div class="board-box" style="height: fit-content !important; margin-bottom: 15px !important; padding: 12px 15px;">
                                <div class="board-box-inner">
                                    <div class="board-inner-info" style="width: 230px !important; padding: 0;">
                                        <a href="" class="inner-info-top" style="font-size: 17px;">
                                            2. 게시글 제목
                                        </a>
                                        <p class="inner-info-middle" style="margin: 5px 0 5px;">
                                            <span class="middle-span1" style="font-size: 13px !important;">
                                                작성자 이름
                                            </span>
                                            <span class="span-between" style="font-size: 13px !important;">|</span>
                                            <span class="middle-span2" style="font-size: 13px !important;">
                                                조회수 97
                                            </span>
                                        </p>
                                        <p class="inner-info-bottom" style="font-size: 13px;">
                                            아임포트를 통해 원하는 결제 환경을 쉽고 빠르게 구현하세요.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- 끝 -->
                            <!-- 시작 -->
                            <div class="board-box" style="height: fit-content !important; margin-bottom: 15px !important; padding: 12px 15px;">
                                <div class="board-box-inner">
                                    <div class="board-inner-info" style="width: 230px !important; padding: 0;">
                                        <a href="" class="inner-info-top" style="font-size: 17px;">
                                            3. 게시글 제목
                                        </a>
                                        <p class="inner-info-middle" style="margin: 5px 0 5px;">
                                            <span class="middle-span1" style="font-size: 13px !important;">
                                                작성자 이름
                                            </span>
                                            <span class="span-between" style="font-size: 13px !important;">|</span>
                                            <span class="middle-span2" style="font-size: 13px !important;">
                                                조회수 97
                                            </span>
                                        </p>
                                        <p class="inner-info-bottom" style="font-size: 13px;">
                                            아임포트를 통해 원하는 결제 환경을 쉽고 빠르게 구현하세요.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- 끝 -->
                            <!-- 시작 -->
                            <div class="board-box" style="height: fit-content !important; margin-bottom: 15px !important; padding: 12px 15px;">
                                <div class="board-box-inner">
                                    <div class="board-inner-info" style="width: 230px !important; padding: 0;">
                                        <a href="" class="inner-info-top" style="font-size: 17px;">
                                            4. 게시글 제목
                                        </a>
                                        <p class="inner-info-middle" style="margin: 5px 0 5px;">
                                            <span class="middle-span1" style="font-size: 13px !important;">
                                                작성자 이름
                                            </span>
                                            <span class="span-between" style="font-size: 13px !important;">|</span>
                                            <span class="middle-span2" style="font-size: 13px !important;">
                                                조회수 97
                                            </span>
                                        </p>
                                        <p class="inner-info-bottom" style="font-size: 13px;">
                                            아임포트를 통해 원하는 결제 환경을 쉽고 빠르게 구현하세요.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- 끝 -->
                            <!-- 시작 -->
                            <div class="board-box" style="height: fit-content !important; margin-bottom: 15px !important; padding: 12px 15px;">
                                <div class="board-box-inner">
                                    <div class="board-inner-info" style="width: 230px !important; padding: 0;">
                                        <a href="" class="inner-info-top" style="font-size: 17px;">
                                            5. 게시글 제목
                                        </a>
                                        <p class="inner-info-middle" style="margin: 5px 0 5px;">
                                            <span class="middle-span1" style="font-size: 13px !important;">
                                                작성자 이름
                                            </span>
                                            <span class="span-between" style="font-size: 13px !important;">|</span>
                                            <span class="middle-span2" style="font-size: 13px !important;">
                                                조회수 97
                                            </span>
                                        </p>
                                        <p class="inner-info-bottom" style="font-size: 13px;">
                                            아임포트를 통해 원하는 결제 환경을 쉽고 빠르게 구현하세요.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- 끝 -->
                           
                        </div>
                    </div>
                </div>
            </div>
            <!-- 인기 게시글 목록 끝 -->
        </div>
    </main>
    <!-- footer 시작 -->
    <div th:insert="~{/components/footer :: footer}"></div>
    <!-- footer 끝 -->
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/board/boardList.js"></script>
<script src="/js/components/header-client.js"></script>
</html>