<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>교차로</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/css/components/footer.css">
    <link rel="shortcut icon" href="/images/components/favicon-logo-white.png">
</head>
<body>
    <div class="footer-margin-remover"></div>
    <footer th:fragment="footer"  class="footer">
        <div class="container">
            <div class="footer-main">
                <div class="footer-menu-list">
                    <p class="footer-menu-title">교차로</p>
                    <a class="footer-menu-item" href="">교차로 소개</a>
                    <a class="footer-menu-item" href="">신뢰와 안전</a>
                    <a class="footer-menu-item" href="">이용약관</a>
                    <a class="footer-menu-item" href="">개인정보 처리방침</a>
                </div>
                <div class="footer-menu-list" style="width: 200px">
                    <a class="footer-menu-title" href="">고객센터</a>
                    <a class="footer-menu-item" href="">클라이언트 고객센터</a>
                    <a class="footer-menu-item" href=""></a>
                    <a class="footer-menu-item" href="">이용요금</a>
                    <a class="footer-menu-item" href="">클라이언트 이용방법</a>
                    <a class="footer-menu-item" href="">파트너스 이용방법</a>
                </div>
                <div class="footer-menu-list">
                    <a class="footer-menu-title" href="">뉴스센터</a>
                    <a class="footer-menu-item" href="">공지사항</a>
                    <a class="footer-menu-item" href="">교차로 소식</a>
                    <a class="footer-menu-item" href="">교차로 이용 팁</a>
                    <a class="footer-menu-item" href="">프로젝트 성공사례</a>
                    <a class="footer-menu-item" href="">언론보도</a>
                </div>
                <div class="footer-menu-list">
                    <a class="footer-menu-title" href="">이용후기</a>
                    <a class="footer-menu-title" href="">교차로 스토어</a>
                    <a class="footer-menu-title" href="">요즘IT</a>
                    <a class="footer-menu-title" href="">통합빌링 서비스</a>
                </div>
                <div class="footer-menu-list footer-contact">
                    <p class="footer-menu-title">CONTACT US</p>
                    <a class="footer-menu-item" href="">02-1234-1234(10:00-18:00, 공휴일 제외)</a>
                    <a class="footer-menu-item" href="">help@crossroads.com</a>
                </div>
            </div>
            <div class="footer-company-info">
                <div class="footer-company-info-logo-wrapper">
                    <a href="">
                        <img src="/images/components/main-logo.png" style="width: 122px; height: 28px;" alt="">
                    </a>
                </div>
                <div class="footer-company-info-detail">
                    <p class="footer-company-info-description">
                        주식회사 교차로 (대표이사: 한동석) / 서울특별시 강남구 테헤란로 211 한국고등교육재단빌딩 3층 (주)교차로<br>
                        사업자등록번호: 123-12-34567 / 통신판매업신고: 제2023-서울강남-07777 호 / 직업정보제공사업 신고번호: J1200020180019
                    </p>
                    <p class="footer-company-info-copyright">© 2013 Wishket Corp.</p>
                </div>
                <div class="footer-company-info-sns">
                    <!-- facebook icon -->
                    <a href="">
                        <img src="/images/footer/footer_sns_facebook.png" alt="">
                    </a>
                    <!-- blog icon -->
                    <a href="">
                        <img src="/images/footer/footer_sns_blog.png" alt="">
                    </a>
                    <!-- naver icon -->
                    <a href="">
                        <img src="/images/footer/footer_sns_naver.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>