<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>교차로</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="shortcut icon" href="/images/components/favicon-logo-white.png">
</head>
<body>
<header th:fragment="header-main" class="header">
        <section class="header-section">
            <div class="container">
                <a class="main-logo" href="/main"></a>
                <div class="left-nav">
<!--                    <a class="menu element" href="/templates/introduce/introduce">사업 소개</a>-->
                    <a class="menu element" th:href="@{/introduce/introduce}">사업 소개</a>
                    <a class="menu element" th:href="@{/apply/apply-first}">연수 신청</a>
                    <a class="menu element" th:href="@{/points/buy-point}">포인트 충전</a>
                    <a class="menu element" th:href="@{/boards/board-ready}">자유 게시판</a>
                    <a class="menu element" th:href="@{/review/review-list}">이용후기</a>
                    <div class="nav-divider"></div>
                    <a class="menu element" th:href="@{/introduce/notice}">자주 묻는 질문</a>
                </div>
                <div class="right-nav">
                    <a class="btn btn-gray element" th:href="@{/member/login}">로그인</a>
                    <a class="btn btn-mint element" th:href="@{/member/join}">회원가입</a>
                </div>
            </div>
        </section>
    </header>
</body>
</html>