<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>교차로</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="../../static/font/NotoSansKR-Regular.woff">
    <link rel="stylesheet" href="../../static/css/components/header-main.css">
    <link rel="shortcut icon" href="../../static/images/logo.png">
</head>
<body>
    <header class="header">
        <section class="header-section">
            <div class="container">
                <a class="main-logo" href=""></a>
                <div class="left-nav">
                    <a class="menu element" href="">프로젝트 등록</a>
                    <a class="menu element" href="">프로젝트 찾기</a>
                    <a class="menu element" href="">파트너스 찾기</a>
                    <a class="menu element" href="">이용방법</a>
                    <a class="menu element" href="">이용후기</a>
                    <div class="nav-divider"></div>
                    <a class="menu element alert" href="">스토어</a>
                </div>
                <div class="right-nav">
                    <a class="btn btn-gray element" href="">로그인</a>
                    <a class="btn btn-mint element" href="">회원가입</a>
                </div>
            </div>
        </section>
    </header>
</body>
</html>