<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>교차로</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="../../static/css/components/header.css">
    <link rel="shortcut icon" href="../../static/images/components/favicon-logo-white.png">
</head>
<body>
    <header class="header">
        <section class="nav-client">
            <div class="container">
                <a class="main-logo active" href="" style="font-size:24px; font-weight:700;">
                    교차로
                </a>
                <div class="left-nav">
                    <a class="menu element" href="">사업소개</a>
                    <a class="menu element" href="">자주묻는질문</a>
                    <a class="menu element" href="">연수신청</a>
                    <a class="menu element" href="">포인트충전</a>
                    <a class="menu element" href="">이용후기</a>
                    <div class="nav-divider"></div>
                    <a class="menu element alert" href="">자유게시판</a>
                </div>
                <div class="right-nav">
                    <div class="right-nav-list">
                        <!-- <a class="right-nav-item" href="">
                            <img src="https://www.wishket.com/static/renewal/img/global/gnb-icon-help-normal.png" alt="">
                        </a>
                        <a class="right-nav-item" href="">
                            <img src="https://www.wishket.com/static/renewal/img/global/gnb-icon-alarm-new.png" alt="">
                        </a> -->
                        <a id="user-icon" class="right-nav-item " href="">
                            <img alt="" class="user-img" height="32px" width="32px" src="../../static/images/components/main-logo-profile.png" >
                        </a>
                        <div id="dropdown" class="nav-dropdown">
                            <a class="nav-dropdown-item element" href="">
                                <img src="../../static/images/main/icon_menu_home.png" alt="">
                                마이페이지
                            </a>
                            <div class="nav-divider"></div>
                            <a class="nav-dropdown-item element" href="">
                                <img src="../../static/images/main/icon_menu_write.png" alt="">
                                나의게시글조회
                            </a>
                            <div class="nav-divider"></div>
                            <a class="nav-dropdown-item element" href="">
                                <img src="../../static/images/main/icon_menu_reply.png" alt="">
                                나의댓글조회
                            </a>
                            <div class="nav-divider"></div>
                            <a class="nav-dropdown-item element" href="">
                                <img src="../../static/images/main/icon_menu_payment.png" alt="">
                                포인트조회
                            </a>
                            <div class="nav-divider"></div>
                            <a class="nav-dropdown-item element" href="">
                                <img src="../../static/images/main/icon_menu_list.png" alt="">
                                연수내역
                            </a>
                            <div class="nav-divider"></div>
                            <a class="nav-dropdown-item element" href="">
                                <img src="../../static/images/main/icon_menu_write.png" alt="">
                                나의후기
                            </a>
                            <div class="nav-divider"></div>
                            <a class="nav-dropdown-item element" href="">
                                <img src="../../static/images/main/icon_menu_logout.png" alt="">
                                로그아웃
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <section class="sub-nav-client">
            <div class="container">
                <div class="left-nav">
                    <a class="sub-menu element" href="">검수 중</a>
                    <a class="sub-menu element" href="">지원자 모집 중</a>
                    <a class="sub-menu element" href="">진행 중인 프로젝트</a>
                    <a class="sub-menu element" href="">종료된 프로젝트</a>
                </div>
            </div>
        </section> -->
    </header>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="../../static/js/components/header-client.js"></script>
</html>