<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>교차로</title>
</head>
<body>
    <header class="header">
        <section class="header-section-client">
            <div class="container">
                <a class="main-logo active" href=""></a>
                <div class="left-nav">
                    <a class="menu element" href="">프로젝트 등록</a>
                    <a class="menu element" href="">프로젝트 찾기</a>
                    <a class="menu element" href="">파트너스 찾기</a>
                    <a class="menu element" href="">이용방법</a>
                    <a class="menu element" href="">이용후기</a>
                    <div class="nav-divider"></div>
                    <a class="menu element alert" href="">스토어</a>
                </div>
                <div class="right-nav">
                    <div class="right-nav-list">
                        <a class="right-nav-item" href="">
                            <img src="https://www.wishket.com/static/renewal/img/global/gnb-icon-help-normal.png" alt="">
                        </a>
                        <a class="right-nav-item" href="">
                            <img src="https://www.wishket.com/static/renewal/img/global/gnb-icon-alarm-new.png" alt="">
                        </a>
                        <a class="right-nav-item" href="">
                            <img alt="" class="user-img" height="32px" src="https://www.wishket.com/static/img/default_avatar_c.png" width="32px">
                        </a>
                        <div class="nav-dropdown">
                            <a class="nav-dropdown-item element" href=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class=""></section>
    </header>
</body>
</html>