<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>day test</title>
</head>
<body>
    <p>날짜 계산 테스트</p>
</body>
<script>
    const dateA = new Date('2022/06/01');
    const dateB = new Date('2022/05/01');
    const diffMSec = dateA.getTime() - dateB.getTime();
    const diffDate = diffMSec / (24 * 60 * 60 * 1000);
    console.log(`날짜의 차이는 ${diffDate}일 입니다.`);  // 결과: '날짜의 차이는 31일입니다.'
    // 5년 = 1825일 이상
</script>
</html>