<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>교차로 회원가입</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/member/join.css">
    <link rel="stylesheet" type="text/css" href="/css/member/icons.css"/>
    <link rel="shortcut icon" href="/images/components/favicon-logo-white.png">
</head>
<body>
<div class="main-wrap">
    <div class="main-section">
        <div class="logo-section">
            <div class="logo-section-wrapper">
                <div class="logo-title">
                    최고의 퀄리티,<br>
                    교차로와 함께 초보탈출 하세요!
                </div>
                <div class="logo-subtitle">
                    든든하고 안전한 교차로에서 <br>
                    실력맞춤형 연수를 경험해보세요
                </div>
                <img src="/images/components/main-logo.png" style="width: 56%;">
            </div>
        </div>
        <div class="input-section">
            <div class="input-wrapper">
                <div class="login-title">교차로 회원가입</div>
                <form action="/member/join" method="post" name="joinForm">
                    <!-- 이메일 -->
                    <div class="input-box email">

                        <div class="input-title">이메일</div>
                        <div class="input-text-wrapper">
                            <input class="theme-croosroads input-text" th:if="${session.kakaoInfo == null}" id="memberEmail" name="memberEmail" maxlength="100" placeholder="ID@example.com" type="text" value="" oninput="checkEmail()">
                            <input class="theme-croosroads input-text" th:if="${session.kakaoInfo != null}" th:value="${session.kakaoInfo.getMemberEmail()}" id="memberEmailKakao" name="memberEmail" maxlength="100" placeholder="ID@example.com" type="text" oninput="checkEmail()" readonly/>
                        </div>
                        <!-- 1이상 : 이메일 형식이 올바르지 않습니다. -->
                        <span class="error-text" style="display: none;" id="email-error">이메일을 입력해 주세요.</span>
                        <!--<span class="email_ok">사용 가능한 이메일입니다.</span>-->
                        <span class="email_already">중복된 이메일입니다.</span>
                    </div>
                    <!-- 아이디 -->
                    <div class="input-box margin-top-16 id">
                        <div class="input-title">아이디</div>
                        <div class="input-text-wrapper">
                            <input class="theme-croosroads input-text" maxlength="100" id="memberIdentification" name="memberIdentification" placeholder="아이디를 입력해 주세요." type="text" oninput="checkId()">
                        </div>
                        <!-- 1이상 : 6글자 이상의 영문자, 숫자, 특수기호(_)만 사용 가능합니다. -->
                        <span class="error-text" style="display: none;" id="id-error">아이디를 입력해 주세요.</span>
                        <!--<span class="id_ok">사용 가능한 아이디입니다.</span>-->
                        <span class="id_already">중복된 아이디입니다.</span>
                    </div>
                    <!-- 비밀번호 -->
                    <div class="input-box margin-top-16 pwd">
                        <div class="input-title">비밀번호</div>
                        <div class="input-text-wrapper icon-right">
                            <input class="theme-croosroads input-text" id="password-input" maxlength="32" name="memberPassword" placeholder="8자 이상 32자 이하로 입력해 주세요." type="password" style="padding-right: 40px;">
                            <i>
                                <!-- https://account.wishket.com/static/renewal/images/member/news/icon_input_slash.png -->
                                <img class="icon-eyes" src="/images/member/icon_input_eye.png">
                            </i>
                        </div>
                        <span class="error-text" style="display: none;">비밀번호를 입력해 주세요.</span>
                    </div>
                    <!-- 비밀번호 확인 -->
                    <div class="input-box margin-top-16 re-pwd">
                        <div class="input-title">비밀번호 확인</div>
                        <div class="input-text-wrapper icon-right">
                            <input class="theme-croosroads input-text" id="password-check" maxlength="32" name="" placeholder="비밀번호를 입력해 주세요." type="password" style="padding-right: 40px;">
                            <i>
                                <!-- https://account.wishket.com/static/renewal/images/member/news/icon_input_slash.png -->
                                <img class="icon-eyes" src="/images/member/icon_input_eye.png">
                            </i>
                        </div>
                        <span class="error-text" style="display: none;">비밀번호를 한 번 더 입력해 주세요.</span>
                    </div>
                    <!-- 이름 -->
                    <div class="input-box margin-top-16 name">
                        <div class="input-title">이름</div>
                        <div class="input-text-wrapper">
                            <input class="theme-croosroads input-text" maxlength="100" name="memberName" placeholder="이름을 입력해 주세요." type="text">
                        </div>
                        <span class="error-text" style="display: none;" id="name-error">이름을 입력해 주세요.</span>
                    </div>
                    <!-- 핸드폰 -->
                    <div class="input-box margin-top-16 phone">
                        <div class="input-title">핸드폰</div>
                        <div class="input-text-wrapper">
                            <input class="theme-croosroads input-text" name="memberPhone" maxlength="11" placeholder="핸드폰 번호를 - 제외하고 입력해 주세요." type="text">
                        </div>
                        <!-- 1이상 : 6글자 이상의 영문자, 숫자, 특수기호(_)만 사용 가능합니다. -->
                        <span class="error-text" style="display: none;" id="phone-error">핸드폰 번호를 입력해 주세요.</span>
                    </div>
                    <!-- 운전면허증 이미지 첨부 -->
                    <div class="input-box margin-top-16 license">
                        <div class="input-title">운전면허증&nbsp;&nbsp;<img class="loadingImg" src="/images/member/loadingImg.gif" style="display: none;"></div>
                        <!--<div class="input-text-wrapper" id="upload-name-wrapper" onclick="onclick=document.all.file.click()">-->
                        <div class="input-text-wrapper" id="upload-name-wrapper" onclick="document.all.file.click()">
                            <label for="license">
                            <input class="theme-croosroads input-text" id="upload-name" name="" placeholder="첨부파일" value="첨부파일" readonly>
                            <input class="btn-img" value="파일 찾기" readonly>
                            <input type="file" class="theme-croosroads input-file" id="license" name="file" accept="image/png, image/jpeg" style="display: none;" required>
                            </label>

                            <!-- <div class="loader" style="display:none;">
                           </div>-->
                        </div>
                        <div class="error-text" style="display: none;" id="file-error">운전면허증을 등록해주세요.</div>
                        <div class="input-box margin-top-16 name">
                            <div class="input-title">면허 취득 일자 <span id="result"></span></div>

                            <div class="input-text-wrapper">
                                <input class="theme-croosroads input-text registerdate" name="memberDriveRegisterDate" id="memberDriveRegisterDate" type="text" placeholder="면허증을 등록하면 취득일자가 적용됩니다." readonly/>
                                <input class="theme-croosroads input-text" id="memberType" name="memberType" value="0" type="text">
                                <input type="text" th:if="${session.kakaoInfo == null}" name="memberStatus" id="memberStatus" value="" style="display:none;">
                                <input class="theme-croosroads input-text" th:if="${session.kakaoInfo != null}" th:value="1" name="memberStatus" maxlength="100" placeholder="ID@example.com" type="text" oninput="checkEmail()" style="display:none;">
                            </div>
                        </div>
                    </div>
                    <!-- 이용약관 동의 -->
                    <div class="sub-action">
                        <div class="input-box">
                            <label class="checkbox-crossroads">
                                    <span>
                                        <input class="crossroads-checkbox" name="" type="checkbox" value="remember-login">
                                        <span class="arrow">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                                <g fill="none" fill-rule="evenodd">
                                                    <path class="checked-icon" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.6" d="M4 7.8L7 11l5-6">
                                                    </path>
                                                </g>
                                            </svg>
                                        </span>
                                    </span>
                                <span><span class="text-color">이용약관</span> 및 <span class="text-color">개인정보 처리방침</span>에 동의합니다.</span>
                            </label>
                            <div class="error-text-custom" style="display: none;">교차로 서비스 이용을 위해서 반드시 동의를 해주셔야 합니다.</div>
                        </div>
                    </div>
                    <!-- 회원가입 버튼 -->
                    <button id="submit-btn" type="button">회원가입</button>
                    <!--<a th:href="@{/member/join}" class="oauth-join mb16">-->
                        <a href=https://kauth.kakao.com/oauth/authorize?client_id=ff10441318cc0a2c7e2aa44285fa956c&redirect_uri=http://localhost:10000/member/kakao&response_type=code class="oauth-join mb16">
                            <img class="oauth-logo" src="/images/member/kakao.png">
                            카카오톡으로 회원가입
                    </a>
                        <a href="https://nid.naver.com/oauth2.0/authorize?response_type=token&amp;client_id=Xmy2ZoXDf57LA377L2s4&amp;redirect_uri=http%3A%2F%2Flocalhost%3A10000%2Fmember%2Fjoin&amp;state=1808b001-9b42-4532-9900-e11bb1a919c9" class="oauth-join">
                        <img class="oauth-logo" src="/images/member/naver.png">
                        네이버로 회원가입
                    </a>
                </form>
                <div class="border-sub-action">
                    이미 교차로 통합회원이신가요?
                    <a class="sign-up link-href" th:href="@{/member/login}">로그인</a>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="license-modal">
    <div class="modal-content">
        <div class="span-wrapper">
                <span class="modal">
                    운전 경력이 {N}년 이상입니다. <br>
                    베테랑 회원으로 가입하시겠습니까?
                </span>
        </div>
        <div class="btn-wrapper">
            <button class="btn-modal">수락</button>
            <button class="btn-modal">거절</button>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript" src="/js/loadingoverlay.min.js"></script>
<script src="/js/member/join.js"></script>
<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
<script type="text/javascript">
    var naver_id_login = new naver_id_login("Xmy2ZoXDf57LA377L2s4", "http://localhost:10000/member/join");
    var state = naver_id_login.getUniqState();
    naver_id_login.setButton("white", 2,40);
    naver_id_login.setDomain("http://localhost:10000");
    naver_id_login.setState(state);
    // 접근 토큰 값 출력
    //alert(naver_id_login.oauthParams.access_token);
    // 네이버 사용자 프로필 조회
    naver_id_login.get_naver_userprofile("naverSignInCallback()");

    // 네이버 사용자 프로필 조회 이후 프로필 정보를 처리할 callback function
    function naverSignInCallback() {
        alert(naver_id_login.getProfileData('email'));
        $.ajax({
            url: "/member/join",
            type: "get",
            data: { memberEmail : naver_id_login.getProfileData('email') },
            success: function(result) {
                if(result) {
                    var status=3;
                    var $memberEmail =  $('#memberEmail');
                    console.log('들어옴@')
                    console.log(naver_id_login.getProfileData('email'))
                    $('input[name=memberEmail]').attr('value', naver_id_login.getProfileData('email'));
                    $('input[name=memberStatus]').attr('value', 2);
                    $('#memberEmail').attr('readonly',true);
                    $('input[name=memberEmail]').attr('placeholder',email);
                    console.log($('input[name=memberStatus]').val);
                    window.location.href = "/member/join/";
                } else {
                    window.location.href = "/member/login?result=fail";
                }
            }
        });
    }

</script>
</html>
