@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;700&display=swap');

@media all and (max-width:479px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Noto Sans KR',Sans-serif;
        line-height: 1rem;
        -webkit-font-smoothing: antialiased;
        -webkit-tap-highlight-color: transparent;
    }
    a {
        -webkit-tap-highlight-color: transparent;
        text-decoration: none;
        color: #212121;
    }
    body {
        height: 100%;
    }
    html {
        height: 100%;
        font-size: 16px;
    }

    header {
        height: 61px;
    }
    /* 헤더 버튼 추가사항 */
    .header {
        padding: 16px 0;
        background-color: #2099bb;
        border-bottom: solid 1px #e0e0e0;
    }
    .flex {
        display: flex;
    }
    .between {
        justify-content: space-between;
    }
    .header-btn{
        height: 30px;
        padding: 6px 26px 6px 24px;
        border-bottom: solid 1px #e0e0e0;
    }
    .header-btn a {
        background-color: #fff;
        color: #2099bb;
    }
    .top {
        line-height: 0px;
    }
    .bottom {
        line-height: 0px;
    }
    .relative {
        position: relative;
    }
    
    /* 뒤로가기 버튼 */
    .header .go-back svg {
        position: absolute;
        width: 30px;
        top: 8px;
        left: 18px;
    }
    header .header .back-or-logout {
        position: absolute;
        display: inline-block;
        width: 68px;
        height: 61px;
        top: 0px;
    }

    /* 헤더 글씨 */
    .navigation-center {
        text-align: center;
        color: #fff;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        display: block;
        /* margin, max-width준 이유를 모름 */
        margin: 0 auto;
        max-width: calc(100% - 80px);
        /* overflow, white-space, text-overflow준 이유를 모름 */
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .main-wrap {
        min-height: 32%;
        padding-bottom: 8px;
        height: auto;
    }
    .main-container {
        width: 100%;
    }
    .box-in-container {
        background-color: #fff;
        padding: 24px 24px 32px;
    }
    /* ========여기까지 동일========= */


    .box-content{
        text-align: center;
    }
    .mb24{
        margin-bottom: 24px;
    }
    .description{
        color: #212121;
        font-size: 14px;
        line-height: 24px;
        font-weight: normal;
        text-align: center;
    }
    .text-medium{
        font-weight: 500;
    }
    .info-more-box{
        text-align: left;
        padding: 16px 20px;
        border-radius: 8px;
        background-color: #fafafa;
    }
    .info-title {
        color: #616161;
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
    }
    .info-description{
        margin-top: 6px;
        color: #616161;
        font-size: 13px;
        line-height: 20px;
        font-weight: normal;
    }


    


    /* 버튼 */
    a {
        text-decoration: none;
    }
    .send-email{
        padding: 11px 24px;
        background-color: #2099bb;
        color: #fff;
        border: none;
        display: block;
        width: 100%;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;
        font-size: 16px;
        line-height: 26px;
        font-weight: normal;
        -webkit-tap-highlight-color: transparent;
    }

    /* input태그 border focus,hover,placeholder 색상 및 inherit */
    :focus {
        outline: none;
    }
    /* 포커스, 마우스 오버 시 테두리 색 */
    .input-text-wrapper>input:focus, .input-text-wrapper>input:hover {
        border-color: #3ba3c7
    }

    .input-text-wrapper>input::placeholder {
        color: #bdbdbd;
        line-height: inherit
    }
}