@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;700&display=swap');
@media all and (max-width:479px) {
    
    * {
        font-family: "Noto Sans KR","Sans-serif";
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        margin: 0;
        line-height: 1;
        color: #212121;
        -webkit-tap-highlight-color: transparent;
    }
    a {
        -webkit-tap-highlight-color: transparent;
        text-decoration: none;
        color: #212121;
    }
    html {
        height: 100%;
        font-size: 16px;
    }
    body {
        height: 100%;
    }
    header {
        height: 61px;
    }
    /* 헤더 버튼 추가사항 */
    .header {
        padding: 16px 0;
        background-color: rgb(32, 153, 187);
        border-bottom: solid 1px #e0e0e0;
    }
    .flex {
        display: flex;
    }
    .between {
        justify-content: space-between;
    }
    .header-btn{
        height: 30px;
        padding: 6px 26px 6px 24px;
        border-bottom: solid 1px #e0e0e0;
    }
    .header-btn a {
        background-color: #fff;
        color: #2099bb;
    }
    .top {
        line-height: 0px;
    }
    .bottom {
        line-height: 0px;
    }
    .relative {
        position: relative;
    }
    
    /* 뒤로가기 버튼 */
    .header .go-back svg {
        position: absolute;
        width: 30px;
        top: 8px;
        left: 18px;
    }
    header .header .back-or-logout {
        position: absolute;
        display: inline-block;
        width: 68px;
        height: 61px;
        top: 0px;
    }

    /* 헤더 글씨 */
    .navigation-center {
        text-align: center;
        color: #fff;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        display: block;
        /* margin, max-width준 이유를 모름 */
        margin: 0 auto;
        max-width: calc(100% - 80px);
        /* overflow, white-space, text-overflow준 이유를 모름 */
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    /* header nav.header .navigation-right {
        float: right;
        height: 32px;
        position: absolute;
        right: 16px;
        top: 14px;
    } */

    .container {
        height: auto;
        min-height: 70%;
        background-color: #f5f5f5;
    }
    .inner-container {
        width: 100%;
    }
    .serach-header{
        display: flex;
        height: 59px;
        border-bottom: solid 1px #e0e0e0;
        padding: 8px 16px;
        background-color: #fff;
    }

    .serach-box{
        flex: 1;
        display: flex;
        border: solid 1px #e0e0e0;
        border-radius: 4px;
        width: -webkit-fill-available;
    }

    .serach-box .text-input-wrap {
        
        flex: 1;
    }

    .text-search-input {
        border: 0;
        outline: 0;
        vertical-align: middle;
        border-radius: 4px;
        height: 39px;
        padding-right: 2px;
        width: 100%;
        color: #616161;
    }

    /* input태그 검색모달창 검색결과 div */
    .search-result {
        position: absolute;
        top: 106px;
        left: 30px;
    }
    /* 검색 결과끼리 간격 조정 */
    .search-result .result+.result {
        margin-left: 10px;
    }
    /* 결과 값 태그 형식 */
    .search-result  .result {
        border: 1px solid #2099bb;
        border-radius: 6px;
        padding: 5px 10px;
    }

    button {
        -webkit-tap-highlight-color: transparent;
        border: none;
        background: none;
    }
    .search-button {
        height: 100%;
        width: 36px;
        margin-right: 1px;
        display: inline-block;
        vertical-align: middle;
    }
    .search-img {
        height: 20px;
        width: 20px;
        vertical-align: middle;
    }
    .result-header {
        display: flex;
        justify-content: space-between;
        /* padding: 10px 16px; */
        height: 55px;
    }
    .title-wrap {
        line-height: 25px;
        color: #212121;
        font-weight: 500;
        font-size: 16px;
    }
    .result-header .result-people {
        line-height: 30px;
        padding: 10px 16px;
    }

    /* 신청자 목록 마지막 제외 */
    .result-beginner:not(:last-of-type) {
        margin-bottom: 8px; 
    }

    .result-beginner {
        position: relative;
        /* padding: 24px 20px 20px;  */ /*기존*/
        padding: 24px 20px 35px;
        background: #fff;
        box-shadow: 0 1px 0 #e0e0e0;
    }

    /* 신청 상태 레이블 wrap */
    .project-status-label {
        position: relative;
    }
    /* 신청 상태 마크 */
    .status-mark {
        padding: 3px 6px 1px;
        font-size: 11px;
        line-height: 14px;
        font-weight: normal;
        
        display: inline-block;
        border: 1px solid;
    }
    .recruiting-mark {
        border-color: #00a878;
        background-color: #00a878;
        color: #fff;
    }
    .new-mark {
        border-color: #3ba3c7;
        background-color: #3ba3c7;
        color: #fff;
    }
    
    .beginner-title {
        margin-top: 10px;
    }

    .beginner-info-box {
        margin: 12px 0;
        padding-bottom: 16px;
        border-bottom: solid 1px #eee;
    }
    .estimated {
        display: flex;
    }
    .estimated-help-text {
        margin-right: 6px;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
    }
    .estimated-point .estimated-help-text:before {
        background-image: url('../../images/mobile/icon-project-features.svg');

        content: "";
        display: inline-block;
        margin-right: 4px;
        background-size: 14px 24px;
        height: 24px;
        width: 14px;
        vertical-align: top;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
    }
    .estimated-value {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
    }

    .estimated-term .estimated-help-text:before {
        background-image: url('../../images/mobile/icon-project-clock.png');

        content: "";
        display: inline-block;
        margin-right: 4px;
        background-size: 14px 24px;
        height: 24px;
        width: 14px;
        vertical-align: top;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
    }

    .category-field-box {
        margin-top: 10px;
        display: flex;
        align-items: center;
    }

    .category-info {
        color: #424242;
        font-size: 13px;
        line-height: 20px;
        font-weight: normal;
    }
    
    .category-field-box .category-info:before {
        background-image: url('../../images/mobile/icon-project-category.png');

        content: "";
        display: inline-block;
        margin-right: 8px;
        background-size: 14px 14px;
        height: 14px;
        width: 14px;
        vertical-align: middle;
        color: #424242;
        font-size: 13px;
        line-height: 20px;
        font-weight: normal;
    }

    .pipe {
        width: 1px;
        height: 14px;
        margin: 0 8px;
        background-color: #eee;
    }

    .field-info {
        color: #424242;
        font-size: 13px;
        line-height: 20px;
        font-weight: normal;
    }
    
    .field-info:before {
        background-image: url('../../images/mobile/traffic_light_icon.png');

        content: "";
        display: inline-block;
        margin-right: 8px;
        background-size: 14px 14px;
        height: 14px;
        width: 14px;
        vertical-align: middle;
        color: #424242;
        font-size: 13px;
        line-height: 20px;
        font-weight: normal;
    }

    .license-info-tag {
        margin-top: 12px;
        display: flex;
        align-items: center;
    }
    .simple-chip {
        padding: 0 8px;
        font-size: 13px;
        background-color: #e8faff;
        color: #369cc2;
        line-height: 24px;
        font-weight: normal;
    }

    .driver-info-box {
        display: flex;
    }
    .driver-tag {
        max-width: 90px;
        color: #616161;
        margin-right: 8px;
        padding: 3px 8px;
        height: 24px;
        background-color: #eee;
        border-radius: 8px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 12px;
        line-height: 18px;
        font-weight: normal;
    }
    .driver-info-etc {
        margin-top: 16px;
        display: flex;
        align-items: center;
    }
    .driver-location {
        color: #757575;
        font-size: 12px;
        line-height: 18px;
        font-weight: normal;
    }
    .driver-location:before {
        content: "";
        display: inline-block;
        background-image: url('../../images/mobile/icon-project-location.png');
        background-size: 14px 14px;
        height: 14px;
        width: 14px;
        vertical-align: text-top;
        color: #757575;
        font-size: 12px;
        line-height: 18px;
        font-weight: normal;
    }
    .register-date {
        color: #bdbdbd;
        font-size: 12px;
        line-height: 18px;
        font-weight: normal;
    }
    .ok-wrapper {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 100%;
        padding: 0px 18px 10px;
    }

    .ok-btn {
        width: 100%;
        height: 45px; /* 기존X */
        border-radius: 4px;
        border: #2099bb;
        
        background-color: #2099bb;

        color: #fff;
        text-align: center;
        font-size:16px;
        line-height: 26px;
        font-weight: 400;
        
        padding: 2px 0px 2px;
        margin: 0px;
        cursor: pointer;
    }
}