<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>연수자 찾기</title>
    <link rel="stylesheet" href="../../static/css/mobile/list-mobile.css">
</head>
<body>
    <header>
        <nav class="header">
            <!-- <span class="navigation-left">로그아웃</span> -->
            <span class="navigation-center">연수자 찾기</span>
            <!-- <span class="navigation-right">MY</span> -->
        </nav>
    </header>
    <div class="container">
        <div class="inner-container">
            <form action="" id="serach">
                <section class="serach-header">
                    <button class="open-search">
                        <div class="serach-box">

                        </div>
                        <div class="search-button">
                            <img src="../../static/img/icon_search_active.png" alt="검색" class="serach-img">
                        </div>
                    </button>
                </section>
            </form>
        </div>
    </div>
</body>
</html>
