<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>교차로 로그인</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/mobile/login-mobile.css">
    <link rel="shortcut icon" href="/images/components/favicon-logo-white.png">
</head>
<body>
    <div class="main-wrap">
        <div class="main-section">
            <div class="input-section">
                <div class="input-wrapper">
                    <div class="login-title">
                        <div class="header-margin">
                            <span class="navigation-center">로그인</span>
                        </div>
                    </div>
                    <div class="mobile-container">
                        <div class="mobile-inner">
                            <form action="/applies/login-mobile" method="post" name="loginForm">
                                <!-- 아이디 -->
                                <div class="input-box id">
                                    <div class="input-title">교차로 아이디</div>
                                    <div class="input-text-wrapper">
                                        <input class="theme-croosroads input-text" maxlength="100" name="memberIdentification" placeholder="ID" type="text">
                                    </div>
                                    <span class="error-text" style="display: none;" id="id-error">아이디를 입력해 주세요.</span>
                                </div>
                                <!-- 비밀번호 -->
                                <div class="input-box margin-top-16 pwd">
                                    <div class="input-title">비밀번호</div>
                                    <div class="input-text-wrapper icon-right">
                                        <input class="theme-croosroads input-text" id="password-input" maxlength="32" name="memberPassword" placeholder="비밀번호를 입력해 주세요." type="password" style="padding-right: 40px;">
                                        <i>
                                            <!-- https://account.wishket.com/static/renewal/images/membernews/icon_input_slash.png -->
                                            <img class="icon-eyes" src="/images/member/icon_input_eye.png">
                                        </i>
                                    </div>
                                    <!-- 글자 수가 0일 때 / 1글자 이상일 때, 8글자 이상 입력해 주세요. -->
                                    <span class="error-text" style="display: none;">비밀번호를 입력해 주세요.</span> 
                                </div>
                                <!-- 로그인 상태 유지 -->
                                <div class="sub-action">
                                    <div class="input-box">
                                       <!-- <label class="checkbox-crossroads">
                                            <span>
                                                <input class="crossroads-checkbox" name="" type="checkbox" value="remember-login">
                                                <span class="arrow">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                                        <g fill="none" fill-rule="evenodd">
                                                            <path class="checked-icon" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.6" d="M4 7.8L7 11l5-6"></path>
                                                        </g>
                                                    </svg>
                                                </span>
                                            </span>
                                            <span>로그인 상태 유지</span>
                                        </label>-->
                                    </div>
                                    <!-- 비밀번호 찾기 -->
                                    <div class="sub-action-link">
                                        <!-- 비밀번호 찾기 링크 -->
                                        <a class="link-href" href="find-pwd-mobile.html">비밀번호 찾기</a>
                                    </div>
                                </div>
                                <!-- 로그인 버튼 -->
                                <button id="submit-btn" type="button">로그인</button>
                                <a href=https://kauth.kakao.com/oauth/authorize?client_id=ff10441318cc0a2c7e2aa44285fa956c&redirect_uri=http://localhost:10000/applies/kakao-login&response_type=code class="oauth-join mb16">
                                    <img class="oauth-logo" src="/images/member/kakao.png">
                                    카카오톡으로 로그인
                                </a>
                                <a href="https://nid.naver.com/oauth2.0/authorize?response_type=token&amp;client_id=Xmy2ZoXDf57LA377L2s4&amp;redirect_uri=http%3A%2F%2Flocalhost%3A10000%2Fapplies%2Flogin-mobile&amp;state=9b601d34-3417-454f-ad52-7a80b7b08c4a" class="oauth-join">
                                    <img class="oauth-logo" src="/images/member/naver.png">
                                    네이버로 로그인
                                </a>
                            </form>
                            <div class="border-sub-action">
                                아직 교차로 회원이 아니신가요? 
                                <a class="sign-up link-href" th:href="@{/applies/join-mobile}">회원가입</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/mobile/login.js"></script>
<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
<script type="text/javascript">
    var naver_id_login = new naver_id_login("Xmy2ZoXDf57LA377L2s4", "http://localhost:10000/applies/login-mobile");
    var state = naver_id_login.getUniqState();
    naver_id_login.setButton("white", 2,40);
    naver_id_login.setDomain("http://localhost:10000");
    naver_id_login.setState(state);
    // naver_id_login.setPopup();
    // naver_id_login.init_naver_id_login();
    //const  $memberEmail =  $('#memberEmail');
    //console.log($memberEmail);
    // 접근 토큰 값 출력
    //alert(naver_id_login.oauthParams.access_token);
    // 네이버 사용자 프로필 조회
    naver_id_login.get_naver_userprofile("naverSignInCallback()");

    // 네이버 사용자 프로필 조회 이후 프로필 정보를 처리할 callback function
    function naverSignInCallback() {
        // alert(naver_id_login.getProfileData('email'));
        $.ajax({
            url: "/members/login-naver",
            type: "post",
            data: { memberEmail : naver_id_login.getProfileData('email') },
            success: function(result) {
                if(result) {
                    window.location.href = "/applies/list-mobile";
                } else {
                    window.location.href = "/applies/login-mobile?result=fail";
                }
            }
        });
    }
</script>
</html>
