<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/mobile/mypage-classlist-mobile.css">
    <link rel="shortcut icon" href="/images/components/favicon-logo-white.png">
    <title>운전연수 내역</title>
</head>
<body>
    <header>
        <nav class="header relative flex between">
            <a class="back-or-logout" href="javascript:history.back();">
                <span class="go-back">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="48px" id="Layer_1" style="enable-background:new 0 0 48 48;" version="1.1" viewBox="0 0 512 512" width="48px" xml:space="preserve">
                        <polygon points="352,128.4 319.7,96 160,256 160,256 160,256 319.7,416 352,383.6 224.7,256 " style="     fill: #fff; "/>
                    </svg>
                </span>
            </a>
            <span class="navigation-center">운전연수 내역</span>
            <div></div>
        </nav>
    </header>
    <div class="header-btn bottom flex between">
        <div><a href="change-point-mobile.html">환전</a></div>
        <div><a href="list-mobile.html">홈</a></div>
        <div><a href="my-mobile.html">MY</a> </div>
    </div>
    <div class="main-container">
        <div class="container">
            <div class="main-view">
                <div class="main-view-header mb16">
                    <div class="title mb8 flex">
                        <img class="listicon" src="/images/member/list.png">
                        <span>운전연수 상세 내역</span>
                    </div>
                    <div class="description">운전연수 내역을 확인할 수 있습니다.</div>
                </div>
                <!-- 리스트 목록 시작 -->
                <div class="list-wrapper flex">
                    <!-- detail 시작 -->
                    <div class="list-card flex">
                        <img src="/images/member/courseA.png" alt="">
                        <div class="content-wrapper flex">
                            <div class="width50">
                                <p class="card-name card-date">2023-03-16</p>
                                <p class="card-name card-location">경기도 파주시</p>
                                <!-- 연수 완료, 연수 진행중 -->
                                <p class="card-detail card-status"><span class="complete">연수 완료</span></p>
                                <!-- <p class="card-detail card-status"><span class="incomplete">연수 대기</span></p> -->
                            </div>
                            <p class="course-name">
                                A코스
                            </p>
                        </div>
                    </div>
                    <!-- detail 끝 -->
                    <!-- detail 시작 -->
                    <div class="list-card flex">
                        <img src="/images/member/courseA.png" alt="">
                        <div class="content-wrapper flex">
                            <div class="width50">
                                <p class="card-name card-date">2023-03-16</p>
                                <p class="card-name card-location">경기도 파주시</p>
                                <!-- 연수 완료, 연수 진행중 -->
                                <!-- <p class="card-detail card-status"><span class="complete">연수 완료</span></p> -->
                                <p class="card-detail card-status">
                                    <span class="incomplete name-span">정현진 님</span>
                                    <span class="incomplete">연수 대기</span>
                                </p>
                            </div>
                            <p class="course-name">
                                A코스
                            </p>
                        </div>
                    </div>
                    <!-- detail 끝 -->
                </div>
            </div>
        </div>
    </div>

    <div class="footer-logout">
        <a href="login-mobile.html" class="logout-btn">로그아웃</a>
    </div>
</body>
</html>