<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/mobile/mypage-classlist-mobile.css">
    <link rel="shortcut icon" href="../../static/images/components/favicon-logo-white.png">
    <title>운전연수 내역</title>
</head>
<body>
    <header>
        <nav class="header">
            <span class="navigation-center">운전연수 내역</span>
        </nav>
    </header>


    <div class="footer-logout">
        <a href="login-mobile.html" class="logout-btn">로그아웃</a>
    </div>
</body>
</html>