<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <title>포인트 충전</title>
    <link rel="stylesheet" href="../../static/css/form/form.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="../../static/css/point/buyPoint.css">
    <link rel="stylesheet" href="../../static/font/NotoSansKR-Regular.woff">
    <link rel="stylesheet" href="../../static/css/components/header.css">
    <link rel="shortcut icon" href="../../static/images/logo.png">
    <link rel="shortcut icon" href="../../static/images/components/favicon-logo-white.png">

</head>
<body>
    <!-- header -->
    <header class="header">
        <section class="nav-client">
          <div class="container">
            <a class="main-logo active" href="" style="font-size:24px; font-weight:700;">
              교차로
          </a>
            <div class="left-nav">
              <a class="menu element" href="">프로젝트 등록</a>
              <a class="menu element" href="">프로젝트 찾기</a>
              <a class="menu element" href="">파트너스 찾기</a>
              <a class="menu element" href="">이용방법</a>
              <a class="menu element" href="">이용후기</a>
              <div class="nav-divider"></div>
              <a class="menu element alert" href="">스토어</a>
            </div>
            <div class="right-nav">
              <div class="right-nav-list">
                <a class="right-nav-item" href="">
                  <img
                    src="https://www.wishket.com/static/renewal/img/global/gnb-icon-help-normal.png"
                    alt=""
                  />
                </a>
                <a class="right-nav-item" href="">
                  <img
                    src="https://www.wishket.com/static/renewal/img/global/gnb-icon-alarm-new.png"
                    alt=""
                  />
                </a>
                <a class="right-nav-item" href="">
                  <img
                    alt=""
                    class="user-img"
                    height="32px"
                    src="https://www.wishket.com/static/img/default_avatar_c.png"
                    width="32px"
                  />
                </a>
              </div>
            </div>
          </div>
        </section>
      </header>
<!-- header fin -->
    <div class="gaia">
        <div class="container">
                 <!-- 메인시작  -->
                 <div class="project-create-form-section" style="margin: 0 0 0 13.5%">
                    <div class="form-section-header">
                        <p class="form-section-title subtitle-1">포인트 충전하기</p>
                    </div>
                    <div class="form-input-section">
                        <div class="form-group-light">
                            <label class="form-group-title body-1-bold">보유 포인트</label>
                            <div class="form-content mb16">
                                <div>
                                    <div class="text-input-client2  ">
                                        <div>
                                            <input class="theme-client wishket-text" data-type="text" maxlength="30" name="title" placeholder="현재 보유하신 포인트는 51000p입니다." type="text" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>

                        <div class="form-group-light">
                            <label class="form-group-title body-1-bold">포인트 선택</label>
                            <p class="body-2 text900 form-group-guide">구매 원하시는 상품을 클릭해주세요.</p>
                            <div class="form-content">
                                <!-- 코스 -->
                                <div class="select-card client-input" style="width: 200px; margin-right: 20px;">
                                    <label >
                                    <input id="category_develop" name="category" type="radio" checked="checked" value="develop" class="error">
                                    <div class="select-card-content">
                                        <img class="select-card-img inherit-select-card-img" src="https://www.wishket.com/static/renewal/img/project/submit/select_card_icon_job_category_1_d.png">
                                        <p class="body-2-medium">5만 포인트</p>
                                    </div>
                                </label>
                                </div>
                                <div class="select-card client-input div2" style="width: 200px; margin-right: 20px;">
                                    <label >
                                    <input id="category_develop" name="category" type="radio" value="develop" class="error">
                                    <div class="select-card-content">
                                        <img class="select-card-img inherit-select-card-img" src="https://www.wishket.com/static/renewal/img/project/submit/select_card_icon_job_category_1_d.png">
                                        <p class="body-2-medium">10만 포인트</p>
                                    </div>
                                </label>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- 다음 -->
                    <div class="form-section-footer" style="position: relative">
                        <button class="btn btn-client btn-11-24 btn-right" name="can_submit" type="submit" value="False">결제하기</button>
                        <div style="clear:both;">
                        </div>
                    </div>
                    
                 </div>
                 <!-- 메인 끝  -->

        </div>
     </div>   
    </body>
    <script src="../../static/js/form/form.js"></script>
</html>