<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>포인트 충전</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/css/point/buyPoint.css">
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="stylesheet" href="/css/form/form.css">
    <link rel="shortcut icon" href="/images/logo.png">
    <link rel="shortcut icon" href="/images/components/favicon-logo-white.png">
</head>
<body>
<!-- header 시작 -->
<div th:insert="~{components/header-client :: header-client}"></div>
<!-- header 끝 -->
<div class="gaia">
    <div class="container">
        <!-- 메인시작  -->
        <div class="project-create-form-section" style="margin: 0 0 0 13.5%">
            <div class="form-section-header">
                <p class="form-section-title subtitle-1">포인트 충전하기</p>
            </div>
            <div class="form-input-section">
                <div class="form-group-light">
                    <label class="form-group-title body-1-bold">보유 포인트</label>
                    <div class="form-content mb16">
                        <div>
                            <div class="text-input-client2  ">
                                <div>
                                    <span class="theme-client wishket-text">현재 보유하신 포인트는</span>
                                    <span class="theme-client wishket-text" th:text="${point} + p입니다"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group-light">
                    <label class="form-group-title body-1-bold">포인트 선택</label>
                    <p class="body-2 text900 form-group-guide">구매 원하시는 상품을 클릭해주세요.</p>
                    <div class="form-content">
                        <!-- 코스 -->
                        <div class="select-card client-input" style="width: 200px; margin-right: 20px;">
                            <label >
                                <input id="category_develop" name="category" type="radio" checked="checked" value="50000" class="error">
                                <div class="select-card-content">
                                    <img class="select-card-img inherit-select-card-img" src="/img/50000.png">
                                    <p class="body-2-medium">5만 포인트</p>
                                </div>
                            </label>
                        </div>
                        <div class="select-card client-input div2" style="width: 200px; margin-right: 20px;">
                            <label >
                                <input id="category_develop" name="category" type="radio" value="100000" class="error">
                                <div class="select-card-content">
                                    <img class="select-card-img inherit-select-card-img" src="/img/100000.png">
                                    <p class="body-2-medium">10만 포인트</p>
                                </div>
                            </label>
                        </div>

                    </div>
                </div>
            </div>

            <!-- 다음 -->
            <div class="form-section-footer" style="position: relative">
                <button class="btn btn-client btn-11-24 btn-right" name="can_submit" type="button" value="False">결제하기</button>
                <div style="clear:both;">
                </div>
            </div>

        </div>
        <!-- 메인 끝  -->

    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.bootpay.co.kr/js/bootpay-3.3.1.min.js" type="application/javascript"></script>
<script src="/js/point/payment.js"></script>
<script src="/js/form/form.js"></script>
<script src="/js/components/header-client.js"></script>
</html>