<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <title>환전 완료</title>
    <link rel="stylesheet" href="../../static/css/form/form.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="../../static/css/point/buyPoint.css">
    <link rel="stylesheet" href="../../static/font/NotoSansKR-Regular.woff">
    <link rel="stylesheet" href="../../static/css/components/header.css">
    <link rel="shortcut icon" href="../../static/images/logo.png">
    <link rel="shortcut icon" href="../../static/images/components/favicon-logo-white.png">

</head>
<body>
  <header class="header">
    <section class="nav-client">
        <div class="container">
            <a class="main-logo active" href="" style="font-size:24px; font-weight:700;">
                교차로
            </a>
            <div class="left-nav">
                <a class="menu element" href="">사업소개</a>
                <a class="menu element" href="">자주묻는질문</a>
                <a class="menu element" href="">연수신청</a>
                <a class="menu element" href="">포인트충전</a>
                <div class="nav-divider"></div>
                <a class="menu element" href="">이용후기</a>
                <a class="menu element alert" href=""></a>
            </div>
            <div class="right-nav">
                <div class="right-nav-list">
                    <!-- <a class="right-nav-item" href="">
                        <img src="https://www.wishket.com/static/renewal/img/global/gnb-icon-help-normal.png" alt="">
                    </a>
                    <a class="right-nav-item" href="">
                        <img src="https://www.wishket.com/static/renewal/img/global/gnb-icon-alarm-new.png" alt="">
                    </a> -->
                    <a id="user-icon" class="right-nav-item " href="">
                        <img alt="" class="user-img" height="32px" src="https://www.wishket.com/static/img/default_avatar_c.png" width="32px">
                    </a>
                    <div id="dropdown" class="nav-dropdown">
                        <a class="nav-dropdown-item element" href="">
                            <img src="https://www.wishket.com/static/renewal/img/global/icon_menu_home.png" alt="">
                            마이페이지
                        </a>
                        <div class="nav-divider"></div>
                        <a class="nav-dropdown-item element" href="">
                            <img src="https://www.wishket.com/static/renewal/img/global/icon_menu_user.png" alt="">
                            포인트조회
                        </a>
                        <div class="nav-divider"></div>
                        <a class="nav-dropdown-item element" href="">
                            <img src="https://www.wishket.com/static/renewal/img/global/icon_menu_setting.png" alt="">
                            연수내역
                        </a>
                        <div class="nav-divider"></div>
                        <a class="nav-dropdown-item element" href="">
                            <img src="https://www.wishket.com/static/renewal/img/global/icon_menu_bell.png" alt="">
                            나의후기
                        </a>
                        <div class="nav-divider"></div>
                        <a class="nav-dropdown-item element" href="">
                            <img src="https://www.wishket.com/static/renewal/img/global/icon_menu_logout.png" alt="">
                            로그아웃
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="sub-nav-client">
        <div class="container">
            <div class="left-nav">
                <a class="sub-menu element" href="">검수 중</a>
                <a class="sub-menu element" href="">지원자 모집 중</a>
                <a class="sub-menu element" href="">진행 중인 프로젝트</a>
                <a class="sub-menu element" href="">종료된 프로젝트</a>
            </div>
        </div>
    </section> -->
</header>
<!-- header fin -->
    <div class="gaia">
        <div class="container">
                 <!-- 메인시작  -->
                 <div class="project-create-form-section" style="margin: 0 0 0 13.5%">
                    <div class="form-section-header" style="padding: 15px 32px;">
                        <p class="form-section-title subtitle-1">환전이 성공적으로 완료되었습니다!</p>
                    </div>
                    <div class="form-input-section">
                        <div class="form-group-light">
                            <label class="form-group-title body-1-bold">보유 포인트</label>
                            <div class="form-content mb16">
                                    <div class="text-input-client2  ">
                                        <div>
                                            <input class="theme-client wishket-text" data-type="text" maxlength="30" name="title" placeholder="현재 보유하신 포인트는 0p입니다." type="text" value="">
                                        </div>
                                    </div>
                                    <div class="button-space">
                                        <button class="btn btn-client btn-11-24 btn-right" name="can_submit" type="submit" value="False" style="margin-left: 2%;">
                                       메인화면
                                      </button>
                                      </div>
                                      <!-- <div class="button-space">
                                        <button class="btn btn-client btn-11-24 btn-right" name="can_submit" type="submit" value="False">
                                       마이페이지
                                      </button>
                                      </div> -->
                            </div>  
                        </div>

                    </div>
                 </div>
                 <!-- 메인 끝  -->

        </div>
     </div>   
    </body>
    <script src="../../static/js/form/form.js"></script>
    <script src="../../static/js/components/header-client.js"></script>
</html>