<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <title>환전 완료</title>
    <link rel="stylesheet" href="/css/form/form.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/css/point/buyPoint.css">
    <link rel="stylesheet" href="/font/NotoSansKR-Regular.woff">
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="shortcut icon" href="/images/logo.png">
    <link rel="shortcut icon" href="/images/components/favicon-logo-white.png">

</head>
<body>
<!-- header 시작 -->
<div th:insert="~{/components/header-client :: header-client}"></div>
<!-- header 끝 -->
    <div class="gaia">
        <div class="container">
                 <!-- 메인시작  -->
                 <div class="project-create-form-section" style="margin: 0 0 0 13.5%">
                    <div class="form-section-header" style="padding: 15px 32px;">
                        <p class="form-section-title subtitle-1">환전이 성공적으로 완료되었습니다!</p>
                    </div>
                    <div class="form-input-section">
                        <div class="form-group-light">
                            <label class="form-group-title body-1-bold">보유 포인트</label>
                            <div class="form-content mb16">
                                    <div class="text-input-client2  ">
                                        <div>
                                            <input class="theme-client wishket-text" data-type="text" maxlength="30" name="title" placeholder="현재 보유하신 포인트는 0p입니다." type="text" value="">
                                        </div>
                                    </div>
                                    <div class="button-space">
                                        <button class="btn btn-client btn-11-24 btn-right" name="can_submit" type="submit" value="False" style="margin-left: 2%;">
                                       메인화면
                                      </button>
                                      </div>
                                      <!-- <div class="button-space">
                                        <button class="btn btn-client btn-11-24 btn-right" name="can_submit" type="submit" value="False">
                                       마이페이지
                                      </button>
                                      </div> -->
                            </div>  
                        </div>

                    </div>
                 </div>
                 <!-- 메인 끝  -->

        </div>
     </div>   
    </body>
    <script src="/js/form/form.js"></script>
    <script src="/js/components/header-client.js"></script>
</html>