@charset "UTF-8";

body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* main */
.module-container {
	position: relative;
	margin-left: 15.5vw;
	padding: 5.5rem 7rem 9rem 6rem;
	background-color: #fbfbfb;
	display: grid;
	grid-auto-rows: minmax(100px, auto);
	column-gap: 1.5rem;
	row-gap: 1.5rem;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas: "s s a b" "c c c c" "d d f f"
}

.module {
	border-radius: 10px;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.module--search {
	/* 	position: absolute; */
	grid-area: s;
	width: 110%;
	height: 100%;
	display: flex;
	align-items: center;
}

.search__searchbox {
	display: flex;
	align-items: center;
	width: 100%;
}

.desktop-only {
	position: absolute;
    grid-area: d;
    bottom: 77%;
    font-size: 17px;
    maring: 0 0 0px 0px;
    letter-spacing: 9px;
}

#searchbox {
	position: absolute;
}

.search__searchbox__form {
	position: relative;
	display: flex;
	width: 85%;
}

#searchbox {
	display: block;
	width: 93%;
	margin: 0 auto;
	padding-left: 2em;
	font-size: 15px;
	line-height: 3em;
	background-color: #fff;
	color: #434343;
	border-radius: 16px;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
}

#searchbox:hover, #searchbox:focus {
	border: 2px solid #000;
}

.search__searchbox__button {
	position: absolute;
	top: 1.1em;
	right: 8%;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	cursor: pointer;
}

.search__searchbox__button>img {
	width: 100%;
	height: 100%;
}

/* modules */
.module--user-summary:hover {
	background-color: #ddd;
	border-radius: 5px;
}

.module--user-controller:hover {
	background-color: #ddd;
	border-radius: 5px;
}

.module--user-summary {
	position: absolute;
	grid-area: a;
	width: 112px;
	height: 44px;
	/* text-align: center; */
	/* width: 94%; */
	margin: 0 auto;
	top: 17%;
	right: 28%;
	padding-left: 3.8em;
	font-size: 15px;
	line-height: 3em;
	background-color: #fff;
	color: #434343;
	border-radius: 16px;
	box-shadow: 0px 3px 4px rgb(0 0 0/ 10%);
}

.module--user-controller {
	position: absolute;
	/*  top: 60%;
    left: -45%; */
	grid-area: b;
	/* font-size: 18px; */
	width: 43%;
	height: 42%;
	/* text-align: center; */
	/* width: 94%; */
	margin: 0 auto;
	top: 46%;
	right: 5%;
	padding-left: 3.8em;
	font-size: 15px;
	line-height: 3em;
	background-color: #fff;
	color: #434343;
	border-radius: 16px;
	box-shadow: 0px 3px 4px rgb(0 0 0/ 10%);
	height: 42%;
	/* text-align: center; */
	/* width: 94%; */
	margin: 0 auto;
	top: 46%;
	right: 5%;
}

.buttonWrapper {
	width: 70px;
	height: 40px;
	position: relative;
	text-align: center;
}

#deleteButton {
	background-color: #fcfcfc;
	width: 65px;
	height: 30px;
	border: 1px solid #cbcbcb;
	color: #999;
	position: relative;
	border-color: #e5e5e5;
}

.module--user-list {
	grid-area: c;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 2em;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* user-title */
.user-list__title-container {
	position: relative;
	width: 100%;
	/* padding: 0.6em 1.4em; */
}

/* .user-list__title-container::after {
	display: block;
	position: absolute;
	bottom: -0.2em;
	content: "";
	margin: 0 1.2em;
	width: calc(100% - 2.4em);
	height: 1px;
	background-color: rgba(0, 0, 0, 0.3);
} */
.user-list__title-unit {
	width: 100%;
	display: flex;
	font-weight: 600;
	border-bottom: 1px solid;
}

#title__checkbox {
	margin: 0.6em 1.4em 0.4em;
}

.user-list__title {
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	margin: 0.6em 0 0.4em;
}

/* user-info */
.user-list__info-container {
	width: 100%;
	margin-top: 0.2em;
}

.user-list__info-container:hover {
	background-color: #ddd;
	border-radius: 5px;
}

.user-list__info-unit {
	width: 100%;
	display: flex;
}

.user-list__info-unit:hover {
	background-color: #ddd;
	border-radius: 5px;
}

.user__checkbox {
	margin: 0.6em 1.4em;
}

.user__checkbox--label {
	width: 100%;
	margin: 0.6em 0;
	display: flex;
}

.content _tbody {
	width: 100%;
	display: inline-flex;
	flex-direction: row;
}

.title__id {
	flex: 0.7;
}

.title__name {
	flex: 0.5;
}

.title__user-id {
	flex: 1;
}

.title__email {
	flex: 1.5;
}

.title__phone {
	flex: 1.2;
}

.title__join {
	flex: 0.8;
}

.title__recent {
	flex: 0.5;
}

.title__status {
	flex: 0.5;
}

.title__detail {
	flex: 0.6;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.user__id {
	flex: 0.7;
}

.user__name {
	flex: 0.5;
}

.user__user-id {
	flex: 1;
}

.user__email {
	flex: 1.5;
}

.user__phone {
	flex: 1.2;
}

.user__join {
	flex: 0.8;
}

.user__recent {
	flex: 0.5;
}

.user__status {
	flex: 0.5;
}

.user__detail {
	flex: 0.6;
}

.user-list__info {
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	margin: 0.6em 0 0.4em;
}

#user__checkbox {
	margin: 0.6em 1.4em 0.4em;
}

/* 스크롤 바*/
#scroll {
	overflow: auto;
	width: 100%;
	margin: 1px 0px 0px 0px;
}

#scroll::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
	display: none;
}

#scroll::-webkit-scrollbar-thumb {
	background-color: #aaa;
}

#scroll::-webkit-scrollbar-track {
	background-color: #F5F5F5;
}

/* 버튼 */
.btn-16 {
	border: none;
	color: #000;
	background-color: transparent;
	border-radius: 10px;
}

.btn-16:hover {
	color: #ff2c2c;
}

/* 1,2,3,4 페이지 버튼 */
@media screen and (min-width: 769px) {
	.board .desktop-only {
		display: block;
	}
}

.board div, .board input, .board a {
	box-sizing: border-box;
}

div {
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 769px) {
	.board-footer .pagination .prev-page {
		margin-right: 16px;
	}
}

.board-footer .pagination .prev-page {
	left: 0;
}

@media screen and (min-width: 769px) {
	.board-footer .pagination .prev-page, .board-footer .pagination .next-page
		{
		position: static;
	}
}

.board-footer .pagination button {
	padding: 0;
	width: 36px;
	height: 36px;
	font-size: 21px;
}

button {
	border-radius: 0;
	cursor: pointer;
	background: none;
	color: inherit;
	vertical-align: baseline;
	font: inherit;
	appearance: auto;
	writing-mode: horizontal-tb !important;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: center;
	aligsn-items: flex-start;
}

@media screen and (min-width: 769px){
.board-footer .pagination .prev-page>span, .board-footer .pagination .next-page>span {
    display: block;
}}

.board-footer .pagination .page span {
    margin-right: 13px;
    margin-left: 13px;
}

.board .text-hidden {
    margin-top: -1px;
    height: 1px;
    overflow: hidden;
    text-indent: -9999px;
}

span{
	margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
}

.board-footer .pagination .page a.current {
    color: #34383a;
    font-weight: 500;
}

.board-footer .pagination .page a {
    display: inline-block;
    width: 32px;
    line-height: 34px;
    color: #7c8288;
}



