<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>신청하기</title>
    <link rel="stylesheet" href="/css/form/form.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"/>
    <link rel="stylesheet" href="/css/point/buyPoint.css"/>
    <link rel="stylesheet" href="/font/NotoSansKR-Regular.woff"/>
    <link rel="stylesheet" href="/css/components/header.css"/>
    <link rel="stylesheet" href="/css/board/board-write.css">
    <link rel="stylesheet" href="/css/board/boardWrite.css">
    <link rel="shortcut icon" href="/images/logo.png"/>
    <link rel="shortcut icon" href="/images/components/favicon-logo-white.png">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

</head>
<body>
<!-- header 시작-->
<div th:insert="~{/components/header-client :: header-client}"></div>
<!-- header 끝 -->
<!-- 모달 창 -->
<div class="modal-wrapper">
    <div class="modal-content">
        <!-- <h2 class="modal-title">경고</h2> -->
        <p class="modal-message" style="margin-bottom: 35px;">포인트가 부족합니다.</p>
        <a class="modal-close-btn" href="/points/buy-point">충전하러 가기</a>
    </div>
</div>
<!-- 모달 창 -->
<div class="gaia">
    <div class="container">
        <!-- 사이드  -->
        <div class="submit-progress">
            <div class="project-status-box">
                <a
                        class="back-to-before link-text"
                        onclick="exitWithSubmit('temporary_project_phase_1', 'False')"
                        style="cursor: pointer"
                >
                    <!--  <img
                       class="back-to-before-img"
                       src="https://www.wishket.com/static/renewal/img/project/submit/btn_icon_back_s.png"
                     />
                     <p class="back-to-before-title body-1-medium">저장 후 나가기</p> -->
                </a>
                <p class="menu-title subtitle-1-medium mb4">연수 정보등록</p>
                <!--  <p class="saved-status body-2" data-saved-time="2023-03-10 16:42:57" id="submit_saved_time_picker">2일 전에 임시 저장</p> -->
            </div>
            <div class="input-group-status">
                <p class="status-main-menu body-2">연수 정보등록 <img class="status-mark" src=""/></p>
                <div class="status-sub-menu">
                    <p class="status-sub-menu-title active" style="background-color: #95abee26;">
                        1. 정보 입력 및 코스 선택
                        <img
                                class="status-mark"
                                src="https://www.wishket.com/static/renewal/img/project/submit/tab_icon_check_on_c.png"
                                style="display: none"
                        />
                        <!-- <img class="status-mark" src="https://www.wishket.com/static/renewal/img/project/submit/tab_icon_check_on_c.png" > -->
                    </p>
                    <p class="status-sub-menu-title">
                        2. 지역 및 요일 선택
                        <img class="status-mark" src=""/>
                    </p>
                    <p class="status-sub-menu-title">
                        3. 완료
                        <img class="status-mark" src=""/>
                    </p>
                </div>
            </div>
        </div>
        <!-- 사이드 끝-->

        <!-- 메인시작  -->
<!--        <form action="/apply/apply-first" method="post" name="join" id="join">-->
        <form action="/apply/apply-first/send" method="post" name="join" id="join">
            <div class="project-create-form-section">
                <div class="form-section-header">
                    <p class="form-section-title subtitle-1">1. 정보 확인 및 코스 선택</p>
                </div>
                <div class="form-input-section">
                    <div class="form-group-light">
                        <label class="form-group-title body-1-bold ">신청자 이름</label>
                        <div class="form-content mb16">
                            <div>
                                <div class="text-input-client list">
                                    <span th:text="${members.memberName}">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group-light">
                        <label class="form-group-title body-1-bold">핸드폰 번호</label>
                        <div class="form-content mb16">
                            <div>
                                <div class="text-input-client list">
                                    <span th:text="${members.memberPhone}">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group-light">
                        <label class="form-group-title body-1-bold">보유포인트</label>
                        <div class="form-content mb16">
                            <div>
                                <div class="text-input-client list">
                                    <span th:text="${members.memberPoint}" id="memberPoint">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group-light">
                        <label class="form-group-title body-1-bold">신청 코스</label>
                        <p class="body-2 text900 form-group-guide">원하시는 코스를 선택해 주세요. (기본 A코스입니다)</p>
                        <div class="form-content">
                            <!-- 코스 -->
                            <div class="select-card client-input" style="width: 200px; margin-right: 20px">
                                <label class="termscheckbox" id="termscheckbox">
                                    <input
                                            id="acourse "
                                            name="category"
                                            type="radio"
                                            value="A"
                                            class="error"
                                            checked="checked"
                                    />
                                    <div class="select-card-content">
                                        <img
                                                class="select-card-img inherit-select-card-img"
                                                src="/img/courseA.png"
                                        />
                                        <p class="body-2-medium">A코스 (시내주행)<br/>50000p</p>
                                    </div>
                                </label>
                            </div>
                            <div
                                    class="select-card client-input div2"
                                    style="width: 200px; margin-right: 20px"
                            >
                                <label class="termscheckbox2" id="termscheckbox2">
                                    <input
                                            id="bcourse"
                                            name="category"
                                            type="radio"
                                            value="B"
                                            class="error"
                                    />
                                    <div class="select-card-content">
                                        <img
                                                class="select-card-img inherit-select-card-img"
                                                src="/img/courseB.png"
                                        />
                                        <p class="body-2-medium">B코스 (시내,고속주행)<br/>100000p</p>
                                        <input id="applyCourse" name="applyCourse" type="text" style="display: none;">
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>


                </div>

                <!-- 다음 -->
                <div class="form-section-footer" style="position: relative">
                    <a
                            class="signup-submit-button btn btn-client btn-11-24 btn-right"
                            name="can_submit"
                            type="button">다음
                        <!--th:href="@{/apply/apply-second}"-->
                    </a>
                    <a
                            class="signup-submit-button btn btn-client btn-11-24 btn-right"
                            th:href="@{/main}"
                            style="margin: 0px 12px 0 0px;"
                            name="can_submit"
                            type="button"
                    >
                        이전
                    </a>
                    <div style="clear: both"></div>
                </div>
            </div>
        </form>
        <!-- 메인 끝  -->
        <script th:inline="javascript">
            const $submitBtn = $(".signup-submit-button");
            $submitBtn.on('click', function () {
                const $checkVal = $('input[name=category]:checked').val();
                console.log($checkVal);
                $('input[name=applyCourse]').attr('value',$checkVal);
                document.join.submit()
              /*  $.ajax({
                    url: '/apply/apply-second', //Controller에서 요청 받을 주소
                    type: 'post',
                    data: {applyCourse: $checkVal},
                    contentType: "application/json; charset=UTF-8",
                    dataType: "Text",
                    success : function(){
                        console.log("전송성공");

                    }
                })*/

            });
            var memberPoint = $('#memberPoint').text(); //멤버 포인트 출력
            console.log(memberPoint);

            if(memberPoint <= 0){
                $('.modal-wrapper').show();
            }

        </script>

    </div>
</div>
</body>
<!--<script src="/js/form/Form1.js"></script>-->
<script src="/js/components/header-client.js"></script>
</html>
