<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
            rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
    <title>신청하기</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/font/NotoSansKR-Regular.woff">
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="shortcut icon" href="/images/logo.png">
    <link rel="shortcut icon" href="/images/components/favicon-logo-white.png">


    <link rel="stylesheet" href="/css/form/form.css"/>
</head>
<body>
<!-- header 시작-->
<div th:insert="~{/components/header-client :: header-client}"></div>
<!-- header 끝 -->

<div class="gaia">
    <div class="container">
        <!-- 사이드  -->
        <div class="submit-progress">
            <div class="project-status-box">
                <a
                        class="back-to-before link-text"
                        onclick="exitWithSubmit('temporary_project_phase_1', 'False')"
                        style="cursor: pointer"
                >
                    <!-- <img
                      class="back-to-before-img"
                      src="https://www.wishket.com/static/renewal/img/project/submit/btn_icon_back_s.png"
                    />
                    <p class="back-to-before-title body-1-medium">저장 후 나가기</p> -->
                </a>
                <p class="menu-title subtitle-1-medium mb4">연수 정보등록</p>
                <!--  <p class="saved-status body-2" data-saved-time="2023-03-10 16:42:57" id="submit_saved_time_picker">2일 전에 임시 저장</p> -->
            </div>
            <div class="input-group-status">
                <p class="status-main-menu body-2">
                    연수 정보등록 <img class="status-mark" src=""/>
                </p>
                <div class="status-sub-menu">
                    <p class="status-sub-menu-title active">
                        1. 정보 입력 및 코스 선택
                        <img
                                class="status-mark"
                                src=""
                        />
                        <!-- <img class="status-mark" src="https://www.wishket.com/static/renewal/img/project/submit/tab_icon_check_on_c.png" > -->
                    </p>
                    <p class="status-sub-menu-title" style="background-color: #95abee26;">
                        2. 지역 및 요일 선택
                        <img class="status-mark" src=""/>
                    </p>
                    <p class="status-sub-menu-title">
                        3. 완료
                        <img class="status-mark" src=""/>
                    </p>
                </div>
            </div>
        </div>
        <!-- 사이드 끝-->

        <!-- 메인시작  -->
        <form action="/apply/apply-second" method="post" name="join" id="join">
            <div class="project-create-form-section">
                <div class="form-section-header">
                    <p class="form-section-title subtitle-1">지역 및 요일 선택</p>
                </div>
                <div class="form-input-section">

                    <div class="form-group-light">
                        <label class="form-group-title body-1-bold">연수 지역</label>
                        <p class="body-2 text900 form-group-guide">원하시는 연수지역을 선택해 주세요.</p>
                        <div class="form-content selectBox">
                            <!-- 지역 선택 -->
                          <select class="select selectbox" name="sido1" id="sido1"></select>
                            <select class="select selectbox" name="gugun1" id="gugun1"></select>
                            <input id="applyLocation" name="applyLocation" value="A" type="text" style="display: none;">
                            <!-- 지역 선택 끝 -->
                        </div>
                        <em class="select-error error-message" style="padding: 5px 0 0 0px;">주소를 선택해주세요.</em>
                    </div>

                    <!-- 달력 -->
                    <div class="form-group-light">
                        <div class="form-content">
                            <label class="form-group-title body-1-bold" style="padding: 5px 0 0 0px;">신청 요일</label>
                            날짜 선택 :&nbsp;&nbsp;&nbsp;<input type="text" id="startDate" placeholder="20230402" name="applyDate"
                                                            class="date-select" autocomplete="off">
                        </div>
                        <em class="date-error error-message" style="padding: 5px 0 0 0px;">주소를 선택해주세요.</em>
                    </div>

                </div>
                <input type="hidden" th:value="${applyCourse}" name="applyCourse" id="applyCourse">


                <!-- 다음 -->
                <div class="form-section-footer" style="position: relative">
                    <button
                            class="signup-submit-button btn btn-client btn-11-24 btn-right"
                            th:href="@{/apply/apply-third}"
                            name="can_submit"
                            style="pointer-events: none;
                cursor: default;
                opacity: 0.45;"
                            type="button" onclick="send()">
                        다음
                    </button>
                    <button
                            class="signup-submit-button btn btn-client btn-11-24 btn-right"
                            th:href="@{/apply/apply-first}"
                            style="margin: 0px 12px 0 0px;"
                            name="can_submit"
                            type="button">
                        이전
                    </button>
                    <div style="clear: both"></div>
                </div>
            </div>
        </form>
        <!-- 메인 끝  -->
    </div>
</div>

</body>
<script src="/js/form/form.js"></script>
<script src="/js/form/Form2.js"></script>
<script src="/js/components/header-client.js"></script>
</html>
