<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <title>신청 제출양식</title>
    <link rel="stylesheet" href="../../static/css/form/form.css">
</head>
<body>
    <div class="gaia">
        <div class="container">

            <!-- 사이드  -->
            <div class="submit-progress">
                <div class="project-status-box">
                    <a class="back-to-before link-text" onclick="exitWithSubmit('temporary_project_phase_1', 'False')" style="cursor: pointer;">
                        <img class="back-to-before-img" src="https://www.wishket.com/static/renewal/img/project/submit/btn_icon_back_s.png">
                        <p class="back-to-before-title body-1-medium">저장 후 나가기</p>
                    </a>
                    <p class="menu-title subtitle-1-medium mb4">프로젝트 정보 등록</p>
                   <!--  <p class="saved-status body-2" data-saved-time="2023-03-10 16:42:57" id="submit_saved_time_picker">2일 전에 임시 저장</p> -->
                </div>
                        <div class="input-group-status">
                            <p class="status-main-menu body-2">프로젝트 정보 등록
                                <img class="status-mark" src=""></p>
                            <div class="status-sub-menu">
                                <p class="status-sub-menu-title active">1. 신청자 이름 및 코스
                                <img class="status-mark" src="https://www.wishket.com/static/renewal/img/project/submit/tab_icon_check_on_c.png" style="display:none;" >
                                <!-- <img class="status-mark" src="https://www.wishket.com/static/renewal/img/project/submit/tab_icon_check_on_c.png" > -->
                            </p>
                            <p class="status-sub-menu-title">2. 준비 상태
                                <img class="status-mark" src="" >
                            </p>
                            <p class="status-sub-menu-title">3. 프로젝트 상세
                                <img class="status-mark" src="" >
                            </p>
                            <p class="status-sub-menu-title">4. 예산 및 일정
                                <img class="status-mark" src="" >
                            </p>
                            <p class="status-sub-menu-title">5. 미팅
                                <img class="status-mark" src="" >
                            </p>
                            <p class="status-sub-menu-title">6. 모집 요건
                                <img class="status-mark" src="" >
                            </p>
                            <p class="status-sub-menu-title">7. 추가 정보
                                <img class="status-mark" src="">
                            </p>
                        </div>
                        
                    </div>
                </div>