<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet"
        />
        <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />  
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>  
        <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
    <title>신청 제출양식</title>
    <link rel="stylesheet" href="../../static/css/form/form.css" />
  </head>
  <body>
    <div class="gaia">
      <div class="container">
        <!-- 사이드  -->
        <div class="submit-progress">
          <div class="project-status-box">
            <a
              class="back-to-before link-text"
              onclick="exitWithSubmit('temporary_project_phase_1', 'False')"
              style="cursor: pointer"
            >
              <img
                class="back-to-before-img"
                src="https://www.wishket.com/static/renewal/img/project/submit/btn_icon_back_s.png"
              />
              <p class="back-to-before-title body-1-medium">저장 후 나가기</p>
            </a>
            <p class="menu-title subtitle-1-medium mb4">연수 정보등록</p>
            <!--  <p class="saved-status body-2" data-saved-time="2023-03-10 16:42:57" id="submit_saved_time_picker">2일 전에 임시 저장</p> -->
          </div>
          <div class="input-group-status">
            <p class="status-main-menu body-2">
              연수 정보등록 <img class="status-mark" src="" />
            </p>
            <div class="status-sub-menu">
              <p class="status-sub-menu-title active">
                1. 정보 입력 및 코스 선택
                <img
                  class="status-mark"
                  src=""
                />
                <!-- <img class="status-mark" src="https://www.wishket.com/static/renewal/img/project/submit/tab_icon_check_on_c.png" > -->
              </p>
              <p class="status-sub-menu-title">
                2. 연수시간 및 지역
                <img class="status-mark" src="" />
              </p>
              <p class="status-sub-menu-title">
                3. 완료
                <img class="status-mark" src="" />
              </p>
            </div>
          </div>
        </div>
        <!-- 사이드 끝-->

        <!-- 메인시작  -->
        <div class="project-create-form-section">
          <div class="form-section-header">
            <p class="form-section-title subtitle-1">신청이 완료됐습니다.</p>
          </div>
          <div class="form-input-section">
            <div class="form-group-light">
              <div class="button-space">
                <button class="btn btn-client btn-11-24 btn-right" name="can_submit" type="submit" value="False" style="margin-left: 2%;">
               메인화면
              </button>
              </div>
              <div class="button-space">
                <button class="btn btn-client btn-11-24 btn-right" name="can_submit" type="submit" value="False">
               포인트 충전
              </button>
              </div>
            </div>
          </div>

          

          </div>
        </div>
        <!-- 메인 끝  -->
      </div>
    </div>

  </body>
  <script src="../../static/js/form/form.js"></script>
</html>
