@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR' !important;
    line-height: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font-smoothing: antialiased */
}

*:focus {
    outline: none
}

html {
    height: 100%;
    font-size: 16px;
}

body {
    height: 100%
}

a {
    text-decoration: none;
    color: #212121
}

ul {
    list-style: none
}

ul li {
    padding: 0;
    margin: 0
}

button {
    border: none;
    background: none
}

.container::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.element {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

/* 메인배너 */
.main-container {
    min-width: 1080px;
    height: auto;
    min-height: 70%;
}

.main-container::after {
    content: " ";
    display: block;
    clear: both;
}

body.main .introduction {
    padding: 64px 0 52px;
    background-color: #fff;
}

body.main .introduction .introduction-guide {
    padding-top: 50px;/* 위치 조정 */
    float: left;
    width: 360px;
    margin-right: 80px;
}

/* 메인배너 타이틀 */
.title-style {
    font-weight: 700;
    font-size: 44px;/* 메인배너 타이틀 폰트 수정 */
    line-height: 64px;
}

body.main .introduction .introduction-guide .guide-title {
    margin-bottom: 16px;
}

.body-style {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

body.main .introduction .introduction-guide .guide-body {
    margin-bottom: 32px;
    color: #616161;
}

/* 메인배너 버튼 */
.btn-btn {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border-radius: 4px;
    border: none;
}

.btn-style {
    font-weight: normal;
    border-radius: 4px;
    padding: 16px 32px;
    font-size: 18px;
    line-height: 26px;
}

.btn-color {
    background-color: #2099bb;
    color: #fff;
    border: #2099bb;
}

body.main .introduction .introduction-img {
    float: right;
}

.img-size {
    width: 640px;
    height: 460px;
}

/* 회원가입 배너 */
.signup-banner {
    padding: 36px 0;
    background-image: url('https://www.wishket.com/static/renewal/img/landing/ask_freelancer_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 120px;
}

.signup-guide {
    margin: 0 auto;
    width: 680px;
}

.guide-text {
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    float: left;
    margin-top: 6px;
    color: #fff;
}

.guide-btn {
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
    border-radius: 4px;
    padding: 11px 24px;
    background-color: #fff;
    color: #2099bb;
    float: right;
}


/* =====================================후기글===================================== */
body.main .main-review {
    background-color: #fff;
    padding: 80px 0;
}

.review-title {
    font-weight: 300;
    font-size: 32px;
    line-height: 48px;
}

body.main .main-review .review-nav {
    margin-top: 60px;
    border-bottom: 1px solid #e0e0e0;
}

.review-nav::after {
    content: "";
    display: table;
    clear: both;
}

body.main .main-review .review-nav .review-nav-detail {
    color: #212121;
    font-weight: bold;
    border-bottom: 2px solid #212121;
    margin-bottom: -1px;
    padding-top: 16px;
    padding-bottom: 16px;
    float: left;
    cursor: pointer;
    font-size: 16px;
    line-height: 26px;
}

body.main .main-review .review-list {
    margin-top: 25px;
}
/* 수정사항 시작 - 사진 넣기*/
.review-card {
    display: flex;
}

.review-info {
    width: 330px;
    margin-right: 10px;
}

.review-image {
    width: 140px;
    height: 140px;
}

/* 수정사항 끝 */

body.main .main-review .review-list .review-card {
    margin-bottom: 24px;
    margin-right: 24px;
    float: left;
    padding: 20px 24px 24px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.16);
    border-radius: 4px;
}

body.main .main-review .review-list .review-card:nth-child(2) {
    margin-right: 0;
}

body.main .main-review .review-list .review-card:nth-child(3) {
    margin-bottom: 0;
}

body.main .main-review .review-list .review-card:nth-child(4) {
    margin-right: 0;
    margin-bottom: 0;
}

/* 후기제목 : card-title */
.text-button {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
}

body.main .main-review .review-list .review-card .card-title {
    display: block;
    color: #2099bb;
    max-width: 480px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 후기정보 : card-info */
body.main .main-review .review-list .review-card .card-info {
    margin-top: 8px;
    margin-bottom: 16px;
}

/* icon */
body.main .main-review .review-list .review-card .card-info .user-icon, body.main .main-review .review-list .review-card .card-info .clock-icon {
    color: #424242;
    font-weight: 300;
}

.user-icon {
    color: #424242;
    width: 14px;
    height: 16px;
}

.clock-icon {
    color: #424242;
    width: 16px;
    height: 16px;  
}

.info-name, .info-date {
    color: #424242;
    margin-left: 5px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
}

.info-name+span, .info-date+span {
    color: #e0e0e0;
    margin-left: 6px;
    margin-right: 6px;
    font-weight: lighter;
}

.card-contents {
    font-size: 14px;
    font-weight: 400;
    width: 320px;
    color: #616161;
    height: 48px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 별점 */
.user-detail-bottom{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1rem;
    -webkit-font-smoothing: antialiased;
}

.star-score-box {
    display: inline-block;
    position: relative;
    top: 4px;
    margin-right: 8px;
    font-size: 16px;
    margin-bottom: 4px;
}

.stars {
    color: #ff6b21;
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 2px;
    background-repeat: no-repeat;
    background-image: url(https://www.wishket.com/static/renewal/img/partner/profile/icon_dashboard_star.png);
}

.review-score{
    font-size: 16px;
    line-height: 26px;
    font-weight : 700;
    color: #212121;
    display: flex;
    vertical-align: top;
}

/* ================================연수신청 진행============================= */
.process-guide {
    background-color: #f7fafc;
    padding: 80px 0 100px;
}

.process-guide-title {
    font-size: 32px;
    line-height: 48px;
    font-weight: 300;
}

.process-guide-box {
    width: 1080px;
    overflow-x: hidden;
}

.process-opacity-box {
    display: none;
    cursor: pointer;
    height: 532px;
    width: 320px;
    margin-top: 75px;
    content: "";
    position: absolute;
    margin-left: 1080px;
    z-index: 1;
    background: linear-gradient(to left, rgb(247, 250, 252), rgba(247, 250, 252, 0.7), rgba(247, 250, 252, 0));
}

.process-guide-content-list {
    padding-top: 155px;
    margin-right: -500%;
    overflow: hidden;
}

.process-guide-nav {
    margin-top: -80px;
    margin-right: -100%;
    position: absolute;
}

.process-line {
    float: left;
    border-top: 2px solid #e0e0e0;
}

.process-line.line-0 {
    width: 100px;
}

.process-line.line-1 {
    width: 220px;
}

.process-line.line-2 {
    width: 220px;
}

.process-line.line-3 {
    width: 220px;
}

.process-line.line-4 {
    width: 220px;
}

.process-text-group {
    margin-top: 27px;
    z-index: -1;
}

.process-text {
    color: #616161;
    width: 160px;
    text-align: center;
    float: left;
    cursor: pointer;
}

.text-0 {
    margin-left: 20px;
}

.process-text.active {
    color: #212121;
}

.text-1, .text-2, .text-3 {
    margin-left: 55px;
}

.process-btn-group {
    margin-top: -15px;
}

.btn-0 {
    margin-left: 84px;
}

.btn-1, .btn-2, .btn-3 {
    margin-left: 187px;
}

.process-btn {
    float: left;
    border: 2px solid #e0e0e0;
    background-color: #f7fafc;
    width: 30px;
    height: 30px;
    padding-top: 1px;
    padding-left: 1px;
    text-align: center;
    border-radius: 16px;
    cursor: pointer;
}

.process-btn.history {
    background-color: #fff;
    border-color: #2099bb;
    color: #616161;
}

.process-btn.active {
    background-color: #2099bb;
    border-color: #2099bb;
    color: #fff;
}

.process-guide-content {
    margin-left: 1px;
    background-color: #fff;
    border-radius: 8px;
    float: left;
    margin-bottom: 8px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);
}

.process-guide-content-box {
    width: 1080px;
}

.process-guide-content-text-box {
    float: left;
    padding: 42px 0 42px 48px;
}

.process-title {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.process-title-step {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #2099bb;
    margin-right: 10px;
}

.process-title-text {
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    margin-bottom: 24px;
}

ul li {
    padding: 0;
    margin: 0;
}

.process-guide-content-text-list li {
    margin-bottom: 8px;
}

.process-guide-content-text-list li::after {
    content: "";
    display: table;
    clear: both;
}

.process-guide-content-text-bullet {
    float: left;
    margin-top: 11px;
}

.process-guide-content-text-detail {
    float: left;
    color: #616161;
    margin-left: 8px;
    width: 480px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.process-guide-content-img {
    float: right;
}

.process-guide-content-box::after {
    content: "";
    display: table;
    clear: both;
}

.process-guide-footer-nav {
    border-top: 1px solid #e0e0e0;
    padding: 18px 48px;
}

.process-paginate {
    float: left;
    color: #9e9e9e;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.arrow-left-icon {
    width: 12.25px;
    height: 14px;
    color: #2099bb;
    opacity: .2;
    margin-right: 8px;
}

.next-page {
    float: right;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}

.next-page.active {
    cursor: pointer;
    color: #2099bb;
}

.arrow-right-icon {
    width: 12.25px;
    height: 14px;
    margin-left: 8px;
}

.process-guide-footer-nav::after {
    content: "";
    display: table;
    clear: both;
}

.process-guide-content+.process-guide-content {
    margin-left: 49px;
}

/* 연수신청 진행배너 */
.apply-btn {
    float: right;
    background-color: #2099bb;
    color: #fff;
    border: #2099bb;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border-radius: 4px;
    margin-top: -6px;
    margin-bottom: -6px;
    margin-right: -12px;
    padding: 6px 13px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}




.appeal-point {
    background-color: #fff;
    padding: 80px 0 100px;
}

.appeal-point-title {
    font-weight: 300;
    font-size: 32px;
    line-height: 48px;
}

.appeal-box-group {
    padding-top: 60px;
}

.appeal-box {
    width: 320px;
    float: left;
}

.appeal-box.with-mb {
    margin-bottom: 80px;
}

.appeal-image {
    margin-bottom: 12px;
}

.appeal-text {
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
}

.appeal-box+.appeal-box {
    margin-left: 60px;
}

.appeal-box:nth-child(4) {
    margin-left: 0;
}

