@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;700&display=swap');

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* header */
.page {
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 15.5vw;
  width: calc(100% - 12.5vw);
  padding: 0.5rem 3rem;
  height: 3rem;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5em;
  background-color: #fff;
  z-index: 40;
}

.page * {
  cursor: pointer;
}

.page-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  color: #bfbfbf;
}

.page-info__icon {
  width: 1.2em;
  height: 1.2em;
  object-fit: fill;
  margin-right: 0.6em;
}

.page-info--current {
  color: #000;
}

.page-language {
  margin-left: auto;
}

.page-language {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-language__icon {
  width: 1.2em;
  height: 1.2em;
  object-fit: fill;
  margin-right: 0.5em;
}

#language__selector {
  display: flex;
  align-items: flex-end;
  width: 4rem;
  height: 1.5rem;
  border: none;
  font-size: 18px;
}

#language__selector:focus,
#language__selector:hover {
  border: 0.8px solid #000;
  border-radius: 5px;
}

.PreviewButton_container__1P-_4 {
    display: inline;
    position: relative;
}

.Button_button__1e2A2.Button_md__1FRMG {
    padding: 0px 45px 0px 0px;
    /* line-height: 1.45; */
    font-size: 17px;
}

.Button_button__1e2A2.Button_primary__PxOJr {
    border-color: #ffffff;
    color: #696969;
}

.Button_button__1e2A2.Button_circular__3NpOv {
    border-radius: 999em;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
}

@media screen and (min-width: 480px) and (max-width: 767px) {
}

@media screen and (max-width: 479px) {
  .page {
    width: 100%;
    left: auto;
  }
}