<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crossroads.app.mapper.BoardFileMapper">
    <select id="select" resultType="boardFileVO">
        select file_id, file_original_name, file_uuid, file_path, file_size, board_id
        from tbl_board_file
        where board_id = #{boardId}
    </select>
</mapper>