<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crossroads.app.mapper.BoardFileMapper">
    <select id="select" resultType="boardFileVO">
        select file_id, file_original_name, file_uuid, file_path, file_size, board_id
        from tbl_board_file
        where board_id = #{boardId}
    </select>

    <delete id="deleteByBoardId">
        delete from tbl_board_file
        where board_id = #{boardId}
    </delete>

<!--    &lt;!&ndash; 마이페이지 파일 불러오기 &ndash;&gt;-->
<!--    <select id="selectByBoardId" resultType="boardFileVO">-->
<!--        select board_file_id, board_file_original_name, board_file_uuid, board_file_path, board_file_size, board_id-->
<!--        from tbl_board_file-->
<!--        where board_id = #{boardId};-->
<!--    </select>-->
</mapper>