<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crossroads.app.mapper.BoardMapper">

    <!--  PageDTO인지 SearchDTO인지 판별  -->
<!--    <sql id="searchType">-->
<!--        <choose>-->
<!--            <when test="page.IS_SEARCH_DTO">-->
<!--                <bind name="dto" value="page"/>-->
<!--            </when>-->
<!--            <otherwise>-->
<!--                <bind name="dto" value="page.searchDTO"/>-->
<!--            </otherwise>-->
<!--        </choose>-->
<!--        <include refid="searchContext"/>-->
<!--    </sql>-->
    <!--  조건에 맞는 테이블 검색조건  -->
<!--    <sql id="searchContext">-->
<!--        where-->
<!--        <trim prefixOverrides="and">-->
<!--            <foreach collection="dto.types" item="type">-->
<!--                <trim prefix="and">-->
<!--                    <choose>-->
<!--                        <when test="type == 'memberId'.toString()">-->
<!--                            member_id = #{dto.memberId}-->
<!--                        </when>-->
<!--                        <when test="type == 'keyword'.toString()">-->
<!--                            review_title like concat('%', #{dto.keyword}, '%')-->
<!--                        </when>-->
<!--                    </choose>-->
<!--                </trim>-->
<!--            </foreach>-->
<!--        </trim>-->
<!--    </sql>-->
    <!-- 어드민 목록 총 개수 -->
    <select id="selectCountAllAdmin" resultType="int">
        select count(board_id)
        from tbl_board
    </select>

    <!-- 어드민 목록 조회 -->
    <select id="selectAllAdmin" resultType="boardDTO">
        select b.board_id , m.member_name , b.board_title , b.board_content , b.board_register_date
        from tbl_member m join tbl_board b
            on m.member_id = b.member_id
            <!--<if test="keyword != null">
                <trim prefix="and (" suffix=")" prefixOverrides="or">
                    or b.member_name like concat('%', #{keyword}, '%')
                    or b.board_title like concat('%', #{keyword}, '%')
                    or b.board_content like concat('%', #{keyword}, '%')
                </trim>
            </if>-->
        order by b.board_id desc
        limit #{criteria.offset}, #{criteria.amount}
    </select>

    <delete id="deleteAdmin">
        delete from tbl_board
        where board_id = #{boardId}
    </delete>

    <select id="selectAll" resultType="boardDTO">
        select b.board_id , m.member_name , b.board_title , b.board_content , b.board_register_date
        from tbl_member m join tbl_board b
            on m.member_id = b.member_id
            order by b.board_id desc
    </select>
    <!-- 마이페이지 게시글 목록 -->
    <select id="selectAllMy" parameterType="long" resultType="boardDTO">
        select b.board_id , m.member_name , b.board_title , b.board_content , b.board_register_date
        from tbl_member m join tbl_board b
        on m.member_id = b.member_id
        where b.member_id = #{member_id}
        order by b.board_id desc
    </select>


</mapper>