<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crossroads.app.mapper.MemberMapper">
    <insert id="join">
    insert into tbl_member
    (member_identification, member_password, member_name, member_phone,
    member_email, member_file_system_name, member_type, member_drive_register_date, member_point)
    VALUES({#memberIdentification}, {#memberPassword},{#memberName},{#memberPhone},
    {#memberEmail},{#memberFileSystemName},{#memberType},{#memberDriveRegisterDate}, 0);
    </insert>

</mapper>