<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crossroads.app.mapper.PointMapper">
    <select id="selectPoint" resultType="long" parameterType="long">
        select member_point
        from tbl_member
        where member_id = #{memberId}
    </select>

    <update id="updatePoint" parameterType="long">
        update tbl_member
        set member_point = 0
        where member_id = #{memberId}
    </update>
    <!-- 마이페이지 포인트 내역 -->
    <select id="selectAllMyPoint" parameterType="long" resultType="pointDTO">
        select point_id, m.member_id, member_identification, point_status, point_update_date, point_point
        from tbl_member m join tbl_point p on m.member_id = p.member_id
        where m.member_id = #{memberId}
        order by point_update_date desc
    </select>
</mapper>